<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.activity.registration.AmActivityRelGoodsSkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.activity.registration.AmActivityRelGoodsSkuPo">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="activity_price" property="activityPrice" />
        <result column="activity_stock" property="activityStock" />
        <result column="goods_id" property="goodsId" />
        <result column="sku_id" property="skuId" />
        <result column="rel_id" property="relId" />
        <result column="sales_volume" property="salesVolume" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, del_flag, activity_price, activity_stock, goods_id, sku_id, rel_id
    </sql>
    <select id="getBoByIds" resultType="com.chauncy.data.bo.app.car.ActivitySkuBo">
        select s.sku_id,u.sell_price,g.activity_type,g.activity_id,g.buy_limit,s.activity_price,s.activity_stock,s.sales_volume
        from am_activity_rel_goods_sku s,am_activity_rel_activity_goods g,pm_goods_sku u
        where s.del_flag=0 and g.del_flag=0 and u.del_flag=0 and s.rel_id=g.id and g.verify_status=3 and s.sku_id=u.id
        and g.activity_end_time &lt;=NOW() and g.activity_start_time&gt;=NOW()
        and s.sku_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>


    <select id="getFullDiscountSkuBo" resultType="com.chauncy.data.bo.app.car.FullDiscountSkuBo">
        SELECT
        s.sku_id,
        g.activity_type,
        g.activity_id,
        g.buy_limit,
        r.reduction_full_money,
        r.reduction_post_money,
        u.sell_price
        FROM
        am_activity_rel_goods_sku s,
        am_activity_rel_activity_goods g ,
        am_reduced r,
        pm_goods_sku u
        WHERE
        s.del_flag = 0
        AND g.del_flag = 0
        AND r.del_flag=0
        and u.del_flag=0
        and s.sku_id=u.id
        AND s.rel_id = g.id
        and r.id=g.activity_id
        AND g.activity_type=1
        AND g.verify_status = 3
        AND g.activity_end_time &lt;= NOW( )
        AND g.activity_start_time &gt;= NOW( )
        AND s.sku_id IN
        <foreach collection = "ids" item = "id" separator="," open="(" close = ")" >
                 #{id}
         </foreach>
    </select>
    <select id="getIntegralPriceBo" resultType="com.chauncy.data.bo.app.activity.IntegralPriceBo">
        select s.sell_price,rs.activity_price
        FROM pm_goods_sku s,am_activity_rel_activity_goods rg,am_activity_rel_goods_sku rs
        where s.del_flag=0 and rg.del_flag=0 and rs.del_flag=0
        and s.goods_id=rg.goods_id and rg.id=rs.rel_id and rs.sku_id=#{skuId}
        and rg.verify_status=3 and rg.activity_start_time&lt;=NOW() and rg.activity_end_time&gt;=NOW()
        and s.id=#{skuId}
    </select>

</mapper>
