<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.activity.registration.AmActivityRelActivityGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.activity.registration.AmActivityRelActivityGoodsPo">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="activity_start_time" property="activityStartTime" />
        <result column="activity_end_time" property="activityEndTime" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="verify_status" property="verifyStatus" />
        <result column="activity_type" property="activityType" />
        <result column="store_id" property="storeId" />
        <result column="activity_id" property="activityId" />
        <result column="goods_id" property="goodsId" />
        <result column="verify_time" property="verifyTime" />
        <result column="verifier" property="verifier" />
        <result column="buy_limit" property="buyLimit" />
        <result column="picture" property="picture" />
        <result column="remark" property="remark" />
        <result column="modify_cause" property="modifyCause" />
        <result column="refuse_case" property="refuseCase" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, del_flag, verify_status, activity_type, store_id, activity_id, goods_id, verify_time, verifier, buy_limit, picture, remark, modify_cause, refuse_case
    </sql>
    <select id="searchSupplierActivity"
            resultType="com.chauncy.data.vo.supplier.activity.SearchSupplierActivityVo">
        select a.id as activity_id,a.name as activity_name,b.id as activityGoodsRelId,b.activity_type ,c.id as goods_id,c.name as goods_name,b.verify_status,
               b.modify_cause,b.refuse_case,d.name as brand,c.store_id,f.name as store_name,c.icon as goods_picture
        from ${tableName} a
        inner join am_activity_rel_activity_goods b on a.id = b.activity_id and b.del_flag = 0
        inner join pm_goods c on b.goods_id = c.id and c.publish_status = 1 and c.del_flag	= 0
        inner join pm_goods_rel_attribute_good e on e.goods_good_id = c.id and e.del_flag = 0
        inner join pm_goods_attribute d on d.type = 8 and e.goods_attribute_id = d.id and d.del_flag = 0
        inner join sm_store f on c.store_id = f.id and f.del_flag = 0
        where a.del_flag = 0
		<if test="storeId != null">
		  and f.id= #{storeId}
        </if>
        <if test="storeId == null">
            and b.verify_status != 7
        </if>
        <if test="t.storeId != null">
            and f.id= #{t.storeId}
        </if>
        <if test="t.storeName != null and t.storeName != ''">
            and f.name like concat('%', #{t.activityId} ,'%')
        </if>
        <if test="t.goodsId != null">
            and c.id= #{t.goodsId}
        </if>
        <if test="t.verifyStatus != null and t.verifyStatus != 0">
            and b.verify_status= #{t.verifyStatus}
        </if>
        <if test="t.goodsName != null and t.goodsName != ''">
            and c.name like concat('%', #{t.verifyStatus} ,'%')
        </if>
        <if test="t.activityName != null and t.activityName != ''">
            and a.name like concat('%', #{t.activityName} ,'%')
        </if>
    </select>
    <select id="findGoodsActivity"
            resultType="com.chauncy.data.domain.po.activity.registration.AmActivityRelActivityGoodsPo">
        select a.*
        from am_activity_rel_activity_goods a,pm_goods b
        where a.del_flag = 0 and b.del_flag = 0 and a.activity_end_time &gt;= NOW() and a.activity_start_time &lt;= NOW()
        and b.id = a.goods_id and b.publish_status = 1 and a.verify_status = 3 and b.id = #{goodsId};

    </select>
    <select id="findPreSeckill"
            resultType="com.chauncy.data.domain.po.activity.registration.AmActivityRelActivityGoodsPo">

        select a.*
        from am_activity_rel_activity_goods a,pm_goods b
        where a.del_flag = 0 and b.del_flag = 0 and a.activity_start_time &lt;= date_add(NOW(), interval 1 DAY) and a.activity_start_time &gt;= NOW()
        and b.id = a.goods_id and b.publish_status = 1 and a.activity_type = 3 and a.verify_status = 3 and b.id = #{goodsId};

    </select>

</mapper>
