<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.activity.registration.AmActivityRelActivityGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.activity.registration.AmActivityRelActivityGoodsPo">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="activity_start_time" property="activityStartTime" />
        <result column="activity_end_time" property="activityEndTime" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="verify_status" property="verifyStatus" />
        <result column="activity_type" property="activityType" />
        <result column="store_id" property="storeId" />
        <result column="activity_id" property="activityId" />
        <result column="goods_id" property="goodsId" />
        <result column="verify_time" property="verifyTime" />
        <result column="verifier" property="verifier" />
        <result column="buy_limit" property="buyLimit" />
        <result column="picture" property="picture" />
        <result column="remark" property="remark" />
        <result column="modify_cause" property="modifyCause" />
        <result column="refuse_case" property="refuseCase" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, del_flag, verify_status, activity_type, store_id, activity_id, goods_id, verify_time, verifier, buy_limit, picture, remark, modify_cause, refuse_case
    </sql>
    <select id="searchSupplierActivity"
            resultType="com.chauncy.data.vo.supplier.activity.SearchSupplierActivityVo">
        select a.id as activity_id,a.name as activity_name,b.id as activityGoodsRelId,b.activity_type ,c.id as goods_id,c.name as goods_name,c.verify_status,d.name as brand
        from ${tableName} a,am_activity_rel_activity_goods b,pm_goods c,pm_goods_attribute d,pm_goods_rel_attribute_good e
        where a.id = b.activity_id and a.del_flag = 0 and b.del_flag = 0 and c.del_flag	= 0 and d.del_flag = 0 and e.del_flag = 0
		and b.goods_id = c.id and d.type = 8 and e.goods_good_id = c.id and e.goods_attribute_id = d.id
		<if test="storeId != null">
		  and b.store_id= #{storeId}
        </if>
    </select>
    <select id="findGoodsActivity"
            resultType="com.chauncy.data.domain.po.activity.registration.AmActivityRelActivityGoodsPo">
        select a.*
        from am_activity_rel_activity_goods a,pm_goods b
        where a.del_flag = 0 and b.del_flag = 0 and a.activity_end_time &lt;= NOW() and a.activity_start_time &gt;= NOW()
        and b.id = a.goods_id and b.publish_status = 1 and a.verify_status = 3 and b.id = #{goodsId};

    </select>

</mapper>
