<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.user.UmUserMapper">

    <!-- 通用查询映射结果 -->
    <update id="updateAdd">
        UPDATE `um_user`
        SET
        <if test="currentExperience!=null">
            `current_experience` = current_experience+#{currentExperience},
        </if>
        <if test="currentRedEnvelops!=null">
            `current_red_envelops` = current_red_envelops+#{currentRedEnvelops},
        </if>
        <if test="currentIntegral!=null">
            `current_integral` = current_integral+#{currentIntegral},
        </if>
        <if test="currentShopTicket!=null">
            `current_shop_ticket` =current_shop_ticket+ #{currentShopTicket},
        </if>
        <if test="totalConsumeMoney!=null">
            `total_consume_money` =total_consume_money+ #{totalConsumeMoney},
        </if>
        <if test="invitePeopleNum!=null">
            `invite_people_num` =invite_people_num+ #{invitePeopleNum},
        </if>
        <if test="currentRedEnvelops!=null">
            `total_red_envelops` =total_red_envelops+ #{currentRedEnvelops},
        </if>
        <if test="currentIntegral!=null">
            `total_integral` =total_integral+ #{currentIntegral},

        </if>
        <if test="currentShopTicket!=null">
            `total_shop_ticket` =total_shop_ticket+ #{currentShopTicket},
        </if>
        <if test="totalOrder!=null">
            `total_order` =total_order+ #{totalOrder},
        </if>
        id=#{id}
        WHERE
        `id` = #{id};


    </update>

    <!-- 通用查询结果列 -->
    <update id="updateUmUser">
        update um_user set
        <if test="t.memberLevelId!=0">
            member_level_id=#{t.memberLevelId},
        </if>
        <if test="t.parentId!=0">
            parent_id=#{t.parentId},
        </if>
        store_id=#{t.storeId},
        commission_status=#{t.commissionStatus},
        current_red_envelops=#{t.currentRedEnvelops},
        current_integral=#{t.currentIntegral},
        current_shop_ticket=#{t.currentShopTicket},
        total_red_envelops=total_red_envelops+#{t.totalAddRedEnvelops},
        total_integral=total_integral+#{t.totalAddIntegral},
        total_shop_ticket=total_shop_ticket+#{t.totalAddShopTicket},
        update_by=#{currentUserName}
        where id=#{t.id}
    </update>

    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.user.UmUserPo">
        <id column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="invite_code" property="inviteCode"/>
        <result column="parent_id" property="parentId"/>
        <result column="store_id" property="storeId"/>
        <result column="commission_status" property="commissionStatus"/>
        <result column="enabled" property="enabled"/>
        <result column="login_times" property="loginTimes"/>
        <result column="recent_login_time" property="recentLoginTime"/>
        <result column="current_experience" property="currentExperience"/>
        <result column="current_red_envelops" property="currentRedEnvelops"/>
        <result column="current_integral" property="currentIntegral"/>
        <result column="current_shop_ticket" property="currentShopTicket"/>
        <result column="total_consume_money" property="totalConsumeMoney"/>
        <result column="invite_people_num" property="invitePeopleNum"/>
        <result column="total_red_envelops" property="totalRedEnvelops"/>
        <result column="total_integral" property="totalIntegral"/>
        <result column="total_shop_ticket" property="totalShopTicket"/>
        <result column="total_order" property="totalOrder"/>
        <result column="member_level_id" property="memberLevelId"/>
        <result column="phone" property="phone"/>
        <result column="id_card" property="idCard"/>
        <result column="password" property="password"/>
        <result column="share_num" property="shareNum"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, del_flag, name, sex, invite_code, parent_id, store_id, commission_status, enabled, login_times, recent_login_time, current_experience, current_red_envelops, current_integral, current_shop_ticket, total_consume_money, invite_people_num, total_red_envelops, total_integral, total_shop_ticket, total_order, member_level_id, phone, id_card, password
    </sql>
    <update id="updateLogin">
             update um_user   set login_times=login_times+1,recent_login_time=now() where phone=#{phone}
    </update>
    <select id="loadSearchUserList" resultType="com.chauncy.data.vo.manage.user.list.UmUserListVo">
        SELECT
        u.id,
        u.phone,
        u.true_name,
        m.level_name,
        u.total_order,
        current_integral,
        total_red_envelops,
        total_consume_money,
        current_shop_ticket,
        total_shop_ticket,
        s.`name` storeName,
        u.parent_id parent,
        invite_people_num,
        recent_login_time,
        u.enabled,
        commission_status
        FROM
        um_user u
        INNER JOIN pm_member_level m ON u.member_level_id = m.id
        LEFT JOIN sm_store s ON u.store_id = s.id
        WHERE
        u.del_flag = 0
        AND m.del_flag = 0
        AND IF(s.del_flag is null, 1=1,s.del_flag = 0)
        <if test="id!=null and id!=0">
            AND u.id = #{id}
        </if>
        <if test="phone!=null and phone!=''">
            AND u.phone LIKE concat('%', #{phone}, '%')
        </if>
        <if test="trueName!=null and trueName!=''">
            AND u.true_name LIKE concat('%', #{trueName}, '%')
        </if>
        <if test="levelName!=null and levelName!=''">
            AND m.level_name LIKE concat('%', #{levelName}, '%')
        </if>
        <if test="enabled!=null ">
            AND u.enabled = #{enabled}
        </if>
        <if test="storeName!=null and storeName!=''">
            AND s.NAME LIKE concat('%', #{storeName}, '%')
        </if>
    </select>
    <select id="loadSearchIdCardVos" resultType="com.chauncy.data.vo.manage.user.idCard.SearchIdCardVo">
        select id,phone,name,true_name,id_card,front_photo,back_photo
        from um_user
        where del_flag=0
        and true_name is not null
        <if test="userId!=null and userId!=0">
            and id=#{userId}
        </if>

        <if test="phone!=null and phone!=''">
            and phone like concat('%', #{phone}, '%')
        </if>
        <if test="enabled!=null">
            and enabled=#{enabled}
        </if>
        <if test="startRecentLoginTime!=null">
            and recent_login_time&gt;=#{startRecentLoginTime}
        </if>
        <if test="endRecentLoginTime!=null">
            and recent_login_time&lt;=#{endRecentLoginTime}
        </if>


    </select>
    <select id="loadUserDataVo" resultType="com.chauncy.data.vo.app.user.UserDataVo">
        SELECT
            u1.photo,
            u1.NAME,
        CASE
                WHEN u1.sex IS NULL THEN
                ''
                WHEN u1.sex = 0 THEN
                '女' ELSE '男'
            END sex,
        IF
            ( u1.id_card IS NULL, 0, 1 ) isPass,
            u2.invite_code
        FROM
            um_user u1
            LEFT JOIN um_user u2 ON u1.parent_id = u2.id
        WHERE
            u1.phone = #{phone}
    </select>
    <select id="loadUserDetailVo" resultType="com.chauncy.data.vo.manage.user.detail.UmUserDetailVo">
        SELECT
            u.photo,
            u.phone,
            m.actor,
            m.level_name,
            u.id,
            u.enabled,
            u.NAME,
            u.sex,
            u.login_times,
            u.invite_code,
            u.create_time,
            u.parent_id parentName,
            u.recent_login_time,
            u.store_id,
            u.commission_status,
            `current_experience`,
            `current_red_envelops`,
            `current_integral`,
            `current_shop_ticket`,
            `total_consume_money`,
            `invite_people_num`,
            `total_red_envelops`,
            `total_integral`,
            `total_shop_ticket`,
            `total_order` ,
             IFNULL(m2.level_experience-current_experience,0) next_level_experience
        FROM
            um_user u
            INNER JOIN pm_member_level m ON u.member_level_id = m.id
            left join  pm_member_level m2 ON m.level+1=m2.`level`
        WHERE
            u.id = #{id} and u.del_flag=0 and m.del_flag=0 and
            IF(m2.level_experience is null,m2.del_flag is null,m2.del_flag =0)
    </select>
    <select id="getLabelNamesByUserId" resultType="java.lang.String">
        select IFNULL(GROUP_CONCAT(l.`name`),'') labelNames
        from um_user u,um_user_label l,um_rel_user_label ul
        where u.del_flag=0 and l.del_flag=0 and ul.del_flag=0
        and u.id=ul.user_id and l.id=ul.user_label_id
        and u.id=#{id}
    </select>
    <select id="getRelUsers" resultType="com.chauncy.data.vo.manage.user.detail.UmUserRelVo">
            WITH RECURSIVE childrenIds (id,true_name,phone) AS
                (
                SELECT id,true_name,phone
                FROM um_user
                WHERE
                    del_flag=0 and
                    parent_id=#{id}
                UNION ALL
                SELECT c.id,c.true_name,c.phone
                FROM childrenIds AS p JOIN um_user AS c
                ON p.id = c.parent_id
                where c.del_flag=0
                )
            SELECT id,true_name,phone FROM childrenIds
    </select>

    <select id="loadSearchUsers" resultType="com.chauncy.data.vo.manage.message.interact.push.UmUsersVo">
        <!-- SELECT
        u.id,
        u.phone,
        u.true_name,
        u.name
        FROM
        um_user u
        INNER JOIN pm_member_level m ON u.member_level_id = m.id
        LEFT JOIN sm_store s ON u.store_id = s.id
        WHERE
        u.del_flag = 0
        AND m.del_flag = 0
        AND IF(s.del_flag is null, 1=1,s.del_flag = 0)
        <if test="id!=null and id!=0">
            AND u.id = #{id}
        </if>
        <if test="phone!=null and phone!=''">
            AND u.phone LIKE concat('%', #{phone}, '%')
        </if>
        <if test="trueName!=null and trueName!=''">
            AND u.true_name LIKE concat('%', #{trueName}, '%')
        </if>
        <if test="levelId!=null and levelId!=0">
            AND m.id = #{levelId}
        </if>
        <if test="enabled!=null ">
            AND u.enabled = #{enabled}
        </if>
        <if test="storeName!=null and storeName!=''">
            AND s.NAME LIKE concat('%', #{storeName}, '%')
        </if>-->
        SELECT
        u.id,
        u.phone,
        u.true_name,
        u.name
        FROM
        um_user u
        WHERE
        u.del_flag = 0 and u.enabled = 1
        <if test="id!=null and id!=0">
            AND u.id = #{id}
        </if>
        <if test="phone!=null and phone!=''">
            AND u.phone LIKE concat('%', #{phone}, '%')
        </if>
        <if test="trueName!=null and trueName!=''">
            AND u.true_name LIKE concat('%', #{trueName}, '%')
        </if>
    </select>

    <select id="getUsersByIds" resultType="com.chauncy.data.vo.manage.message.interact.push.UmUsersVo">
        select id,phone,true_name,name
        from um_user
        where id in
        <foreach item="item" collection="userIds" separator="," open="(" close=")" index="">  #{item, jdbcType=INTEGER}
        </foreach>
    </select>

    <select id="getUserStoreId" resultType="java.lang.Long">
        WITH RECURSIVE childrenIds (id,store_id,parent_id) AS
        (
        SELECT id,store_id,parent_id
        FROM um_user
        WHERE
            del_flag=0 and
			id=#{userId}
        UNION ALL
        SELECT c.id,c.store_id,c.parent_id
        FROM childrenIds AS p JOIN um_user AS c
        ON p.parent_id = c.id
        where c.del_flag=0
        )
        SELECT store_id FROM childrenIds where store_id is not null limit 1
    </select>
    <select id="getPayUserMessage" resultType="com.chauncy.data.bo.manage.pay.PayUserMessage">
				WITH RECURSIVE temp (id,level,parent_id) AS
                (
                SELECT u.id,m.level,u.parent_id
                FROM um_user u,pm_member_level m
                WHERE
                    u.del_flag=0 and m.del_flag=0 and
                    u.member_level_id=m.id and u.id=#{userId}
                UNION ALL
                SELECT u1.id,m1.level,u1.parent_id
								FROM um_user u1,pm_member_level m1,temp t
								WHERE
								    u1.del_flag=0 and m1.del_flag=0
									AND u1.member_level_id=m1.id and u1.id=t.parent_id

                )
				SELECT u2.id userId,m2.level
                FROM um_user u2,pm_member_level m2
                WHERE
                    u2.del_flag=0 and m2.del_flag=0 and
                    u2.member_level_id=m2.id and u2.parent_id=#{userId}
                UNION ALL
                SELECT id,level FROM temp
    </select>

    <select id="getPacketPresent" resultType="java.math.BigDecimal">
        SELECT
            m.purchase_present
        FROM
            um_user u,
            pm_member_level m
        WHERE
            u.del_flag = 0
            AND m.del_flag = 0
            AND u.member_level_id = m.id
            AND u.id = #{userId}
    </select>
    <select id="getAllPhones" resultType="java.lang.String">
        select phone
        from um_user
        where del_flag=0
    </select>

</mapper>
