<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.user.UmUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.user.UmUserPo">
        <id column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="invite_code" property="inviteCode"/>
        <result column="parent_id" property="parentId"/>
        <result column="store_id" property="storeId"/>
        <result column="commission_status" property="commissionStatus"/>
        <result column="enabled" property="enabled"/>
        <result column="login_times" property="loginTimes"/>
        <result column="recent_login_time" property="recentLoginTime"/>
        <result column="current_experience" property="currentExperience"/>
        <result column="current_red_envelops" property="currentRedEnvelops"/>
        <result column="current_integral" property="currentIntegral"/>
        <result column="current_shop_ticket" property="currentShopTicket"/>
        <result column="total_consume_money" property="totalConsumeMoney"/>
        <result column="invite_people_num" property="invitePeopleNum"/>
        <result column="total_red_envelops" property="totalRedEnvelops"/>
        <result column="total_integral" property="totalIntegral"/>
        <result column="total_shop_ticket" property="totalShopTicket"/>
        <result column="total_order" property="totalOrder"/>
        <result column="member_level_id" property="memberLevelId"/>
        <result column="phone" property="phone"/>
        <result column="id_card" property="idCard"/>
        <result column="password" property="password"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, del_flag, name, sex, invite_code, parent_id, store_id, commission_status, enabled, login_times, recent_login_time, current_experience, current_red_envelops, current_integral, current_shop_ticket, total_consume_money, invite_people_num, total_red_envelops, total_integral, total_shop_ticket, total_order, member_level_id, phone, id_card, password
    </sql>

    <update id="updateLogin">
             update um_user   set login_times=login_times+1,recent_login_time=now() where phone=#{phone}
    </update>
    <select id="loadSearchIdCardVos" resultType="com.chauncy.data.vo.manage.user.idCard.SearchIdCardVo">
        select id,phone,name,true_name,id_card,front_photo,back_photo
        from um_user
        where del_flag=0
        and true_name is not null
        <if test="id!=null and id!=0">
            and id=#{id}
        </if>

        <if test="phone!=null and phone!=''">
            and phone like concat('%', #{phone}, '%')
        </if>
        <if test="enabled!=null">
            and enabled=#{enabled}
        </if>
        <if test="startRecentLoginTime!=null">
            and recent_login_time&gt;=#{startRecentLoginTime}
        </if>
        <if test="endRecentLoginTime!=null">
            and recent_login_time&lt;=#{endRecentLoginTime}
        </if>


    </select>
    <select id="loadUserDataVo" resultType="com.chauncy.data.vo.app.user.UserDataVo">
        SELECT
            u1.photo,
            u1.NAME,
        CASE
                WHEN u1.sex IS NULL THEN
                ''
                WHEN u1.sex = 0 THEN
                '女' ELSE '男'
            END sex,
        IF
            ( u1.id_card IS NULL, 0, 1 ) isPass,
            u2.invite_code
        FROM
            um_user u1
            LEFT JOIN um_user u2 ON u1.parent_id = u2.id
        WHERE
            u1.phone = #{phone}
    </select>

</mapper>
