<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.store.category.SmStoreCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.store.category.SmStoreCategoryPo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="del_flag" property="delFlag" />
        <result column="icon" property="icon" />
        <result column="sort" property="sort" />
        <result column="enabled" property="enabled" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, remark, create_time, create_by, update_time, update_by, del_flag, icon, sort, enabled
    </sql>


    <!-- 根据分类id，分类名称，是否启用状态分页查找店铺分类 -->
    <select id="searchPaging" resultType="com.chauncy.data.vo.manage.store.category.SmStoreCategoryVo">
        select <include refid="Base_Column_List"/> from sm_store_category
        <where>
            del_flag = 0
            <if test="id !=null and id !=''">
                and id = #{id}
            </if>
            <if test="name != null and name !=''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="enabled != null">
                and enabled =  #{enabled}
            </if>
        </where>
    </select>

    <select id="selectAll" resultType="com.chauncy.data.vo.manage.store.category.SmStoreCategoryVo">
        select <include refid="Base_Column_List"/>
        from sm_store_category
        where enabled = true and del_flag = 0
        order by create_time desc
    </select>

    <!-- 批量修改店铺分类是否启用状态 -->
    <update id="editCategoryStatus">
        update sm_store_category
        set enabled = #{enabled}
        where id in
        <foreach collection="id" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

</mapper>
