<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.message.information.MmInformationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.message.information.MmInformationPo">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="author" property="author" />
        <result column="enabled" property="enabled" />
        <result column="info_label_id" property="infoLabelId" />
        <result column="info_category_id" property="infoCategoryId" />
        <result column="store_id" property="storeId" />
        <result column="sort" property="sort" />
        <result column="cover_image" property="coverImage" />
        <result column="pure_text" property="pureText" />
        <result column="detail_html" property="detailHtml" />
        <result column="verify_status" property="verifyStatus" />
        <result column="browsing_num" property="browsingNum" />
        <result column="forward_num" property="forwardNum" />
        <result column="comment_num" property="commentNum" />
        <result column="liked_num" property="likedNum" />
        <result column="collection_num" property="collectionNum" />
        <result column="remark" property="remark" />
        <result column="verify_time" property="verifyTime" />
        <result column="verify_by" property="verifyBy" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, author, enabled, info_label_id, info_category_id, store_id, sort, cover_image, pure_text, detail_html, verify_status, browsing_num, forward_num, comment_num, liked_num, collection_num, remark, verify_time, verify_by, create_time, create_by, update_time, update_by, del_flag
    </sql>


    <select id="findById" resultType="com.chauncy.data.vo.manage.message.information.InformationVo">
        select mi.*, mil.`name` as infoLabelName, mic.`name` as infoCategoryName
        from mm_information mi left join mm_information_label mil on (mi.info_label_id = mil.id and mil.del_flag = 0)
            left join mm_information_category mic on (mi.info_category_id = mic.id and mic.del_flag = 0)
        where mi.id = #{id}
    </select>



    <select id="findBaseById" resultType="com.chauncy.data.vo.app.message.information.InformationBaseVo">
        SELECT mi.*, ss.name AS storeName, ss.`logo_image`, ss.collection_num, ss.store_describe
        FROM mm_information mi LEFT JOIN sm_store ss ON mi.`store_id` = ss.id
        WHERE mi.id = #{id} AND mi.del_flag = 0
    </select>


    <select id="searchInfoPaging" resultType="com.chauncy.data.vo.manage.message.information.InformationPageInfoVo">
        select mi.id,
            mi.title,
            mi.enabled,
            mi.sort,
            mi.verify_status,
            mi.update_time,
            mi.browsing_num,
            mi.forward_num,
            mi.comment_num,
            mi.liked_num,
            mi.collection_num,
            mil.name as infoLabelName,
            mic.name as infoCategoryName
        from mm_information mi
        left join mm_information_label mil on mil.id = mi.info_label_id
        left join mm_information_category mic on mic.id = mi.info_category_id
        <where>
            mi.del_flag = 0
            and mil.del_flag = 0
            and mil.del_flag = 0
            <if test="storeId != null">
                and mi.store_id = #{storeId}
            </if>
            <if test="id != null">
                and mi.id = #{id}
            </if>
            <if test="startTime != null">
                and date(mi.create_time) <![CDATA[>= ]]>  #{startTime}
            </if>
            <if test="endTime != null">
                and date(mi.create_time) <![CDATA[<= ]]> #{endTime}
            </if>
            <if test="name != null and name !=''">
                and mi.title like concat('%', #{name}, '%')
            </if>
        </where>
        order by mi.sort desc
    </select>


    <resultMap id="informationBaseResult" type="com.chauncy.data.vo.app.message.information.InformationPagingVo">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="cover_image" property="coverImage" />
        <result column="pure_text" property="pureText" />
        <result column="forward_num" property="forwardNum" />
        <result column="isForward" property="isForward" />
        <result column="comment_num" property="commentNum" />
        <result column="isComment" property="isComment" />
        <result column="liked_num" property="likedNum" />
        <result column="isLiked" property="isLiked" />
        <result column="update_time" property="updateTime" />
        <!-- collection定义关联集合类型的属性封装规则
        offType:指定集合中的元素类型
        -->
        <collection property="informationStoreInfo" ofType="com.chauncy.data.vo.app.message.information.InformationStoreInfoVo">
            <id column="storeId" property="storeId"/>
            <result column="logo_image" property="logoImage"/>
            <result column="storeName" property="storeName"/>
            <result column="storeLabels" property="storeLabels"/>
            <result column="collection_num" property="collectionNum"/>
            <result column="likedSum" property="likedSum"/>
            <result column="is_focus" property="isFocus"/>
        </collection>
    </resultMap>
    <select id="searchInfoBasePaging" resultMap="informationBaseResult">
        select mi.id,
            mi.title,
            LEFT(mi.pure_text,100) AS pureText ,
            mi.`cover_image`,
            mi.`forward_num`,
            mi.`comment_num`,
            mi.`liked_num`,
            mi.update_time,
            ss.`id` AS storeId,
            ss.`logo_image`,
            ss.`name` AS storeName,
            (
                SELECT GROUP_CONCAT(`ssl`.name)
                FROM sm_store_label `ssl` ,sm_store_rel_label ssrl
                WHERE `ssrl`.store_label_id = `ssl`.id
                AND `ssrl`.store_id = ss.`id`
                AND `ssl`.del_flag = 0
            ) AS storeLabels,
            ss.collection_num,
            (
                SELECT COUNT(mi1.liked_num)
                FROM mm_information mi1
                WHERE mi1.store_id = ss.id
            ) AS likedSum,
            (EXISTS
                (SELECT 1
                FROM um_user_favorites uuf
                WHERE uuf.favorites_id = ss.id
                AND uuf.`type` = '店铺'
                AND uuf.user_id = #{userId}
                AND uuf.del_flag = 0)
            ) AS is_focus,
            (EXISTS
                (SELECT 1
                FROM mm_information_comment mic
                WHERE mic.info_id = mi.id
                AND mic.user_id = #{userId}
                )
            ) as isComment,
            (EXISTS
                (SELECT 1
                FROM mm_information_liked mil
                WHERE mil.info_id = mi.id
                AND mil.user_id = #{userId}
                AND mil.del_flag = 0
                )
            ) as isLiked,
            (EXISTS
                (SELECT 1
                FROM mm_information_forward mif
                WHERE mif.info_id = mi.id
                AND mif.user_id = #{userId}
                )
            ) as isForward
        from mm_information mi
        LEFT JOIN sm_store ss
        ON mi.`store_id` = ss.id
        <if test="informationTypeEnum != null and informationTypeEnum.getId() == 1">
            left join um_user_favorites uuf on mi.store_id = uuf.favorites_id
        </if>
        <where>
            mi.del_flag = 0 and mi.verify_status = 3
            <if test="storeId !=null and storeId !=0 ">
                and mi.store_id = #{storeId}
            </if>
             <if test="infoLabelId !=null and infoLabelId !=0 ">
                and mi.info_label_id = #{infoLabelId}
            </if>
            <if test="infoCategoryId != null and infoCategoryId !=0">
                and mi.info_category_id = #{infoCategoryId}
            </if>
            <if test="keyword != null and keyword !=''">
                and (mi.title  like concat('%', #{keyword}, '%') or mi.pure_text  like concat('%', #{keyword}, '%'))
            </if>
            <if test="informationTypeEnum != null and informationTypeEnum.getId() == 1">
                and uuf.del_flag = 0 and uuf.user_id = #{userId}
            </if>
        </where>
        GROUP BY mi.id,ss.id
        <choose>
            <when test="informationTypeEnum != null and informationTypeEnum.getId() == 2">
                order by mi.sort desc
            </when>
            <otherwise>
                order by mi.browsing_num desc
            </otherwise>
        </choose>
    </select>
    <select id="selectRelGoodsIdsById" resultType="java.lang.Long">
        select mirg.goods_id
        from mm_information_rel_goods mirg
        where mirg.information_id = #{id}
        and mirg.del_flag = 0
    </select>

</mapper>
