<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.activity.reduced.AmReducedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.activity.reduced.AmReducedPo">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="picture" property="picture" />
        <result column="member_level_id" property="memberLevelId" />
        <result column="registration_start_time" property="registrationStartTime" />
        <result column="registration_end_time" property="registrationEndTime" />
        <result column="activity_start_time" property="activityStartTime" />
        <result column="activity_end_time" property="activityEndTime" />
        <result column="activity_ description" property="activityDescription" />
        <result column="activity_introduction" property="activityIntroduction" />
        <result column="activity_title" property="activityTitle" />
        <result column="activity_subtitle" property="activitySubtitle" />
        <result column="reduction_full_money" property="reductionFullMoney" />
        <result column="reduction_post_money" property="reductionPostMoney" />
        <result column="enable" property="enable" />
        <result column="group_id" property="groupId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, del_flag, name, sort, picture, member_level_id, registration_start_time, registration_end_time, activity_start_time, activity_end_time, activity_description, activity_introduction, activity_title, activity_subtitle, reduction_full_money, reduction_post_money, enable, group_id
    </sql>
    <select id="searchReduceList" resultType="com.chauncy.data.vo.manage.activity.SearchActivityListVo">
        select a.*,c.level_name as member_name
        from am_reduced a,pm_member_level c
        where a.del_flag = 0 and a.member_level_id = c.id
        <if test="id != null">
            and a.id = #{id}
        </if>
        <if test="name != null and name != ''">
            and a.name like concat('%', #{name} ,'%')
        </if>
        <if test="activityStatus != null">
            <if test="activityStatus == 1">
                and a.activity_start_time &gt; now()
            </if>
            <if test="activityStatus == 2">
                and a.activity_start_time &lt;= now() and now() &gt;= a.activity_end_time
            </if>
            <if test="activityStatus == 4">
                and now() &lt; a.activity_end_time
            </if>
        </if>
        <if test="registrationStatus != null">
            <if test="registrationStatus == 1">
                and a.registration_start_time &gt; now()
            </if>
            <if test="registrationStatus == 3">
                and a.registration_start_time &lt;= now() and now() &gt;= a.registration_end_time
            </if>
            <if test="registrationStatus == 4">
                and a.registration_start_time &gt; now()
            </if>
        </if>
        <if test="activityStartTime != null">
            and activity_start_time &gt;= #{activityStartTime}
        </if>
        <if test="activityEndTime != null">
            and activity_end_time &lt;= #{activityEndTime}
        </if>
        <if test="registrationStartTime != null">
            and registration_start_time &gt;= #{registrationStartTime}
        </if>
        <if test="registrationEndTime != null">
            and registration_end_time &lt;= #{registrationEndTime}
        </if>
        <if test="groupId != null">
            and group_id = #{groupId}
        </if>
        <if test="title != null and title != ''">
            and title like concat('%', #{title} ,'%')
        </if>
        <if test="subtitle != null and subtitle != ''">
            and subtitle like concat('%', #{subtitle} ,'%')
        </if>
    </select>

</mapper>
