<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.store.SmStoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.store.SmStorePo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="store_describe" property="storeDescribe" />
        <result column="user_name" property="userName" />
        <result column="show_status" property="showStatus" />
        <result column="store_type_label_id" property="storeTypeLabelId" />
        <result column="store_category_id" property="storeCategoryId" />
        <result column="type" property="type" />
        <result column="parent_id" property="parentId" />
        <result column="sort" property="sort" />
        <result column="owner_name" property="ownerName" />
        <result column="owner_mobile" property="ownerMobile" />
        <result column="logo_image" property="logoImage" />
        <result column="store_image" property="storeImage" />
        <result column="background_image" property="backgroundImage" />
        <result column="company_name" property="companyName" />
        <result column="company_addr" property="companyAddr" />
        <result column="company_mobile" property="companyMobile" />
        <result column="company_email" property="companyEmail" />
        <result column="legal_person" property="legalPerson" />
        <result column="tax_number" property="taxNumber" />
        <result column="cardholder" property="cardholder" />
        <result column="opening_bank" property="openingBank" />
        <result column="account" property="account" />
        <result column="bank_reserve_mobile" property="bankReserveMobile" />
        <result column="payment_bill_settlement_cycle" property="paymentBillSettlementCycle" />
        <result column="income_bill_Settlement_cycle" property="incomeBillSettlementCycle" />
        <result column="income_rate" property="incomeRate" />
        <result column="business_license" property="businessLicense" />
        <result column="enabled" property="enabled" />
        <result column="total_score" property="totalScore" />
        <result column="baby_describe_score" property="babyDescribeScore" />
        <result column="service_attitude_score" property="serviceAttitudeScore" />
        <result column="logistics_service_score" property="logisticsServiceScore" />
    </resultMap>


    <sql id="selectSmStoreBaseVo">
         ss.id, ss.`name`, ss.`type`, (case when ss.`type`=1 then '推广店铺' when ss.`type`=2 then '商品店铺' end) as typeName,
          ss.parent_id, ss.store_turnover, ss.store_member_num, ss.store_sub_num, ss.goods_num, ss.owner_mobile, ss.sort, ss.enabled
    </sql>

    <sql id="selectSmStoreBaseInfo">
         ss.id, ss.`name`, ss.`type`, (case when ss.`type`=1 then '推广店铺' when ss.`type`=2 then '商品店铺' end) as typeName,
          ss.store_describe, ss.user_name, ss.show_status, ss.store_label_id, ss.store_category_id, ss.parent_id, ss.sort, ss.owner_name,
          ss.owner_mobile, ss.logo_image, ss.store_image, ss.background_image, ss.total_score, ss.baby_describe_score,
          ss.service_attitude_score, ss.logistics_service_score,
          (select ssc.`name` from sm_store_category ssc where ssc.id = ss.store_category_id) as store_category_name,
          (select ssl.`name` from sm_store_label ssl where ssl.id = ss.store_label_id) as store_label_name

    </sql>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, store_describe, user_name, show_status, store_type_label_id, store_attribute_id, type, parent_id, sort, owner_name, owner_mobile, logo_image, store_image, background_image, company_name, company_addr, company_mobile, company_email, legal_person, tax_number, cardholder, opening_bank, account, bank_reserve_mobile, payment_bill_settlement_cycle, income_bill_Settlement_cycle, income_rate, business_license, enabled, total_score, baby_describe_score, service_attitude_score, logistics_service_score
    </sql>


    <update id="editStoreStatus">
        update sm_store
        set enabled = #{enabled}
        where id in
        <foreach collection="id" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="searchBaseInfo" resultType="com.chauncy.data.vo.manage.store.SmStoreBaseVo">
        select id, `name`, `type`, (case when `type`=1 then '推广店铺' when `type`=2 then '商品店铺' end) as typeName, parent_id,
        store_turnover, store_member_num, store_sub_num, goods_num, owner_mobile, sort, enabled, company_addr
        from sm_store
        <where>
            del_flag = 0
            <if test="id !=null and id !=''">
                and id = #{id}
            </if>
            <if test="name != null and name !=''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="mobile != null and mobile !=''">
                and owner_mobile = #{mobile}
            </if>
            <if test="enabled != null">
                and enabled = #{enabled}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
        </where>
    </select>



    <resultMap id="storeBaseResult" type="com.chauncy.data.vo.manage.store.StoreBaseInfoVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="typeName" property="typeName"/>
        <result column="store_describe" property="storeDescribe"/>
        <result column="user_name" property="userName"/>
        <result column="show_status" property="showStatus"/>
        <result column="store_label_id" property="storeLabelId"/>
        <result column="store_category_id" property="storeCategoryId"/>
        <result column="store_category_name" property="storeCategoryName"/>
        <result column="parent_id" property="parentId"/>
        <result column="sort" property="sort"/>
        <result column="owner_name" property="ownerName"/>
        <result column="owner_mobile" property="ownerMobile"/>
        <result column="logo_image" property="logoImage"/>
        <result column="store_image" property="storeImage"/>
        <result column="background_image" property="backgroundImage"/>
        <result column="total_score" property="totalScore"/>
        <result column="baby_describe_score" property="babyDescribeScore"/>
        <result column="service_attitude_score" property="serviceAttitudeScore"/>
        <result column="logistics_service_score" property="logisticsServiceScore"/>
        <!-- collection定义关联集合类型的属性封装规则
        offType:指定集合中的元素类型
        -->
        <collection property="pmGoodsBrandVoList" ofType="com.chauncy.data.vo.manage.product.PmGoodsBrandVo">
            <id column="attributeId" property="id"/>
            <result column="attributeName" property="name"/>
        </collection>
    </resultMap>
    <select id="findBaseById" resultMap="storeBaseResult">
        select <include refid="selectSmStoreBaseInfo"/>,pga.id as attributeId, pga.name as attributeName
        from sm_store ss left join sm_rel_store_attribute srsa on (ss.id = srsa.store_id and srsa.del_flag = 0)
        left join pm_goods_attribute pga on (srsa.attribute_id = pga.id and pga.type = 8 and pga.del_flag = 0)
        <where>
            <if test="id !=null and id !=''">
                and ss.id = #{id}
            </if>
        </where>
    </select>

    <select id="findAccountById" resultType="com.chauncy.data.vo.manage.store.StoreAccountInfoVo">
        select ss.*
        from sm_store ss
        <where>
            del_flag = 0
            <if test="id !=null and id !=''">
                and ss.id = #{id}
            </if>
        </where>
    </select>

    <select id="findStoreIdByName" resultType="Long">
        select id
        from sm_store
        where del_flag = 0 and user_name = #{userName}
    </select>


    <select id="selectAttributeIdsById" resultType="java.util.List">
        select pga.id
        from pm_goods pg, pm_goods_rel_attribute_good pgrag,pm_goods_attribute pga
        where pg.id = pgrag.goods_good_id and pga.id = pgrag.goods_attribute_id
        and pga.`type` = 8 and pg.store_id = #{id} and pg.del_flag = pgrag.del_flag = pga.del_flag = 0
    </select>

    <select id="searchRelStoreInfo" resultType="com.chauncy.data.vo.manage.store.RelStoreInfoVo">
        select id, `name`, `company_name`
        from sm_store
        <where>
            <if test="id !=null and id !=''">
                and id = #{id}
            </if>
            <if test="name != null and name !=''">
                and name like concat('%', #{name}, '%')
            </if>
        </where>
    </select>


</mapper>
