<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.order.OmEvaluateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.order.OmEvaluatePo">
        <id column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="order_id" property="orderId"/>
        <result column="sku_id" property="skuId"/>
        <result column="parent_id" property="parentId"/>
        <result column="description_start_level" property="descriptionStartLevel"/>
        <result column="ship_start_level" property="shipStartLevel"/>
        <result column="attitude_start_level" property="attitudeStartLevel"/>
        <result column="content" property="content"/>
        <result column="picture" property="picture"/>
        <result column="like_num" property="likedNum"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, del_flag, order_id, sku_id,parent_id,description_start_level,
        ship_start_level,attitude_start_level,content,picture,like_num
    </sql>

    <select id="getGoodsEvaluate" resultType="com.chauncy.data.vo.app.evaluate.GoodsEvaluateVo">
        <!--list a.photo as icon,a.name as nick_name,b.content,b.picture,b.id,ROUND((b.attitude_start_level+b.description_start_level+b.ship_start_level)/3) as startLevel
        from um_user a,om_evaluate b,om_order c
        <where>
            isNull(b.parent_id) and b.order_id = c.id and c.um_user_id=a.id
            <if test="t.skuId!=null">
                and b.sku_id=#{t.skuId}
            </if>
        </where>
        order by b.create_time-->
        select d.store_id,a.photo as icon,a.name as nick_name,b.content,b.picture,b.id,ROUND((b.attitude_start_level+b.description_start_level+b.ship_start_level)/3) as startLevel
                ,GROUP_CONCAT(CONCAT(h.`name`,":",g.`value`)) as sku,b.create_time as evaluate_time,b.liked_num
        from um_user a,om_evaluate b,om_order c,pm_goods d,pm_goods_sku e,pm_goods_rel_attribute_value_sku f,pm_goods_attribute_value g,pm_goods_attribute h
        where a.del_flag = 0 and b.del_flag = 0 and c.del_flag  = 0 and d.del_flag = 0 and e.del_flag = 0 and f.del_flag = 0 and g.del_flag = 0 and h.del_flag = 0
         and isNull(b.parent_id) and b.order_id = c.id and c.um_user_id=a.id and
              b.sku_id = e.id and d.id = e.goods_id and d.id = #{t.goodsId}
              and f.goods_sku_id = e.id and f.goods_attribute_value_id = g.id
              and h.id = g.product_attribute_id
              <if test="t.evaluateLevel == 1">
                  and (b.description_start_level = 5 OR b.description_start_level=4)
              </if>
              <if test="t.evaluateLevel == 2">
                  and b.description_start_level = 3
              </if>
              <if test="t.evaluateLevel == 3">
                  and (b.description_start_level = 1 OR b.description_start_level=2)
              </if>
              group by b.id
              order by b.liked_num desc
    </select>

    <select id="getPersonalEvaluate" resultType="com.chauncy.data.vo.app.evaluate.GoodsEvaluateVo">
        select a.photo as icon,a.name as nick_name,b.content,b.picture,b.sku_id,b.id
        from um_user a,om_evaluate b,om_order c
        <where>
            c.id = b.order_id and c.um_user_id = a.id and c.status = 4 and isNull(b.parent_id)
            <if test="userId !=null">
                and c.um_user_id = #{userId}
            </if>
        </where>
    </select>

    <select id="searchEvaluate" resultType="com.chauncy.data.vo.supplier.evaluate.SearchEvaluateVo">
        select b.id as user_id,b.name as nick_name,b.phone,c.name as goods_name,e.sku_id,e.id as evaluate_id,e.description_start_level,
               e.picture,e.content,e.create_time,a.id as order_id,GROUP_CONCAT(CONCAT(h.`name`,":",g.`value`)) as sku
        from om_order a,um_user b,pm_goods c,pm_goods_sku d,om_evaluate e,sm_store f,pm_goods_attribute_value g,pm_goods_attribute h,pm_goods_rel_attribute_value_sku i
        where a.del_flag = 0 and b.del_flag = 0 and c.del_flag = 0 and d.del_flag = 0 and e.del_flag = 0 and f.del_flag = 0 and g.del_flag = 0 and h.del_flag = 0 and i.del_flag = 0
         and a.status = 4 and a.id = e.order_id and e.sku_id = d.id and d.goods_id = c.id and a.um_user_id = b.id
                and i.goods_sku_id = d.id and i.goods_attribute_value_id = g.id and h.id = g.product_attribute_id
		      and ISNULL(e.parent_id) and a.store_id = f.id
		      <if test="evaluate.storeId != null">
                  and a.store_id = #{evaluate.storeId}
              </if>
              <if test="evaluate.startLevel != null">
                 and e.description_start_level = #{evaluate.startLevel}
              </if>
              <if test="evaluate.phone != null and evaluate.phone !=' '">
                  and b.phone = #{evaluate.phone}
              </if>
              <if test="evaluate.userId != null">
                  and b.id = #{evaluate.userId}
              </if>
            <if test="evaluate.orderId != null">
                  and e.order_id =#{evaluate.orderId}
            </if>
            <if test="evaluate.goodsId != null">
                  and d.goods_id = #{evaluate.goodsId}
            </if>
            <if test="evaluate.goodsName != null and evaluate.goodsName != ''">
                  and c.name like concat ('%', #{evaluate.goodsName} ,'%')
            </if>
            <if test="evaluate.startTime != null">
                  and DATE_FORMAT(e.create_time,'%Y-%m-%d') &gt;= #{evaluate.startTime}
            </if>
            <if test="evaluate.endTime != null">
                and DATE_FORMAT(e.create_time,'%Y-%m-%d') &lt;= #{evaluate.endTime}
            </if>
        group by e.id
        order by e.create_time
    </select>
    <select id="getEvaluate" resultType="com.chauncy.data.vo.supplier.evaluate.EvaluateVo">
        select c.name as nickName,c.photo as icon,content,picture,a.id,ROUND((a.attitude_start_level+a.description_start_level+a.ship_start_level)/3) as startLevel
        from om_evaluate a,om_order b,um_user c
        where a.del_flag = 0 and b.del_flag = 0 and c.del_flag = 0 and b.id = a.order_id and b.id = #{orderId} and a.sku_id = #{skuId} and b.um_user_id = c.id and isNull(a.parent_id)
    </select>
    <select id="findEvaluateLevelNum" resultType="com.chauncy.data.vo.app.evaluate.EvaluateLevelNumVo">
    SELECT b.id , SUM(description_start_level = 5 OR description_start_level=4) AS high_praise_num,
        SUM(description_start_level=3) AS middlePraise_num,
        SUM(description_start_level=1 OR description_start_level=2) AS low_praise_num,
        SUM(a.picture IS NOT NULL) AS price_num,COUNT(1) as sum
    FROM om_evaluate a, pm_goods b, pm_goods_sku c
    WHERE a.sku_id = c.id AND b.id = c.goods_id and b.id = #{goodsId}
    GROUP BY b.id
    </select>
    <select id="getGoodsEvaluateOne" resultType="com.chauncy.data.vo.app.evaluate.GoodsEvaluateVo">
        select a.photo as icon,a.name as nick_name,b.content,b.picture,b.id,ROUND((b.attitude_start_level+b.description_start_level+b.ship_start_level)/3) as startLevel
        ,GROUP_CONCAT(CONCAT(h.`name`,":",g.`value`)) as sku,b.create_time as evaluate_time,b.liked_num
        from um_user a,om_evaluate b,om_order c,pm_goods d,pm_goods_sku e,pm_goods_rel_attribute_value_sku f,pm_goods_attribute_value g,pm_goods_attribute h
        where isNull(b.parent_id) and b.order_id = c.id and c.um_user_id=a.id and
        b.sku_id = e.id and d.id = e.goods_id and d.id = #{t.goodsId}
        and f.goods_sku_id = e.id and f.goods_attribute_value_id = g.id
        and h.id = g.product_attribute_id and b.description_start_level = 5
        group by b.id
        order by b.create_time
        limit 1;
    </select>

</mapper>
