<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.order.OmOrderMapper">

    <select id="getStoreNameByOrder" resultType="java.lang.String">
        SELECT CONCAT(ss.`name`, ',', ss.logo_image) as storeName
        FROM sm_store ss
        INNER JOIN om_order oo ON oo.store_id = ss.id
        WHERE oo.id = #{orderId}
    </select>

    <select id="getShipAreaByOrderId" resultType="com.chauncy.data.vo.app.activity.spell.SpellGroupAreaVo">
        SELECT po.ship_name,
            po.`phone`,
            po.`ship_address`,
            po.`area_name`
        FROM om_order oo
        INNER JOIN pay_order po
        ON po.id = oo.`pay_order_id`
        WHERE oo.id = #{orderId}
    </select>

    <select id="search" resultType="com.chauncy.data.vo.manage.order.list.SearchOrderVo">
        SELECT
        o.id orderId,s.id storeId,s.`name` storeName,u.`name`,u.phone,o.total_number,o.total_money,o.total_money
        needPayMoney,o.real_money,o.goods_type,p.ship_name,concat(p.area_name,p.ship_address)
        detailed_address,p.phone mobile,o.activity_type,o.`status`,o.create_time
        from om_order o,sm_store s,um_user u,pay_order p
        where o.store_id=s.id and o.um_user_id=u.id
        and o.del_flag=0 and s.del_flag=0 and u.del_flag=0
        and p.id=o.pay_order_id and p.enabled=1
        <if test="orderId!=null">
            and o.id=#{orderId}
        </if>
        <if test="userId!=null">
            and u.id=#{userId}
        </if>
        <if test="phone!=null">
            and u.phone like concat('%', #{phone}, '%')
        </if>
        <if test="storeId!=null">
            AND s.id=#{storeId}
        </if>
        <if test="storeName!=null">
            and s.name like concat('%', #{storeName}, '%')
        </if>
        <if test="startCreateTime!=null">
            and o.create_time &gt;=#{startCreateTime}
        </if>
        <if test="endCreateTime!=null">
            and o.create_time &lt;=#{startCreateTime}
        </if>
        <if test="orderStatus!=null">
            and o.`status`=#{orderStatus}
        </if>
        <if test="minMoney!=null">
            and o.`total_money` &gt;=#{minMoney}
        </if>
        <if test="maxMoney!=null">
            and o.`total_money` &lt;=#{maxMoney}
        </if>
        <if test="activityTypeEnum!=null">
            and activity_type=#{activityTypeEnum}
        </if>
        order by o.update_time desc

    </select>
    <select id="loadById" resultType="com.chauncy.data.vo.manage.order.list.OrderDetailVo">
            select o.id orderId,p.area_name,o.goods_type,o.`status`,o.ship_money,o.total_money,o.total_money needPayMoney,
            o.real_money,o.create_time,o.pay_time,o.send_time,o.receive_time,p.pay_order_no,p.pay_type_code
            ,o.real_money payAmount,s.id storeId,s.name storeName,o.um_user_id,u.phone,p.ship_address detailedAddress,
            p.phone mobile,u.name name,p.ship_name,o.real_user_id
            FROM om_order o,pay_order p,sm_store s,um_user u,um_area_shipping a
            where o.pay_order_id=p.id and o.store_id=s.id and o.um_user_id=u.id and o.area_shipping_id=a.id
            and o.id=#{id}
    </select>
    <select id="searchGoodsTempVos" resultType="com.chauncy.data.vo.manage.order.list.GoodsTempVo">
            select `name`,standard_str,sell_price,number,sell_price*number subtotal
            from om_goods_temp
            where order_id=#{orderId}
    </select>
    <select id="searchSmOrder" resultType="com.chauncy.data.vo.supplier.order.SmSearchOrderVo">
        SELECT
        o.id orderId,o.goods_type,o.`status`,o.total_number,o.total_money,p.ship_name,concat(p.area_name,p.ship_address)
        detailed_address,p.phone,o.create_time,o.update_time
        from om_order o,pay_order p,um_user u
        where o.store_id=#{storeId} and o.pay_order_id=p.id and u.id=o.um_user_id
        and o.del_flag=0 and u.del_flag=0
        <if test="orderId!=null and orderId!=0" >
            and o.id=#{orderId}
        </if>
        <if test="userId!=null and orderId!=0">
            and o.um_user_id=#{userId}
        </if>
        <if test="phone!=null and phone!=''">
            and u.phone like concat('%', #{phone}, '%')
        </if>
        <if test="startCreateTime!=null">
            and o.create_time &gt;=#{startCreateTime}
        </if>
        <if test="endCreateTime!=null">
            and o.create_time &lt;=#{endCreateTime}
        </if>
        <if test="startUpdateTime!=null">
            and o.update_time &gt;=#{startUpdateTime}
        </if>
        <if test="endUpdateTime!=null">
            and o.update_time &lt;=#{endUpdateTime}
        </if>
        <if test="orderStatus!=null">
            and o.`status`=#{orderStatus}
        </if>
        <if test="goodsType!=null">
            and o.`goods_type`=#{goodsType}
        </if>
        order by o.update_time desc
    </select>
    <select id="loadSmById" resultType="com.chauncy.data.vo.supplier.order.SmOrderDetailVo">
            select o.goods_type,o.id orderId,o.`status`,o.um_user_id,u.name name,o.create_time,o.pay_time,o.send_time,o.receive_time,
            p.pay_order_no,p.pay_type_code,o.total_money,o.red_envelops_money,o.shop_ticket_money,
            o.ship_money,o.tax_money,o.real_money,p.ship_name,p.phone mobile,p.area_name,p.ship_address detailedAddress

            FROM om_order o,pay_order p,um_user u
            where o.pay_order_id=p.id  and o.um_user_id=u.id
            and o.del_flag=0 and u.del_flag=0
            and o.id=#{id}
    </select>
    <select id="searchSendOrderVos" resultType="com.chauncy.data.vo.supplier.order.SmSendOrderVo">
        SELECT
        o.id orderId,o.goods_type,o.total_number,o.total_money,o.ship_money,o.create_time,u.id
        userId,u.true_name,p.area_name,p.ship_address ,p.ship_name,
        p.ship_address shipAddress,p.phone mobile,p.area_name areaNam,o.send_time
        from om_order o,pay_order p,um_user u
        where o.store_id=#{storeId} and o.pay_order_id=p.id and u.id=o.um_user_id
        and o.del_flag=0 and u.del_flag=0
        <if test="orderId!=null">
            and o.id=#{orderId}
        </if>
        <if test="userId!=null">
            and o.um_user_id=#{userId}
        </if>
        <if test="phone!=null">
            and u.phone like concat('%', #{phone}, '%')
        </if>
        <if test="shipName!=null">
            and p.ship_name like concat('%', #{shipName}, '%')
        </if>
        <if test="mobile!=null">
            and p.phone like concat('%', #{mobile}, '%')
        </if>
        <if test="startCreateTime!=null">
            and o.create_time &gt;=#{startCreateTime}
        </if>
        <if test="endCreateTime!=null">
            and o.create_time &lt;=#{endCreateTime}
        </if>
        and o.`status`=#{orderStatus}
        order by o.update_time desc
    </select>
    <select id="searchSendGoodsTemp" resultType="com.chauncy.data.vo.supplier.order.SmSendGoodsTempVo">
            select `name`,standard_str,sell_price,number,icon,article_number,sku_id
            from om_goods_temp
            where order_id=#{orderId}
    </select>
    <select id="loadLogisticsById" resultType="com.chauncy.data.vo.supplier.order.SmOrderLogisticsVo">
            select o.goods_type,o.id orderId,o.`status`,p.ship_name,p.phone mobile,p.area_name,p.ship_address detailedAddress,
            l.logi_name,l.logistics_no,l.data
            FROM om_order o,pay_order p,om_order_logistics l
            where o.pay_order_id=p.id and o.id=l.order_id
            and o.del_flag=0
            and o.id=#{id}
    </select>
    <select id="searchAppOrder" resultType="com.chauncy.data.vo.app.order.my.AppSearchOrderVo">
        select o.goods_type,o.id orderId,o.`status`,o.real_money,o.total_number,o.store_id,
        s.name storeName
        FROM om_order o,sm_store s
        where o.store_id=s.id and o.um_user_id=#{userId}
        <if test="orderStatusEnum!=null">
            and o.status=#{orderStatusEnum}
        </if>
        and o.del_flag=0 and s.del_flag=0
        order by o.update_time desc
    </select>
    <select id="getPayOrderByOrderId" resultType="com.chauncy.data.domain.po.pay.PayOrderPo">
            select p.*
            from om_order o,pay_order p
            where o.id=#{orderId} and p.id=o.pay_order_id
    </select>
    <select id="getRewardShopTicketByOrderId" resultType="java.math.BigDecimal">
            select sum(g.reward_shop_ticket)
            from om_order o,om_goods_temp g
            where o.del_flag=0 and g.del_flag=0 and g.order_id=o.id
            and o.id=#{orderId}
    </select>
    <select id="getAppMyOrderDetailVoByOrderId"
            resultType="com.chauncy.data.vo.app.order.my.detail.AppMyOrderDetailVo">
                SELECT
            o.id orderId,
            o.goods_type,
            o.`status`,
            o.create_time,
          o.pay_time,
            o.send_time,
          o.receive_time,
            o.close_time,
            p.pay_order_no,
            o.total_money,
            o.red_envelops_money,
            o.shop_ticket_money,
            o.ship_money,
            o.tax_money,
            o.real_money,
            p.ship_name,
            p.phone mobile,
            p.area_name,
            p.ship_address detailedAddress,
            o.remark,
            o.q_r_code,
            s.id storeId,
            s.`name` storeName,
            s.company_addr,
            s.owner_mobile

        FROM
            om_order o,
            pay_order p,
            sm_store s
        WHERE
            o.pay_order_id = p.id
            AND o.store_id = s.id
            AND o.id = #{orderId}
    </select>

    <select id="getAppMyOrderDetailGoodsVoByOrderId"
            resultType="com.chauncy.data.vo.app.order.my.detail.AppMyOrderDetailGoodsVo">
            select id goodsTempId,g.name goodsName,sku_id,icon picture,sell_price,standard_str,number
            from om_goods_temp g
            where
            g.del_flag=0
            and order_id=#{orderId}
    </select>
    <select id="getOrderRewardByOrderId" resultType="com.chauncy.data.bo.app.order.my.OrderRewardBo">
           select SUM(g.reward_integrate*number) rewardIntegral, SUM(g.reward_experience*number) rewardExperience ,SUM(g.reward_shop_ticket*number) rewardShopTicket
            from om_goods_temp g
            where order_id=#{orderId} and del_flag=0
    </select>

    <select id="getRewardBoByOrder" resultType="com.chauncy.data.bo.app.order.reward.RewardBuyerBo">
        select SUM(reward_shop_ticket*number) reward_shop_ticket,SUM(reward_experience*number) reward_experience,SUM(reward_integrate*number ) reward_integrate,
        sum(real_pay_money) realPayMoney
        from om_goods_temp
        where  order_id=#{orderId}  and can_after_sale=1 and del_flag=0
    </select>

    <select id="getOrderRewardByPayId" resultType="com.chauncy.data.bo.app.order.my.OrderRewardBo">
        select SUM(ogt.reward_integrate*ogt.number) rewardShopTicket,
            SUM(ogt.reward_experience*ogt.number) rewardIntegral,
            SUM(ogt.reward_shop_ticket*ogt.number) rewardExperience
        from om_goods_temp ogt
        inner join om_order oo on oo.id = ogt.order_id
        where oo.pay_order_id = #{payOrderId} and del_flag=0
    </select>

    <select id="getRewardBuyer" resultType="com.chauncy.data.bo.app.order.reward.RewardRedBo">
             SELECT
            t.sku_id,
            t.number number,
            t.reward_shop_ticket,
            u.sell_price,
            g.activity_cost_rate,
            u.profit_rate,
            u.supplier_price,
            u.operation_cost,
            g.generalize_cost_rate

        FROM
            pm_goods_sku u,
            pm_goods g,
            om_goods_temp t
        WHERE
            u.goods_id = g.id
          and t.sku_id=u.id
            and t.order_id=#{orderId}
            and t.can_after_sale=0
            AND u.del_flag = 0
            AND g.del_flag = 0
            and t.del_flag=0

    </select>
    <select id="searchStoreAppOrder" resultType="com.chauncy.data.vo.app.order.my.AppSearchOrderVo">
        select o.goods_type,o.id orderId,o.`status`,o.real_money,o.total_number,o.store_id,
        s.name storeName
        FROM om_order o,sm_store s
        where o.store_id=s.id  and s.id=#{storeId}
        and
        <choose>
            <when test="isFinish">
                (o.status=3 or o.status=4)
            </when>
            <otherwise>
                o.status=5
            </otherwise>
        </choose>
        and (o.goods_type='自取' or o.goods_type='服务类')
        and o.del_flag=0 and s.del_flag=0
        order by o.update_time desc
    </select>
    <select id="getRewardBoByGoodsTempId" resultType="com.chauncy.data.bo.app.order.reward.RewardBuyerBo">
        select SUM(reward_shop_ticket*number) reward_shop_ticket,SUM(reward_experience*number) reward_experience,SUM(reward_integrate*number ) reward_integrate,
        sum(real_pay_money) realPayMoney
        from om_goods_temp
        where  id=#{goodsTempId}
    </select>
    <select id="getRewardBuyerByGoodsTempId" resultType="com.chauncy.data.bo.app.order.reward.RewardRedBo">
             SELECT
            t.sku_id,
            t.number number,
            t.reward_shop_ticket,
            u.sell_price,
            g.activity_cost_rate,
            u.profit_rate,
            u.supplier_price,
            u.operation_cost,
            g.generalize_cost_rate

        FROM
            pm_goods_sku u,
            pm_goods g,
            om_goods_temp t
        WHERE
            u.goods_id = g.id
          and t.sku_id=u.id
            and t.id=#{goodsTempId}
            and t.can_after_sale=0
            AND u.del_flag = 0
            AND g.del_flag = 0
            and t.del_flag=0
    </select>

    <select id="getCustomsOrderBo" resultType="com.chauncy.data.haiguan.vo.bo.CustomsOrderBo">
            SELECT p.pay_order_no payTransactionId,p.pay_amount totalAmount,p.pay_time tradingTime ,o.id orderNo
            FROM
            `om_order` o,pay_order p
            where o.pay_order_id=p.id and o.del_flag=0 and p.enabled=1
            and o.id=#{orderId}
    </select>

</mapper>
