<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.order.bill.OmOrderBillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.order.bill.OmOrderBillPo">
        <id column="id" property="id" />
        <result column="year" property="year" />
        <result column="month_day" property="monthDay" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="total_num" property="totalNum" />
        <result column="total_amount" property="totalAmount" />
        <result column="actual_amount" property="actualAmount" />
        <result column="deducted_amount" property="deductedAmount" />
        <result column="deducted_remark" property="deductedRemark" />
        <result column="bill_status" property="billStatus" />
        <result column="reject_reason" property="rejectReason" />
        <result column="store_id" property="storeId" />
        <result column="card_id" property="cardId" />
        <result column="opening_bank" property="openingBank" />
        <result column="account" property="account" />
        <result column="cardholder" property="cardholder" />
        <result column="bill_type" property="billType" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="withdrawal_time" property="withdrawalTime" />
        <result column="processing_time" property="processingTime" />
        <result column="settlement_time" property="settlementTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, year, month_day, total_amount, actual_amount, deducted_amount, deducted_remark, bill_status, reject_reason, store_id, card_id, opening_bank, account, cardholder, bill_type, create_by, create_time, withdrawal_time, settlement_time, update_by, update_time, del_flag
    </sql>
    <select id="searchBillPaging" resultType="com.chauncy.data.vo.manage.order.bill.BillBaseInfoVo">
        SELECT oob.id,
                oob.year,
                oob.`month_day`,
                ss.`name` as storeName,
                oob.`total_amount`,
                oob.`bill_status`,
                oob.`bill_status` as billStatusName,
                oob.`create_time`,
                oob.`withdrawal_time`,
                oob.`update_time`
        FROM om_order_bill oob
        LEFT JOIN sm_store ss
        ON ss.id = oob.store_id
        <where>
            oob.bill_type = #{billType}
            <if test="null != storeId">
                AND oob.store_id = #{storeId}
            </if>
            <if test="null != year and year != ''">
                AND oob.year = #{year}
            </if>
            <if test="monthDay != year and monthDay != ''">
                AND oob.month_day like concat(#{monthDay}, '%')
            </if>
            <if test="null != billStatus">
                AND oob.bill_status = #{billStatus}
            </if>
            <if test="startTime != null">
                AND date(oob.create_time) <![CDATA[>= ]]>  #{startTime}
            </if>
            <if test="endTime != null">
                AND date(oob.create_time) <![CDATA[<= ]]> #{endTime}
            </if>
            <if test="null != minTotalAmount and minTotalAmount != 0">
                AND oob.total_amount  <![CDATA[>= ]]>  #{minTotalAmount}
            </if>
            <if test="null != maxTotalAmount and maxTotalAmount != 0">
                AND oob.total_amount  <![CDATA[<= ]]> #{maxTotalAmount}
            </if>
        </where>
        ORDER BY oob.create_time DESC
    </select>


    <resultMap id="billDetailResult" type="com.chauncy.data.vo.manage.order.bill.BillDetailVo">
        <id column="id" property="id"/>
        <result column="year" property="year"/>
        <result column="month_day" property="monthDay"/>
        <result column="withdrawal_time" property="withdrawalTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="actual_amount" property="actualAmount"/>
        <result column="deducted_amount" property="deductedAmount"/>
        <result column="deducted_remark" property="deductedRemark"/>
        <result column="bill_status" property="billStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="settlement_time" property="settlementTime"/>
        <result column="processing_time" property="processingTime"/>
        <result column="reject_reason" property="rejectReason"/>
        <!-- collection定义关联集合类型的属性封装规则
        offType:指定集合中的元素类型
        -->
        <collection property="relStoreInfoVo" ofType="com.chauncy.data.vo.manage.store.RelStoreInfoVo">
            <id column="storeId" property="id"/>
            <result column="name" property="name"/>
            <result column="owner_name" property="ownerName"/>
            <result column="owner_mobile" property="ownerMobile"/>
        </collection>
        <collection property="storeBankCardVo" ofType="com.chauncy.data.vo.manage.store.rel.StoreBankCardVo">
            <id column="card_id" property="id"/>
            <result column="opening_bank" property="openingBank"/>
            <result column="account" property="account"/>
            <result column="cardholder" property="cardholder"/>
        </collection>
        <!--<collection property="billRelGoodsTempVoList" ofType="com.chauncy.data.vo.manage.order.bill.BillRelGoodsTempVo">
            <id column="order_id" property="orderId"/>
            <result column="goods_id" property="goodsId"/>
            <result column="goodsName" property="goodsName"/>
            <result column="standard_str" property="standardStr"/>
            <result column="article_number" property="articleNumber"/>
            <result column="supplier_price" property="supplierPrice"/>
            <result column="total_amount" property="totalAmount"/>
            <result column="createTime" property="createTime"/>
        </collection>-->
    </resultMap>
    <select id="findBillDetail" resultMap="billDetailResult">
        SELECT
                ss.`id` as storeId,
                ss.`name`,
                ss.`owner_name`,
                ss.`owner_mobile`,
                oob.id,
                oob.year,
                oob.`month_day`,
                oob.`withdrawal_time`,
                oob.`update_time`,
                oob.`total_amount`,
                oob.`actual_amount`,
                oob.`deducted_amount`,
                oob.`deducted_remark`,
                oob.`bill_status`,
                oob.`create_time`,
                oob.`settlement_time`,
                oob.`processing_time`,
                oob.`reject_reason`,
                oob.`card_id`,
                oob.`opening_bank`,
                oob.`account`,
                oob.`cardholder`
        FROM om_order_bill oob LEFT JOIN sm_store ss ON ss.id = oob.store_id
        <where>
            oob.id = #{id}
        </where>
    </select>
    <select id="getStoreSumNeedCreateBill" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sm_store ss
        <where>
            DATE(ss.`create_time`)  <![CDATA[<= ]]> #{endDate}
            <if test="null != storeId">
                AND ss.`id` = #{storeId}
            </if>
            AND  (
                <if test="1 == billType">
                    SELECT TIMESTAMPDIFF(WEEK,temp.`end_date`,#{endDate}) - ss.`payment_bill_settlement_cycle` = 0
                </if>
                <if test="2 == billType">
                    SELECT TIMESTAMPDIFF(WEEK,temp.`end_date`,#{endDate}) - ss.`income_bill_Settlement_cycle` = 0
                </if>
                FROM (
	                SELECT oob.`end_date`
	                FROM om_order_bill oob
	                WHERE oob.`store_id` = ss.`id`
	                AND oob.`bill_type` = #{billType}
	                AND oob.`end_date` <![CDATA[<= ]]> #{endDate}
	                ORDER BY end_date DESC
	                LIMIT 1
	            ) AS temp
	        )
        </where>
    </select>
    <select id="getStoreNeedCreateBill" resultType="java.lang.Long">
        SELECT ss.id
        FROM sm_store ss
        <where>
            DATE(ss.`create_time`)  <![CDATA[<= ]]> #{endDate}
            <if test="null != storeId">
                AND ss.`id` = #{storeId}
            </if>
            AND  (
                <if test="1 == billType">
                    SELECT TIMESTAMPDIFF(WEEK,temp.`end_date`,#{endDate}) - ss.`payment_bill_settlement_cycle` = 0
                </if>
                <if test="2 == billType">
                    SELECT TIMESTAMPDIFF(WEEK,temp.`end_date`,#{endDate}) - ss.`income_bill_Settlement_cycle` = 0
                </if>
	            FROM (
	                SELECT oob.`end_date`
	                FROM om_order_bill oob
                    WHERE oob.`store_id` = ss.`id`
                    AND oob.`bill_type` = #{billType}
                    AND oob.`end_date` <![CDATA[<= ]]> #{endDate}
            	    ORDER BY end_date DESC
	                LIMIT 1
	            ) AS temp
	        )
        </where>
    </select>
    <select id="searchBillReportPaging" resultType="com.chauncy.data.vo.manage.order.bill.BillReportVo">
        SELECT oob.id,
            ss.`name`,
            oob.`total_amount`,
            oob.`total_num`,
            oob.`create_time`,
        FROM om_bill_rel_store obrs
        LEFT JOIN om_order_bill oob
        ON obrs.bill_id = oob.id
        LEFT JOIN sm_store ss
        ON ss.id = oob.store_id
        <where>
            obrs.store_id = #{storeId}
            <if test="billId != null">
                AND obrs.`bill_id` = #{billId}
            </if>
            <if test="minTotalAmount != null and minTotalAmount != 0">
                AND oob.`total_amount` <![CDATA[>= ]]>  #{minAmount}
            </if>
            <if test="maxTotalAmount != null and maxTotalAmount != 0">
                AND oob.`total_amount` <![CDATA[<= ]]> #{maxAmount}
            </if>
        </where>
        ORDER BY obrs.create_time DESC
    </select>
    <select id="findRelBillDetail" resultType="com.chauncy.data.vo.manage.order.bill.BillRelGoodsTempVo">
        SELECT
            ogt.order_id,
            ogt.goods_id,
            ogt.`name` as goodsName,
            ogt.`standard_str`,
            ogt.`article_number`,
            ogt.`number` as goodsNumber,
            ogt.`supplier_price`,
            ogt.`sell_price`,
            obrgt.`total_amount`,
            oo.create_time as createTime
        FROM om_goods_temp ogt
        LEFT JOIN om_bill_rel_goods_temp obrgt
        ON ogt.id = obrgt.`goods_temp_id`
        LEFT JOIN om_order oo
        ON oo.id = ogt.`order_id`
        <where>
            obrgt.bill_id =  #{id}
        </where>
        ORDER BY ogt.create_time DESC
    </select>

</mapper>
