<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.store.information.SmInformationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.store.information.SmInformationPo">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="author" property="author" />
        <result column="enabled" property="enabled" />
        <result column="info_label_id" property="infoLabelId" />
        <result column="info_category_id" property="infoCategoryId" />
        <result column="store_id" property="storeId" />
        <result column="sort" property="sort" />
        <result column="cover_image" property="coverImage" />
        <result column="text" property="text" />
        <result column="verify_status" property="verifyStatus" />
        <result column="browsing_num" property="browsingNum" />
        <result column="forward_num" property="forwardNum" />
        <result column="comment_num" property="commentNum" />
        <result column="liked_num" property="likedNum" />
        <result column="collection_num" property="collectionNum" />
        <result column="remark" property="remark" />
        <result column="verify_time" property="verifyTime" />
        <result column="verify_by" property="verifyBy" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, author, enabled, info_label_id, info_category_id, store_id, sort, cover_image, text, verify_status, browsing_num, forward_num, comment_num, liked_num, collection_num, remark, verify_time, verify_by, create_time, create_by, update_time, update_by, del_flag
    </sql>

</mapper>
