<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.message.advice.MmAdviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.message.advice.MmAdvicePo">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="location" property="location" />
        <result column="name" property="name" />
        <result column="picture" property="picture" />
        <result column="enabled" property="enabled" />
    </resultMap>

    <!-- app首页获取广告信息结果 -->
    <resultMap id="AdviceResultMap" type="com.chauncy.data.vo.app.advice.home.GetAdviceInfoVo">
        <id column="advice_id" property="adviceId" />
        <result column="advice_name" property="adviceName" />
        <result column="advice_picture" property="advicePicture" />
        <result column="location" property="location" />
        <collection property="shufflingVoList" ofType="com.chauncy.data.vo.app.advice.home.ShufflingVo">
            <result column="shuffling_id" property="shufflingId" />
            <result column="cover_photo" property="coverPhoto" />
            <result column="advice_type" property="adviceType" />
            <result column="detail_id" property="detailId" />
            <result column="html_detail" property="htmlDetail" />
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, del_flag, location, name, picture, enabled
    </sql>

    <select id="findActivityGroup" resultType="com.chauncy.data.vo.app.advice.activity.ActivityGroupListVo">
        SELECT
            `mara`.id AS relId,
            `aag`.id AS groupId,
            `aag`.name AS groupName,
            `aag`.picture AS groupPicture
        FROM
            mm_advice `ma`
            LEFT JOIN mm_advice_rel_associaiton `mara` ON `mara`.`advice_id` = `ma`.id
            LEFT JOIN am_activity_group `aag` ON `aag`.id = `mara`.`association_id`
        <where>
            AND `ma`.location = #{location}
            AND `ma`.`enabled` = 1
            AND `mara`.del_flag = 0
            AND `aag`.`enable` = 1
            AND `aag`.`del_flag`= 0
            AND `aag`.`type` = #{groupType}
        </where>
        ORDER BY `aag`.create_time DESC
    </select>

    <resultMap id="reducedGroupTabResult" type="com.chauncy.data.vo.app.advice.activity.ActivityGroupTabVo">
        <id column="tabId" property="tabId"/>
        <result column="tabPicture" property="tabPicture"/>
        <!--collection定义关联集合类型的属性封装规则
        延迟加载 传递两个参数
　　　　{pMenuId=child_pid,userId=userId}
　　　　 传递查询参数名称=字段名称-->
        <collection property="activityGoodsVoList" column="{tabId = tabId, isPaging = isPaging}"
                    select="com.chauncy.data.mapper.message.advice.MmAdviceMapper.findReducedGroupTabDetail">
        </collection>
    </resultMap>
    <select id="findReducedGroupTab" resultMap="reducedGroupTabResult">
        SELECT
            `mat`.id AS tabId,
            `mat`.`name` AS tabPicture,
            '0' as isPaging
        FROM mm_advice_rel_tab_association `marta`
        LEFT JOIN mm_advice_tab `mat` ON `marta`.tab_id = `mat`.`id`
        <where>
            `marta`.`rel_id` = #{relId}
            AND `marta`.del_flag = 0
            AND `mat`.del_flag = 0
        </where>
    </select>

    <resultMap id="integralsGroupTabResult" type="com.chauncy.data.vo.app.advice.activity.ActivityGroupTabVo">
        <id column="tabId" property="tabId"/>
        <result column="tabPicture" property="tabPicture"/>
        <!--collection定义关联集合类型的属性封装规则
        延迟加载 传递两个参数
　　　　{pMenuId=child_pid,userId=userId}
　　　　 传递查询参数名称=字段名称-->
        <collection property="activityGoodsVoList" column="{tabId = tabId, isPaging = isPaging}"
                    select="com.chauncy.data.mapper.message.advice.MmAdviceMapper.findIntegralsGroupTabDetail">
        </collection>
    </resultMap>
    <select id="findIntegralsGroupTab" resultMap="integralsGroupTabResult">
        SELECT
            `mat`.id AS tabId,
            `mat`.`name` AS tabPicture,
            '0' as isPaging
        FROM mm_advice_rel_tab_association `marta`
        LEFT JOIN mm_advice_tab `mat` ON `marta`.tab_id = `mat`.`id`
        <where>
            `marta`.`rel_id` = #{relId}
            AND `marta`.del_flag = 0
            AND `mat`.del_flag = 0
        </where>
    </select>

    <select id="findReducedGroupTabDetail" resultType="com.chauncy.data.vo.app.goods.ActivityGoodsVo">
        SELECT `pg`.id AS goodsId,
            `pg`.name AS goodsName,
            `pg`.icon,
            `pg`.subtitle,
            `pg`.sales_volume,
            `pgs`.sell_price,
            `pgs`.line_price,
            ar.reduction_full_money,
            ar.reduction_post_money,
            GROUP_CONCAT(`pga`.name) as labels
        FROM mm_advice_rel_tab_things `martt`
        LEFT JOIN pm_goods pg ON pg.id = `martt`.`association_id` AND `martt`.`tab_id` = #{tabId}
        LEFT JOIN am_activity_rel_activity_goods `aarag` ON `aarag`.goods_id = pg.`id`
        LEFT JOIN am_reduced ar ON ar.id = `aarag`.`activity_id`
        LEFT JOIN pm_goods_sku `pgs` ON `pg`.id = `pgs`.goods_id
        LEFT JOIN pm_goods_rel_attribute_good pgrag  ON pg.id = pgrag.`goods_good_id`
        LEFT JOIN pm_goods_attribute pga ON pgrag.goods_attribute_id = pga.`id`
        <where>
            `martt`.`tab_id` = #{tabId}
            AND `martt`.del_flag = 0
            AND  pg.`publish_status` = 1
            AND `aarag`.`verify_status` = 3
            AND `aarag`.`del_flag` = 0
            AND  ar.`del_flag` = 0
            AND  ar.enable = 1
            AND  ar.activity_end_time <![CDATA[>]]> NOW()
            AND `pgs`.del_flag = 0
            AND `pgs`.id = (
                SELECT temp.id
                FROM pm_goods_sku temp
                WHERE temp.goods_id = pg.id
                AND temp.del_flag = 0
                ORDER BY sell_price
                LIMIT 1
            )
            AND pgrag.`del_flag` = 0
            AND pga.`del_flag` = 0
            AND pga.`enabled` = 1
            AND pga.`type` = 5
        </where>
        GROUP BY pg.id,pgs.id,ar.id
        <if test="null != sortFile and sortFile.name() == 'PRICE_SORT' ">
            ORDER BY pgs.sell_price ${sortWay.name}
        </if>
        <if test="null != sortFile and sortFile.name() == 'SALES_SORT'">
            ORDER BY pg.sales_volume ${sortWay.name}
        </if>
        <if test="null != sortFile and sortFile.name() == 'COMPREHENSIVE_SORT'">
            ORDER BY pg.comprehensive_score DESC
        </if>
        <if test="isPaging == 0">
            limit 3
        </if>
    </select>

    <select id="findReducedGroupGoods" resultType="com.chauncy.data.vo.app.goods.ActivityGoodsVo">
        SELECT `pg`.id AS goodsId,
            `pg`.name AS goodsName,
            `pg`.icon,
            `pg`.sales_volume,
            `pgs`.sell_price,
            `pgs`.line_price,
            ar.reduction_full_money,
            ar.reduction_post_money,
            GROUP_CONCAT(`pga`.name) as labels
        FROM am_reduced ar
        LEFT JOIN am_activity_rel_activity_goods aarag ON ar.id = aarag.`activity_id` AND ar.group_id = #{groupId}
        LEFT JOIN pm_goods pg ON pg.id = aarag.`goods_id`
        LEFT JOIN pm_goods_sku `pgs` ON `pg`.id = `pgs`.goods_id
        <if test="null != categoryId and categoryId != 0">
            LEFT JOIN pm_goods_category pgc ON pgc.id = pg.goods_category_id
            LEFT JOIN pm_goods_category pgc1 ON pgc1.id = pgc.parent_id
        </if>
        LEFT JOIN pm_goods_rel_attribute_good pgrag  ON pg.id = pgrag.`goods_good_id`
        LEFT JOIN pm_goods_attribute pga ON pgrag.goods_attribute_id = pga.`id`
        <where>
            ar.group_id = #{groupId}
            AND ar.`del_flag` = 0
            AND ar.enable = 1
            AND ar.`activity_end_time` <![CDATA[> ]]> NOW()
            AND ar.`activity_start_time` <![CDATA[< ]]> NOW()
            AND aarag.`verify_status` = 3
            AND aarag.`del_flag` = 0
            AND pg.`publish_status` = 1
            <if test="null != categoryId and categoryId != 0">
                AND pgc1.parent_id = #{categoryId}
            </if>
            AND `pgs`.del_flag = 0
            AND `pgs`.id = (
                SELECT temp.id
                FROM pm_goods_sku temp
                WHERE temp.goods_id = pg.id
                AND temp.del_flag = 0
                ORDER BY sell_price
                LIMIT 1
            )
            AND pgrag.`del_flag` = 0
            AND pga.`del_flag` = 0
            AND pga.`enabled` = 1
            AND pga.`type` = 5
        </where>
        GROUP BY pg.id,pgs.id,ar.id
        <if test="null != sortFile and sortFile.name() == 'PRICE_SORT' ">
            ORDER BY pgs.sell_price ${sortWay.name}
        </if>
        <if test="null != sortFile and sortFile.name() == 'SALES_SORT'">
            ORDER BY pg.sales_volume ${sortWay.name}
        </if>
        <if test="null != sortFile and sortFile.name() == 'COMPREHENSIVE_SORT'">
            ORDER BY pg.comprehensive_score DESC
        </if>
    </select>

    <select id="findIntegralsGroupGoods" resultType="com.chauncy.data.vo.app.goods.ActivityGoodsVo">
        SELECT `pg`.id AS goodsId,
            `pg`.name AS goodsName,
            `pg`.icon,
            `pg`.sales_volume,
            `pgs`.sell_price,
            `pgs`.line_price,
            `ai`.discount_price_ratio
        FROM am_integrals ai
        LEFT JOIN am_activity_rel_activity_goods aarag ON ai.id = aarag.`activity_id` AND ai.group_id = #{groupId}
        LEFT JOIN pm_goods pg ON pg.id = aarag.`goods_id`
        LEFT JOIN pm_goods_sku `pgs` ON `pg`.id = `pgs`.goods_id
        <if test="null != categoryId and categoryId != 0">
            LEFT JOIN pm_goods_category pgc ON pgc.id = pg.goods_category_id
            LEFT JOIN pm_goods_category pgc1 ON pgc1.id = pgc.parent_id
        </if>
        <where>
            ai.group_id = #{groupId}
            AND ai.`del_flag` = 0
            AND ai.enable = 1
            AND ai.`activity_end_time` <![CDATA[> ]]> NOW()
            AND ai.`activity_start_time` <![CDATA[< ]]> NOW()
            AND aarag.`verify_status` = 3
            AND aarag.`del_flag` = 0
            AND pg.`publish_status` = 1
            <if test="null != categoryId and categoryId != 0">
                AND pgc1.parent_id = #{categoryId}
            </if>
            AND `pgs`.del_flag = 0
            AND `pgs`.id = (
                SELECT temp.id
                FROM pm_goods_sku temp
                WHERE temp.goods_id = pg.id
                AND temp.del_flag = 0
                ORDER BY sell_price
                LIMIT 1
            )
        </where>
        <if test="null != sortFile and sortFile.name() == 'PRICE_SORT' ">
            ORDER BY pgs.sell_price ${sortWay.name}
        </if>
        <if test="null != sortFile and sortFile.name() == 'SALES_SORT'">
            ORDER BY pg.sales_volume ${sortWay.name}
        </if>
        <if test="null != sortFile and sortFile.name() == 'COMPREHENSIVE_SORT'">
            ORDER BY pg.comprehensive_score DESC
        </if>
    </select>

    <select id="findIntegralsGroupTabDetail" resultType="com.chauncy.data.vo.app.goods.ActivityGoodsVo">
        SELECT `pg`.id AS goodsId,
            `pg`.name AS goodsName,
            `pg`.icon,
            `pg`.subtitle,
            `pg`.sales_volume,
            `pgs`.sell_price,
            `pgs`.line_price,
            `ai`.discount_price_ratio
        FROM mm_advice_rel_tab_things `martt`
        LEFT JOIN pm_goods pg ON pg.id = `martt`.`association_id` AND `martt`.`tab_id` = #{tabId}
        LEFT JOIN am_activity_rel_activity_goods `aarag` ON `aarag`.goods_id = pg.`id`
        LEFT JOIN am_integrals ai ON ai.id = `aarag`.`activity_id`
        LEFT JOIN pm_goods_sku `pgs` ON `pg`.id = `pgs`.goods_id
        <where>
            `martt`.`tab_id` = #{tabId}
            AND `martt`.del_flag = 0
            AND  pg.`publish_status` = 1
            AND `aarag`.`verify_status` = 3
            AND `aarag`.`del_flag` = 0
            AND  ai.`del_flag` = 0
            AND  ai.enable = 1
            AND  ai.activity_end_time <![CDATA[>]]> NOW()
            AND `pgs`.del_flag = 0
            AND `pgs`.id = (
                SELECT temp.id
                FROM pm_goods_sku temp
                WHERE temp.goods_id = pg.id
                AND temp.del_flag = 0
                ORDER BY sell_price
                LIMIT 1
            )
        </where>
        <if test="null != sortFile and sortFile.name() == 'PRICE_SORT' ">
            ORDER BY pgs.sell_price ${sortWay.name}
        </if>
        <if test="null != sortFile and sortFile.name() == 'SALES_SORT'">
            ORDER BY pg.sales_volume ${sortWay.name}
        </if>
        <if test="null != sortFile and sortFile.name() == 'COMPREHENSIVE_SORT'">
            ORDER BY pg.comprehensive_score DESC
        </if>
        <if test="isPaging == 0">
            ORDER BY pg.sales_volume DESC
        </if>
        <if test="isPaging == 0">
            limit 3
        </if>
    </select>

    <select id="getShufflingByRelId" resultType="com.chauncy.data.vo.app.advice.home.ShufflingVo">
        SELECT mars.id AS shuffling_id,
            mars.`cover_photo`,
            mars.advice_type,
            mars.detail_id,
            mars.html_detail
        FROM mm_advice_rel_shuffling mars
        WHERE rel_activity_group_id = #{relId}
        AND mars.del_flag = 0
        AND mars.start_time <![CDATA[< ]]> NOW()
        AND mars.end_time <![CDATA[> ]]> NOW()
    </select>

    <select id="findReducedGoodsCategory" resultType="com.chauncy.data.vo.BaseVo">
        WITH RECURSIVE parentIds (id,parent_id, `name`, `level`) AS
        (
            SELECT DISTINCT pgc.`id`, pgc.parent_id, pgc.name, pgc.level
            FROM am_reduced ar
            LEFT JOIN am_activity_rel_activity_goods aarag ON ar.id = aarag.`activity_id` AND ar.group_id = #{groupId}
            LEFT JOIN pm_goods pg ON pg.id = aarag.`goods_id`
            LEFT JOIN pm_goods_category pgc ON pg.goods_category_id = pgc.id
            <where>
                ar.group_id = #{groupId}
                AND ar.`del_flag` = 0
                AND ar.enable = 1
                AND ar.`activity_end_time` <![CDATA[> ]]> NOW()
                AND ar.`activity_start_time` <![CDATA[< ]]> NOW()
                AND aarag.`verify_status` = 3
                AND aarag.`del_flag` = 0
                AND pg.`publish_status` = 1
            </where>
            UNION ALL
            SELECT pgc.id, pgc.parent_id, pgc.name, pgc.level
            FROM parentIds AS temp
            LEFT JOIN  pm_goods_category  AS pgc
            ON temp.parent_id = pgc.id
            WHERE pgc.del_flag=0
        )
        SELECT  DISTINCT id,`name` FROM parentIds WHERE `level` = 1
    </select>

    <select id="findIntegralsGoodsCategory" resultType="com.chauncy.data.vo.BaseVo">
        WITH RECURSIVE parentIds (id,parent_id, `name`, `level`) AS
        (
            SELECT DISTINCT pgc.`id`, pgc.parent_id, pgc.name, pgc.`level`
            FROM am_integrals ai
            LEFT JOIN am_activity_rel_activity_goods aarag ON ai.id = aarag.`activity_id` AND ai.group_id = #{groupId}
            LEFT JOIN pm_goods pg ON pg.id = aarag.`goods_id`
            LEFT JOIN pm_goods_category pgc ON pg.goods_category_id = pgc.id
            <where>
                ai.group_id = #{groupId}
                AND ai.`del_flag` = 0
                AND ai.enable = 1
                AND ai.`activity_end_time` <![CDATA[> ]]> NOW()
                AND ai.`activity_start_time` <![CDATA[< ]]> NOW()
                AND aarag.`verify_status` = 3
                AND aarag.`del_flag` = 0
                AND pg.`publish_status` = 1
            </where>
            UNION ALL
            SELECT pgc.id,pgc.parent_id,pgc.name, pgc.level
            FROM parentIds AS temp
            LEFT JOIN  pm_goods_category  AS pgc
            ON temp.parent_id = pgc.id
            WHERE pgc.del_flag=0
        )
        SELECT DISTINCT id,`name` FROM parentIds WHERE `level` = 1
    </select>

    <select id="searchAdvices" resultType="com.chauncy.data.vo.manage.message.advice.SearchAdvicesVo">
        select id as advice_id,name,location,enabled,picture
        from mm_advice
        where del_flag = 0
        <if test="enabled != null">
            and enabled = #{enabled}
        </if>
        <if test="name !=null and name!=''">
            and name like concat('%', #{name}, '%')
        </if>
        <if test="location !=null and location!=''">
            and location = #{location}
        </if>
        order by create_time desc
    </select>

    <select id="findStoreCategory" resultType="com.chauncy.data.vo.app.advice.store.StoreCategoryInfoVo">
         SELECT
            `mara`.id AS relId,
            `ssc`.id AS storeCategoryId,
            `ssc`.name AS storeCategoryName,
            `ssc`.icon AS storeCategoryIcon
         FROM
            sm_store_category `ssc` ,
            mm_advice_rel_associaiton `mara` ,
            mm_advice `ma`
         WHERE
            `ssc`.id = `mara`.`association_id`
            AND `mara`.`advice_id` = `ma`.id
            AND `ma`.location = #{location}
            AND `ma`.`enabled` = 1
            AND `mara`.del_flag = 0
            AND `ssc`.`enabled` = 1
            AND `ssc`.`del_flag`= 0
    </select>

    <select id="findHomePageActivity" resultType="com.chauncy.data.vo.app.advice.activity.HomePageActivityGoodsVo">
        SELECT * FROM (
            SELECT pg.`icon` AS picture,
                aarag.`activity_end_time`,
                aargs.activity_price,
                pgs.sell_price,
                '' AS discount_price_ratio,
                '' AS reduction_full_money,
                '' AS reduction_post_money,
                '' AS groupNum,
                '3' AS `groupType`
            FROM am_activity_rel_activity_goods aarag
            LEFT JOIN pm_goods pg ON pg.id = aarag.`goods_id`
            LEFT JOIN am_activity_rel_goods_sku aargs ON aargs.rel_id = aarag.`id`
            LEFT JOIN pm_goods_sku pgs ON pgs.id = aargs.sku_id
            WHERE aarag.`activity_type` = 3
                AND aarag.verify_status = 3
                AND aarag.`del_flag` = 0
                AND aarag.`activity_end_time` <![CDATA[> ]]> NOW()
                AND aarag.`activity_start_time` <![CDATA[< ]]> NOW()
                AND pg.`publish_status` = 1
                AND pg.`del_flag` = 0
                AND aargs.del_flag = 0
                AND pgs.del_flag = 0
            ORDER BY pgs.sell_price - aargs.activity_price DESC
            LIMIT 2
        ) AS seckill
        UNION ALL
        SELECT * FROM (
            SELECT pg.`icon` AS picture,
                '' AS `activity_end_time`,
                '' AS sellPrice,
                '' AS line_price,
                ai.discount_price_ratio,
                '' AS reduction_full_money,
                '' AS reduction_post_money,
                '' AS groupNum,
                '2' AS `groupType`
            FROM am_integrals ai
            LEFT JOIN am_activity_rel_activity_goods aarag ON ai.id = aarag.`activity_id`
            LEFT JOIN pm_goods pg ON pg.id = aarag.`goods_id`
            WHERE ai.del_flag = 0
                AND ai.enable = 1
                AND ai.`activity_end_time` <![CDATA[> ]]> NOW()
                AND ai.`activity_start_time` <![CDATA[< ]]> NOW()
                AND aarag.verify_status = 3
                AND aarag.`del_flag` = 0
                AND pg.`publish_status` = 1
                AND pg.`del_flag` = 0
            ORDER BY ai.discount_price_ratio,pg.sort DESC
            LIMIT 2
        ) AS integrals
        UNION ALL
        SELECT * FROM (
            SELECT pg.`icon` AS picture,
                '' AS `activity_end_time`,
                '' AS sellPrice,
                '' AS line_price,
                '' AS discount_price_ratio,
                ar.reduction_full_money,
                ar.reduction_post_money,
                '' AS groupNum,
                '1' AS groupType
            FROM am_reduced ar
            LEFT JOIN am_activity_rel_activity_goods aarag ON ar.id = aarag.`activity_id`
            LEFT JOIN pm_goods pg ON pg.id = aarag.`goods_id`
            WHERE ar.del_flag = 0
                AND ar.enable = 1
                AND ar.`activity_end_time` <![CDATA[> ]]> NOW()
                AND ar.`activity_start_time` <![CDATA[< ]]> NOW()
                AND aarag.verify_status = 3
                AND aarag.`del_flag` = 0
                AND pg.`publish_status` = 1
                AND pg.`del_flag` = 0
            ORDER BY (ar.reduction_full_money - ar.reduction_post_money),pg.sort ASC
            LIMIT 2
        ) AS reduced
        UNION ALL
        SELECT * FROM (
            SELECT pg.`icon` AS picture,
                aarag.`activity_end_time`,
                '' AS sellPrice,
                '' AS line_price,
                '' AS discount_price_ratio,
                '' AS reduction_full_money,
                '' AS reduction_post_money,
                SUM(condition_num) AS groupNum,
                '4' AS `groupType`
            FROM am_activity_rel_activity_goods aarag
            LEFT JOIN pm_goods pg ON pg.id = aarag.`goods_id`
            LEFT JOIN am_spell_group_main asgm ON aarag.id = asgm.rel_id
            WHERE aarag.`activity_type` = 4
                AND aarag.verify_status = 3
                AND aarag.`del_flag` = 0
                AND aarag.`activity_end_time` <![CDATA[> ]]> NOW()
                AND aarag.`activity_start_time` <![CDATA[< ]]> NOW()
                AND pg.`publish_status` = 1
                AND pg.`del_flag` = 0
                AND asgm.status = 3
            GROUP BY aarag.id
            ORDER BY groupNum DESC
            LIMIT 1
        ) AS spellGroup
    </select>

    <select id="findInfoCategory" resultType="com.chauncy.data.vo.BaseVo">
        SELECT
            `mic`.id ,
            `mic`.name
         FROM
            mm_information_category `mic` ,
            mm_advice_rel_associaiton `mara` ,
            mm_advice `ma`
         WHERE
            `mic`.id = `mara`.`association_id`
            AND `mara`.`advice_id` = `ma`.id
            AND `ma`.location = #{location}
            AND `ma`.`enabled` = 1
            AND `mara`.del_flag = 0
            AND `mic`.`enabled` = 1
            AND `mic`.`del_flag`= 0
    </select>

    <select id="findStoreCategoryTab" resultType="com.chauncy.data.vo.app.advice.AdviceTabVo">
        SELECT
            `mat`.id AS tabId,
            `mat`.`name` AS tabName
        FROM
            mm_advice_rel_tab_association `marta`,
            mm_advice_tab `mat`
        WHERE
            `marta`.tab_id = `mat`.`id`
            AND `marta`.`rel_id` = #{relId}
            AND `marta`.del_flag = 0
            AND `mat`.del_flag = 0
    </select>


    <resultMap id="StoreCategoryDetailResult" type="com.chauncy.data.vo.app.advice.store.StoreCategoryDetailVo">
        <id column="storeId" property="storeId"/>
        <result column="logoImage" property="logoImage"/>
        <result column="storeName" property="storeName"/>
        <result column="storeDescribe" property="storeDescribe"/>
        <result column="is_focus" property="isFocus"/>
        <result column="storeLabels" property="storeLabels"/>
        <!--collection定义关联集合类型的属性封装规则
        延迟加载 传递两个参数
　　　　{pMenuId=child_pid,userId=userId}
　　　　 传递查询参数名称=字段名称-->
        <collection property="goodsBaseInfoVoList" column="{storeId=storeId}"
                    select="com.chauncy.data.mapper.product.PmGoodsMapper.findRecommandGoods">
        </collection>
    </resultMap>
    <select id="findStoreCategoryDetail"
            resultMap="StoreCategoryDetailResult">
        SELECT
            `ss`.id AS storeId,
            `ss`.logo_image AS logoImage,
            `ss`.name AS storeName,
            `ss`.store_describe AS storeDescribe,
        (EXISTS
            (SELECT 1
                FROM um_user_favorites uuf
                WHERE uuf.favorites_id = ss.id
                AND uuf.`type` = '店铺'
                AND uuf.user_id = #{userId}
                AND uuf.del_flag = 0)
            ) AS is_focus,
        (
            SELECT GROUP_CONCAT(`ssl`.name)
            FROM sm_store_label `ssl` ,
                    sm_store_rel_label ssrl
            WHERE
                `ssrl`.store_label_id = `ssl`.id
                AND `ssrl`.store_id = ss.`id`
                AND `ssl`.del_flag = 0
        ) AS storeLabels
        FROM mm_advice_rel_tab_things `martt`, sm_store `ss`
        WHERE `martt`.`association_id` = `ss`.id AND  `martt`.`tab_id` = #{tabId}
        AND `martt`.del_flag = 0 AND `ss`.enabled = 1
    </select>

    <select id="searchAllStoreDetail" resultMap="StoreCategoryDetailResult">
        SELECT
            `ss`.id AS storeId,
            `ss`.logo_image AS logoImage,
            `ss`.name AS storeName,
            `ss`.background_image AS backgroundImage,
            `ss`.store_describe AS storeDescribe,
        (EXISTS
            (SELECT 1
                FROM um_user_favorites uuf
                WHERE uuf.favorites_id = ss.id
                AND uuf.`type` = '店铺'
                AND uuf.user_id = #{userId}
                AND uuf.del_flag = 0)
            ) AS is_focus,
        (
            SELECT GROUP_CONCAT(`ssl`.name)
            FROM sm_store_label `ssl` ,
                    sm_store_rel_label ssrl
            WHERE
                `ssrl`.store_label_id = `ssl`.id
                AND `ssrl`.store_id = ss.`id`
                AND `ssl`.del_flag = 0
        ) AS storeLabels
        FROM sm_store `ss`
        WHERE `ss`.enabled = 1
        ORDER BY `ss`.create_time DESC
    </select>

    <select id="findAdvice" resultType="com.chauncy.data.vo.manage.message.advice.FindBaiHuoAdviceVo">
        select id as value,name as label
        from mm_advice
        where del_flag = 0 and location = #{location}
    </select>

    <select id="getAdviceInfo" resultMap="AdviceResultMap">
        select a.id as advice_id,a.name as advice_name,a.picture as advice_picture,a.location,b.id as shuffling_id,b.cover_photo,
        b.advice_type,b.detail_id,b.html_detail
        from mm_advice a
        left join mm_advice_rel_shuffling b on a.id = b.advice_id and b.del_flag = 0 and b.rel_tab_brand_id is null and b.rel_category_id is null
        where a.del_flag = 0 and a.enabled = 1 and (b.start_time &lt;= NOW() AND b.end_time &gt;= NOW() OR location = 'BOTTOM_SHUFFLING'
        OR location = 'PERSONAL_CENTER' OR location = 'BAIHUO' OR location = 'TOP_UP_ENTRY' OR location = 'YOUXUAN'
        OR location = 'SHOUYE_ZHUTI' OR location = 'SALE' OR location = 'SHOUYE_YOUPIN' OR location = 'STORE_DETAIL'
        OR location = 'COUPON' OR location = 'EXPERIENCE_PACKAGE' OR location = 'INVITATION')
        and a.location not in ("YOUPIN_INSIDE_SHUFFLING","YOUDIAN_INSIDE_SHUFFLING","SALE_INSIDE_SHUFFLING",
	        "YOUXUAN_INSIDE_SHUFFLING","BAIHUO_INSIDE_SHUFFLING","information_recommended","PERSONAL_CENTER_MIDDLE_SHUFFLING","FIRST_CATEGORY_DETAIL")
    </select>

    <select id="getShuffling" resultType="com.chauncy.data.vo.app.advice.home.ShufflingVo">
        select b.id as shuffling_id,b.cover_photo,b.advice_type,b.detail_id,b.html_detail
        from mm_advice a,mm_advice_rel_shuffling b
        where a.del_flag = 0 and b.del_flag = 0 and a.enabled = 1 and a.id = b.advice_id and a.location = #{location}
        and b.start_time &lt;= now() and b.end_time &gt;= now()

    </select>

    <select id="getTab" resultType="com.chauncy.data.vo.BaseVo">
        select a.id,a.name
        from mm_advice_tab a,mm_advice_rel_tab b
        where a.del_flag = 0 and b.del_flag = 0 and a.id = b.tab_id and b.advice_id = #{adviceId}
    </select>

    <select id="searchGoodsBase" resultType="com.chauncy.data.vo.app.advice.goods.SearchGoodsBaseVo">
        select b.id as goods_id,b.icon as picture,b.name as goods_name,b.sales_volume,max(c.line_price) as line_price,MIN(c.sell_price) as sell_price
        from mm_advice_rel_tab_things a,pm_goods b,pm_goods_sku c
        where a.del_flag = 0 and b.del_flag = 0 and c.del_flag = 0 and
        a.tab_id = #{tabId} and a.association_id = b.id and b.id = c.goods_id
        group by b.id
    </select>
    <select id="getLabelNames" resultType="java.lang.String">
        select e.name as label_name
        from pm_goods a,pm_goods_rel_attribute_good d,pm_goods_attribute e
        where a.id = #{goodsId} and a.id = d.goods_good_id and d.goods_attribute_id = e.id and
        e.type = 5 and a.del_flag = 0 and d.del_flag = 0 and  e.del_flag = 0
    </select>
    <select id="searchBrandBase" resultType="com.chauncy.data.vo.app.advice.goods.SearchBrandAndSkuBaseVo">
        select b.id as brand_id,b.name as brand_name,b.logo_image as brand_logo,b.subtitle,b.collection_num
        from mm_advice_rel_tab_things a,pm_goods_attribute b
        where a.tab_id = #{tabId} and a.association_id = b.id and a.del_flag =0 and b.del_flag = 0
    </select>
    <select id="searchBrandGoodsBaseList" resultType="com.chauncy.data.vo.app.advice.goods.SearchGoodsBaseListVo">
        select a.name as condition_name,b.id as goods_id,b.name as goods_name,b.subtitle,b.icon as picture,b.activity_cost_rate,
        b.profits_rate,b.sales_volume,d.sell_price as sell_price,d.line_price,b.forward_num,b.collection_num
        from pm_goods_attribute a,pm_goods b,pm_goods_rel_attribute_good c,pm_goods_sku	d
        where b.publish_status = 1 and a.del_flag = 0 and b.del_flag = 0 and c.del_flag =0 and d.del_flag =0 and a.id = #{conditionId}
        and c.goods_attribute_id = a.id and c.goods_good_id = b.id and d.goods_id = b.id
        and d.id = (SELECT id from pm_goods_sku d2 where d2.`goods_id` = b.id  and d2.del_flag =0 and d2.sell_price =
        (SELECT Min(d1.sell_price) FROM pm_goods_sku d1 WHERE d1.`goods_id` = b.id  and d1.del_flag =0 LIMIT 1) limit 1)
        <if test="lowestPrice !=null ">
            and sell_price &gt;= #{lowestPrice}
        </if>
        <if test="highestPrice !=null ">
            and sell_price &lt;= #{highestPrice}
        </if>
        <!--group by b.id
        having 1=1
        <if test="lowestPrice !=null ">
          and minPrice &gt;= #{lowestPrice}
        </if>
        <if test="highestPrice !=null ">
            and minPrice &lt;= #{highestPrice}
        </if>-->
        <if test="sortFile.name() == 'PRICE_SORT' ">
            order by sell_price ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'COMPREHENSIVE_SORT'">
            order by b.comprehensive_score ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'SALES_SORT'">
            order by b.sales_volume ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'COLLECTION_NUM'">
            order by b.collection_num ${sortWay.name}
        </if>
    </select>
    <select id="searchTabGoodsBaseList"
            resultType="com.chauncy.data.vo.app.advice.goods.SearchGoodsBaseListVo">
        select c.name as condition_name,b.id as goods_id,b.name as goods_name,b.icon as picture,b.subtitle,b.activity_cost_rate,
        b.profits_rate,b.sales_volume,d.sell_price as sell_price,d.line_price,b.forward_num,b.collection_num
        from mm_advice_rel_tab_things a,pm_goods b,pm_goods_sku	d,mm_advice_tab c
        where b.publish_status = 1 and a.del_flag = 0 and b.del_flag = 0 and c.del_flag =0 and d.del_flag =0 and a.tab_id = #{conditionId}
        and a.association_id = b.id and d.goods_id=b.id and c.id = a.tab_id
        and d.id = (SELECT id from pm_goods_sku d2 where d2.`goods_id` = b.id  and d2.del_flag =0 and d2.sell_price =
        (SELECT Min(d1.sell_price) FROM pm_goods_sku d1 WHERE d1.`goods_id` = b.id  and d1.del_flag =0 LIMIT 1) limit 1)
        <if test="lowestPrice !=null ">
            and sell_price &gt;= #{lowestPrice}
        </if>
        <if test="highestPrice !=null ">
            and sell_price &lt;= #{highestPrice}
        </if>
        <if test="sortFile.name() == 'PRICE_SORT' ">
            order by sell_price ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'COMPREHENSIVE_SORT'">
            order by b.comprehensive_score ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'SALES_SORT'">
            order by b.sales_volume ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'COLLECTION_NUM'">
            order by b.collection_num ${sortWay.name}
        </if>
    </select>
    <select id="searchCategoryGoodsBaseList"
            resultType="com.chauncy.data.vo.app.advice.goods.SearchGoodsBaseListVo">

        select c.name as condition_name,b.id as goods_id,b.name as goods_name,b.icon as picture,b.activity_cost_rate,
        b.profits_rate,b.sales_volume,d.sell_price as sell_price,d.line_price,b.forward_num,b.collection_num
        from pm_goods b,pm_goods_sku d,pm_goods_category c
        where  b.publish_status = 1 and b.del_flag = 0 and d.del_flag =0 and c.del_flag = 0 and c.id = #{conditionId} and b.goods_category_id = #{conditionId} and d.goods_id=b.id
        and d.id = (SELECT id from pm_goods_sku d2 where d2.`goods_id` = b.id  and d2.del_flag =0 and d2.sell_price =
        (SELECT Min(d1.sell_price) FROM pm_goods_sku d1 WHERE d1.`goods_id` = b.id  and d1.del_flag =0 LIMIT 1) limit 1)
        <if test="lowestPrice !=null ">
            and sell_price &gt;= #{lowestPrice}
        </if>
        <if test="highestPrice !=null ">
            and sell_price &lt;= #{highestPrice}
        </if>
        <if test="sortFile.name() == 'PRICE_SORT' ">
            order by sell_price ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'COMPREHENSIVE_SORT'">
            order by b.comprehensive_score ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'SALES_SORT'">
            order by b.sales_volume ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'COLLECTION_NUM'">
            order by b.collection_num ${sortWay.name}
        </if>

    </select>
    <select id="searchAssociatedGoodsBaseList"
            resultType="com.chauncy.data.vo.app.advice.goods.SearchGoodsBaseListVo">

        select distinct b.id as goods_id,b.name as goods_name,b.icon as picture,b.activity_cost_rate,
        b.profits_rate,b.sales_volume,d.sell_price as sell_price,d.line_price,b.forward_num,b.collection_num,b.comprehensive_score
        from pm_goods b,pm_goods_sku d,pm_goods_category c,mm_advice_rel_associaiton a
        where a.del_flag = 0 and b.publish_status = 1 and b.del_flag = 0 and d.del_flag =0 and c.del_flag = 0 and a.association_id = c.id and d.goods_id=b.id
        and a.advice_id = #{adviceId}
        and d.id = (SELECT id from pm_goods_sku d2 where d2.`goods_id` = b.id  and d2.del_flag =0 and d2.sell_price =
        (SELECT Min(d1.sell_price) FROM pm_goods_sku d1 WHERE d1.`goods_id` = b.id  and d1.del_flag =0 LIMIT 1) limit 1)

        <if test="lowestPrice !=null ">
            and sell_price &gt;= #{lowestPrice}
        </if>
        <if test="highestPrice !=null ">
            and sell_price &lt;= #{highestPrice}
        </if>
        <if test="sortFile.name() == 'PRICE_SORT' ">
            order by sell_price ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'COMPREHENSIVE_SORT'">
            order by b.comprehensive_score ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'SALES_SORT'">
            order by b.sales_volume ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'COLLECTION_NUM'">
            order by b.collection_num ${sortWay.name}
        </if>

    </select>
    <select id="searchCouponGoodsBaseList"
            resultType="com.chauncy.data.vo.app.advice.goods.SearchGoodsBaseListVo">

        select b.id as goods_id,b.name as goods_name,b.icon as picture,b.activity_cost_rate,
        b.profits_rate,b.sales_volume,d.sell_price as sell_price,d.line_price,b.forward_num,b.collection_num
        from pm_goods b,pm_goods_sku d,am_coupon_rel_coupon_goods a
        where b.publish_status = 1 and b.del_flag = 0 and d.del_flag =0 and a.association_id = b.id and d.goods_id=b.id
        and a.coupon_id = #{conditionId}
        and d.id = (SELECT id from pm_goods_sku d2 where d2.`goods_id` = b.id  and d2.del_flag =0 and d2.sell_price =
        (SELECT Min(d1.sell_price) FROM pm_goods_sku d1 WHERE d1.`goods_id` = b.id  and d1.del_flag =0 LIMIT 1) limit 1)

        <if test="lowestPrice !=null ">
            and sell_price &gt;= #{lowestPrice}
        </if>
        <if test="highestPrice !=null ">
            and sell_price &lt;= #{highestPrice}
        </if>
        <if test="sortFile.name() == 'PRICE_SORT' ">
            order by sell_price ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'COMPREHENSIVE_SORT'">
            order by b.comprehensive_score ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'SALES_SORT'">
            order by b.sales_volume ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'COLLECTION_NUM'">
            order by b.collection_num ${sortWay.name}
        </if>

    </select>
    <select id="searchHomeGoodsBaseList"
            resultType="com.chauncy.data.vo.app.advice.goods.SearchGoodsBaseListVo">
        select b.id as goods_id,b.name as goods_name,b.icon as picture,b.activity_cost_rate,
        b.profits_rate,b.sales_volume,d.sell_price as sell_price,d.line_price,b.forward_num,b.collection_num
        from pm_goods b,pm_goods_sku d
        where b.publish_status = 1 and b.del_flag = 0 and d.del_flag =0 and d.goods_id=b.id
        and d.id = (SELECT id from pm_goods_sku d2 where d2.`goods_id` = b.id  and d2.del_flag =0 and d2.sell_price =
        (SELECT Min(d1.sell_price) FROM pm_goods_sku d1 WHERE d1.`goods_id` = b.id  and d1.del_flag =0 LIMIT 1) limit 1)

        <if test="lowestPrice !=null ">
            and sell_price &gt;= #{lowestPrice}
        </if>
        <if test="highestPrice !=null ">
            and sell_price &lt;= #{highestPrice}
        </if>
        <if test="sortFile.name() == 'PRICE_SORT' ">
            order by sell_price ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'COMPREHENSIVE_SORT'">
            order by b.comprehensive_score ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'SALES_SORT'">
            order by b.sales_volume ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'COLLECTION_NUM'">
            order by b.collection_num ${sortWay.name}
        </if>

    </select>
    <select id="searchSecondCategoryGoodsBaseList"
            resultType="com.chauncy.data.vo.app.advice.goods.SearchGoodsBaseListVo">

        select c.name as condition_name,b.id as goods_id,b.name as goods_name,b.icon as picture,b.activity_cost_rate,
        b.profits_rate,b.sales_volume,d.sell_price as sell_price,d.line_price,b.forward_num,b.collection_num
        from pm_goods b,pm_goods_sku d,pm_goods_category c
        where  b.publish_status = 1 and b.del_flag = 0 and d.del_flag =0 and c.del_flag = 0 and b.goods_category_id = c.id and c.parent_id	= #{conditionId} and d.goods_id=b.id
        and d.id = (SELECT id from pm_goods_sku d2 where d2.`goods_id` = b.id  and d2.del_flag =0 and d2.sell_price =
        (SELECT Min(d1.sell_price) FROM pm_goods_sku d1 WHERE d1.`goods_id` = b.id  and d1.del_flag =0 LIMIT 1) limit 1)
        <if test="lowestPrice !=null ">
            and sell_price &gt;= #{lowestPrice}
        </if>
        <if test="highestPrice !=null ">
            and sell_price &lt;= #{highestPrice}
        </if>
        <if test="sortFile.name() == 'PRICE_SORT' ">
            order by sell_price ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'COMPREHENSIVE_SORT'">
            order by b.comprehensive_score ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'SALES_SORT'">
            order by b.sales_volume ${sortWay.name}
        </if>
        <if test="sortFile.name() == 'COLLECTION_NUM'">
            order by b.collection_num ${sortWay.name}
        </if>

    </select>
    <select id="guessYourLike" resultType="com.chauncy.data.vo.app.advice.goods.SearchGoodsBaseListVo">
        select b.id as goods_id,b.name as goods_name,b.icon as picture,b.activity_cost_rate,
        b.profits_rate,b.sales_volume,d.sell_price as sell_price,d.line_price,b.forward_num,b.collection_num
        from pm_goods b,pm_goods_sku d
        where match(name) against(#{name}) and b.publish_status = 1 and b.del_flag = 0 and d.del_flag =0 and d.goods_id=b.id
        and d.id = (SELECT id from pm_goods_sku d2 where d2.`goods_id` = b.id  and d2.del_flag =0 and d2.sell_price =
        (SELECT Min(d1.sell_price) FROM pm_goods_sku d1 WHERE d1.`goods_id` = b.id  and d1.del_flag =0 LIMIT 1) limit 1)
        limit 30;
    </select>
    <select id="findBaiHuoMiddleAdvice"
            resultType="com.chauncy.data.vo.app.advice.goods.SearchGoodsBaseListVo">

        select c.name as condition_name,b.id as goods_id,b.name as goods_name,b.icon as picture,b.subtitle,b.activity_cost_rate,
        b.profits_rate,b.sales_volume,d.sell_price as sell_price,d.line_price,b.forward_num,b.collection_num
        from mm_advice_rel_tab_things a,pm_goods b,pm_goods_sku	d,mm_advice_tab c
        where b.publish_status = 1 and a.del_flag = 0 and b.del_flag = 0 and c.del_flag =0 and d.del_flag =0 and a.tab_id = #{conditionId}
        and a.association_id = b.id and d.goods_id=b.id and c.id = a.tab_id
        and d.id = (SELECT id from pm_goods_sku d2 where d2.`goods_id` = b.id  and d2.del_flag =0 and d2.sell_price =
        (SELECT Min(d1.sell_price) FROM pm_goods_sku d1 WHERE d1.`goods_id` = b.id  and d1.del_flag =0 LIMIT 1) limit 1)
        order by b.sales_volume desc
        limit 6;

    </select>
    <select id="guessLike" resultType="com.chauncy.data.vo.app.advice.goods.SearchGoodsBaseListVo">

        select b.id as goods_id,b.name as goods_name,b.icon as picture,b.activity_cost_rate,
        b.profits_rate,b.sales_volume,d.sell_price as sell_price,d.line_price,b.forward_num,b.collection_num
        from pm_goods b,pm_goods_sku d
        where b.publish_status = 1 and b.del_flag = 0 and d.del_flag =0 and d.goods_id=b.id
        and d.id = (SELECT id from pm_goods_sku d2 where d2.`goods_id` = b.id  and d2.del_flag =0 and d2.sell_price =
        (SELECT Min(d1.sell_price) FROM pm_goods_sku d1 WHERE d1.`goods_id` = b.id  and d1.del_flag =0 LIMIT 1) limit 1)
        order by b.comprehensive_score desc
        limit 30;

    </select>
</mapper>
