<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.message.advice.MmAdviceRelTabMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.message.advice.MmAdviceRelTabPo">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="advice_id" property="adviceId" />
        <result column="tab_id" property="tabId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, del_flag, advice_id, tab_id
    </sql>

    <select id="findBrandTabInfosVos"
            resultType="com.chauncy.data.vo.manage.message.advice.tab.tab.BrandTabInfosVo">
        select tab_id,b.name as tab_name
        from mm_advice_rel_tab a,mm_advice_tab b
        where a.del_flag = 0 and b.del_flag = 0 and a.tab_id = b.id and a.advice_id = #{adviceId}
    </select>

    <select id="findGoodsTabInfosVos"
            resultType="com.chauncy.data.vo.manage.message.advice.tab.tab.GoodsTabInfosVo">
        select tab_id,b.name as tab_name
        from mm_advice_rel_tab a,mm_advice_tab b
        where a.del_flag = 0 and b.del_flag = 0 and a.tab_id = b.id and a.advice_id = #{adviceId}
    </select>

    <select id="searchTabAssociatedBrands"
            resultType="com.chauncy.data.vo.manage.message.advice.tab.tab.BrandVo">
        select a.id as brand_id,a.name as brand_name
        from pm_goods_attribute a,mm_advice_rel_tab_things b
        where a.del_flag = 0 and b.del_flag = 0 and b.association_id = a.id and b.tab_id = #{tabId}
        <if test="name !=null and name!=''">
            and a.name like concat('%', #{name}, '%')
        </if>
    </select>

    <select id="searchTabAssociatedGoods"
            resultType="com.chauncy.data.vo.manage.message.advice.tab.tab.GoodsVo">
        select a.id as goods_id,a.name as goods_name
        from pm_goods a,mm_advice_rel_tab_things b
        where a.del_flag = 0 and b.del_flag = 0 and b.association_id = a.id and b.tab_id = #{tabId}
        <if test="name !=null and name!=''">
            and a.name like concat('%', #{name}, '%')
        </if>
    </select>

</mapper>
