<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.message.advice.MmAdviceRelTabAssociationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.message.advice.MmAdviceRelTabAssociationPo">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="rel_id" property="relId" />
        <result column="tab_id" property="tabId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, del_flag, rel_id, tab_id
    </sql>
    <select id="findTabInfos"
            resultType="com.chauncy.data.vo.manage.message.advice.tab.association.TabInfosVo">
        select tab_id,b.name as tab_name
        from mm_advice_rel_tab_association a,mm_advice_tab b
        where a.del_flag = 0 and b.del_flag = 0 and a.tab_id = b.id and a.rel_id = #{adviceAssociationId}
    </select>

</mapper>
