<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.product.PmGoodsAttributeValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.product.PmGoodsAttributeValuePo">
        <id column="id" property="id" />
        <result column="product_attribute_id" property="productAttributeId" />
        <result column="value" property="value" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <insert id="saveAttValue">
        insert into pm_goods_attribute_value(
        <!--<if test="id != null and id != 0">id,</if>-->
        <if test="productAttributeId != null and productAttributeId != ''">product_attribute_id,</if>
        <if test="value != null and value != 0">value,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="createTime != null and createTime != ''">create_time,</if>
        <if test="updateBy != null and updateBy != ''">update_by,</if>
        <if test="updateTime != null and updateTime != ''">update_time,</if>
        <if test="delFlag != null and delFlag != ''">del_flag</if>
        )values(
        <!--<if test="id != null and id != 0">#{id},</if>-->
        <if test="productAttributeId != null and productAttributeId != ''">#{productAttributeId},</if>
        <if test="value != null and value != 0">#{value},</if>
        <if test="createBy != null and createBy != ''">#{createBy}</if>
        <if test="createTime != null and createTime != ''">#{createTime}</if>
        <if test="updateBy != null and updateBy != ''">#{updateBy}</if>
        <if test="updateTime != null and updateTime != ''">#{updateTime}</if>
        <if test="delFlag != null and delFlag != ''">#{delFlag}</if>

    </insert>

<!--    <update id="deleteByAttributeId">-->
<!--        update pm_goods_attribute_value-->
<!--        <set>-->
<!--            <if test="del_flag != null and del_flag != ''">del_flag = 1</if>-->
<!--        </set>-->
<!--        <where>-->
<!--            <if test="productAttributeId !=null and productAttributeId !=''">-->
<!--                and product_attribute_id = #{productAttributeId}-->
<!--            </if>-->
<!--        </where>-->
<!--    </update>-->

    <select id="findByAttributeId" resultType="com.chauncy.data.domain.po.product.PmGoodsAttributeValuePo">
        select *
        from pm_goods_attribute_value
        where product_attribute_id = #{productAttributeId} and del_flag = 0
    </select>

</mapper>
