<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.product.PmGoodsAttributeValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.product.PmGoodsAttributeValuePo">
        <id column="id" property="id" />
        <result column="product_attribute_id" property="productAttributeId" />
        <result column="value" property="value" />
        <result column="is_custom" property="isCustom" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>


    <select id="findByAttributeId" resultType="com.chauncy.data.domain.po.product.PmGoodsAttributeValuePo">
        select *
        from pm_goods_attribute_value
        where product_attribute_id = #{productAttributeId} and del_flag = 0
    </select>

    <resultMap id="findByCondition" type="com.chauncy.data.vo.manage.product.PmGoodsAttributeVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="update_time" property="updateTime"/>
        <result column="content" property="content"/>
        <result column="remark" property="remark"/>
        <result column="enabled" property="enabled"/>
        <result column="type" property="type"/>
        <result column="subtitle" property="subtitle"/>
        <result column="logo_image" property="logoImage"/>
        <result column="logo_icon" property="logoIcon"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="valueList" property="valueList" javaType="java.util.List" jdbcType="VARCHAR" typeHandler="com.chauncy.web.config.mybatisplus.StringToListTypeHandler"/>
    </resultMap>

    <select id="findByCondition" resultMap="findByCondition">
        select a.*,GROUP_CONCAT(CONCAT(b.value))as valueList
        from pm_goods_attribute a,pm_goods_attribute_value b
        <where>
            <if test="type !=null and type !=''">
                type = #{type}
            </if>
            <if test="enabled !=null">
                and enabled = #{enabled}
            </if>
            <if test="name !=null and name !=''">
                and name like concat('%', #{name}, '%')
            </if>
            and a.id = b.product_attribute_id and a.del_flag = 0 and b.del_flag = 0
        </where>
        group by a.id
    </select>

    <select id="findDefaultValues" resultType="com.chauncy.data.bo.base.BaseBo">
        select  c.id,c.value as name
        from pm_goods_attribute b ,pm_goods_attribute_value c
        where b.id=#{attributeId} and b.id= c.product_attribute_id and b.type =7 and c.is_custom = 0
    </select>

    <select id="findValueByCondition" resultType="java.util.Map">
        select a.*,concat('[',GROUP_CONCAT(CONCAT('{"id":',b.id,',"name":"',b.value,'"}')),']')as valueList
        from pm_goods_attribute a,pm_goods_attribute_value b
        <where>
            <if test="type !=null and type !=''">
                type = #{type}
            </if>
            <if test="enabled !=null">
                and enabled = #{enabled}
            </if>
            <if test="name !=null and name !=''">
                and name like concat('%', #{name}, '%')
            </if>
            and a.id = b.product_attribute_id and a.del_flag = 0 and b.del_flag = 0
        </where>
        group by a.id
    </select>

</mapper>
