<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.product.PmGoodsRelAttributeCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.product.PmGoodsRelAttributeCategoryPo">
        <id column="id" property="id" />
        <result column="goods_attribute_id" property="goodsAttributeId" />
        <result column="goods_category_id" property="goodsCategoryId" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_attribute_id, goods_category_id, create_by, create_time, update_by, update_time, del_flag
    </sql>

    <select id="findByAttributeId"
            resultType="com.chauncy.data.domain.po.product.PmGoodsRelAttributeCategoryPo">
        select DISTINCT a.id
        from pm_goods_rel_attribute_category a
        inner join pm_goods_attribute_value b on a.goods_attribute_id = b.product_attribute_id and b.is_custom = 0
        where b.del_flag = 0 and b.is_custom = 0 and a.goods_attribute_id = #{goodsAttributeId}
        limit 2
    </select>

    <sql id="delflag">
        and del_flag=0
    </sql>

    <select id="findPurchase" resultType="com.chauncy.data.vo.app.goods.AttributeVo">
        select b.id,a.name,a.content as value
        from pm_goods_attribute a,pm_goods b,pm_goods_category c,pm_goods_rel_attribute_category d
        where b.id = #{goodsId} and b.goods_category_id = c.id and c.id = d.goods_category_id and a.id = d.goods_attribute_id
        and a.del_flag =0 and b.del_flag = 0 and c.del_flag	=0 and d.del_flag = 0 and a.type = 6;
    </select>
    <select id="searchNotesByAttributeId"
            resultType="com.chauncy.data.domain.po.product.PmGoodsRelAttributeCategoryPo">
        select DISTINCT a.id
        from pm_goods_rel_attribute_category a
        inner join pm_goods_attribute b on a.goods_attribute_id = b.id and b.del_flag = 0 and b.type = 6
        where a.del_flag =0 and a.goods_attribute_id = #{goodsAttributeId}
        limit 2
    </select>
    <select id="searchActivityByAttributeId"
            resultType="com.chauncy.data.domain.po.product.PmGoodsRelAttributeCategoryPo">
        select DISTINCT a.id
        from pm_goods_rel_attribute_category a
        inner join pm_goods_attribute b on a.goods_attribute_id = b.id and b.del_flag = 0 and b.type = 3
        where a.del_flag =0 and a.goods_attribute_id = #{goodsAttributeId}
        limit 2
    </select>

</mapper>
