<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.product.PmGoodsCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.product.PmGoodsCategoryPo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="sort" property="sort"/>
        <result column="enabled" property="enabled"/>
        <result column="tax_rate" property="taxRate"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>

    </resultMap>
    <select id="loadById" resultType="java.util.Map">
      SELECT
	id,
	name,
	enabled,
	icon,
	sort,
	taxRate,
	IFNULL(CONCAT( '[', GROUP_CONCAT( temp ), ']' ),"") attributionList
FROM
	(
	SELECT
		c.id,
		c.NAME,
		c.enabled,
		c.icon,
		c.sort,
		c.tax_rate taxRate,
		CONCAT(
			'{"type":',
			a.type,
			',"attributes":[',
			GROUP_CONCAT( CONCAT( '{"id":', a.id, ',"name":"', a.NAME, '"}' ) ),
			"]}"
		) temp
	FROM
		`pm_goods_category` c
		LEFT JOIN pm_goods_rel_attribute_category ac ON c.id = ac.goods_category_id
		LEFT JOIN pm_goods_attribute a ON a.id = ac.goods_attribute_id
	WHERE
	  if(ac.del_flag is null ,1=1,ac.del_flag = 0)
		AND c.id = #{id}
	GROUP BY
	a.type
	) a
	group by a.id
    </select>
    <select id="getAttributeIdsByNamesAndCategoryId" resultType="java.lang.Long">
	SELECT
		a.id
	FROM
		`pm_goods_attribute` a,
		pm_goods_category c,
		pm_goods_rel_attribute_category ac
	WHERE
		a.del_flag = 0
		AND c.del_flag = 0
		AND ac.del_flag = 0
		AND a.NAME in
		<foreach collection="names" open="(" close=")" separator="," item="name">
		    #{name}
		</foreach>
		AND a.id = ac.goods_attribute_id
		AND c.id = ac.goods_category_id
		AND c.id = #{cId}
		and a.type=#{type}
	</select>

	<select id="loadAttributeVo" resultType="com.chauncy.data.vo.manage.product.SearchAttributeVo">
		SELECT  a.id id,a.name name,IF(ac.id is null,false,true) is_select
		FROM pm_goods_attribute a
		left join pm_goods_rel_attribute_category ac on
		a.id = ac.goods_attribute_id
		<if test="t.categoryId!=null and t.categoryId!=0">
			and ac.goods_category_id=#{t.categoryId}
		</if>
		where `type`=#{t.type}
		<if test="t.name!=null and t.name!=''">
			and a.name like concat('%',#{t.name},'%')
		</if>
		and if(ac.del_flag is null ,1=1,ac.del_flag = 0)
		and a.del_flag=0
	</select>

	<select id="loadSearchCategoryVoList" resultType="com.chauncy.data.vo.manage.product.SearchCategoryVo">
		 WITH RECURSIVE childrenIds (id,name,sort,icon,enabled,level,parent_id) AS
        (
        (SELECT id,name,sort,icon,enabled,level,parent_id
        FROM pm_goods_category
        WHERE
            del_flag=0 and level=1
            <if test="t.name!=null and t.name!=''">
		         and name like concat('%',#{t.name},'%')
			</if>
			<if test="t.id!=null and t.id!=0">
				and id=#{t.id}
			</if>
			<if test="t.enabled!=null">
				and enabled=#{t.enabled}
			</if>
		order by sort desc
		limit #{offset},#{pageSize}
		)
        UNION ALL
        SELECT c.id,c.name,c.sort,c.icon,c.enabled,c.level,c.parent_id
        FROM childrenIds AS p JOIN pm_goods_category AS c
        ON p.id = c.parent_id
        where c.del_flag=0
        )
        SELECT id,name,sort,icon,enabled,level,parent_id FROM childrenIds
	</select>
	<select id="loadCount" resultType="java.lang.Integer">
		SELECT count(*)
		FROM pm_goods_category
		WHERE
		del_flag=0 and level=1
		<if test="t.name!=null and t.name!=''">
			and name like concat('%',#{t.name},'%')
		</if>
		<if test="t.id!=null and t.id!=0">
			and id=#{t.id}
		</if>
		<if test="t.enabled!=null">
			and enabled=#{t.enabled}
		</if>
	</select>

	<select id="loadParentName" resultType="java.lang.String">
       select name from (WITH RECURSIVE childrenIds (id,parent_id,`name`) AS
        (
        SELECT id,parent_id,`name`
        FROM pm_goods_category
        WHERE
            del_flag=0 and
                id= #{id}
        UNION ALL
        SELECT c.id,c.parent_id,c.`name`
        FROM childrenIds AS p left JOIN pm_goods_category AS c
        ON p.parent_id = c.id
        where c.del_flag=0
        )
        SELECT id,`name` FROM childrenIds) as t order by id
    </select>

    <select id="getAttributeIdsByNameAndCategoryId" resultType="java.lang.Long">
		SELECT
		a.id
		FROM
		`pm_goods_attribute` a,
		pm_goods_category c,
		pm_goods_rel_attribute_category ac
		WHERE
		a.del_flag = 0
		AND c.del_flag = 0
		AND ac.del_flag = 0
		AND a.NAME =#{name}
		AND a.id = ac.goods_attribute_id
		AND c.id = ac.goods_category_id
		AND c.id = #{cId}
		and a.type=#{type}
	</select>
	<select id="loadGoodsCategoryTreeVo" resultType="com.chauncy.data.vo.manage.product.GoodsCategoryTreeVo">
		     select id as value,parent_id,name label
		     from pm_goods_category
		     where del_flag=0 and enabled=1
	</select>
	<select id="findFirstCategoryByStoreId" resultType="com.chauncy.data.vo.manage.product.SearchCategoryVo">
		select pgc1.id, pgc1.`name`, pgc1.icon, pgc1.`level`
		from pm_goods pg left join pm_goods_category pgc3 on pgc3.id = pg.goods_category_id
		left join pm_goods_category pgc2 on pgc2.id = pgc3.parent_id
		left join pm_goods_category pgc1 on pgc1.id = pgc2.parent_id
		where pg.store_id = #{storeId}
			and pg.verify_status = 3
			and pgc2.del_flag = 0
			and pgc1.del_flag = 0
			and pgc3.del_flag = 0
		group by pgc1.id
		order by pgc1.sort desc
	</select>
	<select id="findSecondCategoryByStoreId" resultType="com.chauncy.data.vo.manage.product.SearchCategoryVo">
		select pgc2.id, pgc2.`name`, pgc2.icon, pgc2.`level`
		from pm_goods pg left join pm_goods_category pgc3 on pgc3.id = pg.goods_category_id
		left join pm_goods_category pgc2 on pgc2.id = pgc3.parent_id
		left join pm_goods_category pgc1 on pgc1.id = pgc2.parent_id
		where pg.store_id =  #{storeId}
			and pgc2.del_flag = 0
			and pgc3.del_flag = 0
			and pgc1.id = #{goodsCategoryId}
		group by pgc2.id
		order by pgc2.sort desc
	</select>
	<select id="findThirdCategoryByStoreId" resultType="com.chauncy.data.vo.manage.product.SearchCategoryVo">
		select pgc3.id, pgc3.`name`, pgc3.icon, pgc3.`level`
		from pm_goods pg left join pm_goods_category pgc3 on pgc3.id = pg.goods_category_id
		left join pm_goods_category pgc2 on pgc2.id = pgc3.parent_id
		where pg.store_id =  #{storeId}
			and pgc3.del_flag = 0
			and pgc2.id = #{goodsCategoryId}
		group by pgc3.id
		order by pgc3.sort desc
	</select>
	<select id="count" resultType="java.lang.Integer">
		SELECT count(*)
		FROM pm_goods_category
		WHERE
		del_flag=0 and level=1 and enabled = 1
		<if test="p.name!=null and p.name!=''">
			and name like concat('%',#{t.name},'%')
		</if>
		<if test="p.id!=null and p.id!=0">
			and id=#{p.id}
		</if>
	</select>
	<select id="searchCategoryByActivityId"
			resultType="com.chauncy.data.vo.manage.activity.SearchCategoryByActivityIdVo">
		WITH RECURSIVE childrenIds (id,name,sort,icon,enabled,level,parent_id) AS
		(
		(SELECT id,name,sort,icon,enabled,level,parent_id
		FROM pm_goods_category
		WHERE
		del_flag=0 and level=1 and enabled =1
		<if test="t.name!=null and t.name!=''">
			and name like concat('%',#{t.name},'%')
		</if>
		<if test="t.id!=null and t.id!=0">
			and id=#{t.id}
		</if>
		order by sort desc
		limit #{offset},#{pageSize}
		)
		UNION ALL
		SELECT c.id,c.name,c.sort,c.icon,c.enabled,c.level,c.parent_id
		FROM childrenIds AS p JOIN pm_goods_category AS c
		ON p.id = c.parent_id
		where c.del_flag=0
		)
		SELECT id,name,sort,icon,enabled,level,parent_id FROM childrenIds
	</select>
    <select id="findGoodsCategoryTree"
            resultType="com.chauncy.data.dto.app.advice.category.select.GoodsCategoryVo">
		SELECT DISTINCT id as category_id,parent_id,name as category_name,icon as category_icon FROM (WITH RECURSIVE parentIds (id,parent_id, `name`, icon, `level`) AS
        (
        SELECT b.id,b.parent_id, b.`name`, b.icon,b.level
        FROM  mm_advice_rel_associaiton a,pm_goods_category b
        WHERE a.del_flag =0 AND b.del_flag = 0 AND a.association_id = b.id AND a.advice_id = 1163808937901502466
        UNION ALL
        SELECT c.id,c.parent_id, c.`name`, c.icon , c.`level`
        FROM parentIds AS p LEFT JOIN  pm_goods_category  AS c
        ON p.parent_id = c.id
        WHERE c.del_flag=0
        )
        SELECT id,parent_id, `name`, icon, `level` FROM parentIds) AS temp
	</select>
	<select id="FindAllSecondCategory" resultType="com.chauncy.data.vo.manage.product.GoodsCategoryTreeVo">
		select id as value,parent_id,name label
		from pm_goods_category
		where del_flag=0 and enabled=1 and level = 2
	</select>
	<select id="searchThirdCategory" resultType="com.chauncy.data.vo.manage.product.SearchThirdCategoryVo">
		select id,name
		from pm_goods_category
		where del_flag = 0 and enabled = 1 and level = 3
		<if test="categoryName != null and categoryName != ''">
			and name like concat('%',#{name},'%')
		</if>
		<if test="secondCategoryId != null">
			and parent_id = #{secondCategoryId}
		</if>
	</select>
</mapper>
