<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.product.PmGoodsSkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.product.PmGoodsSkuPo">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="article_number" property="articleNumber" />
        <result column="bar_code" property="barCode" />
        <result column="picture" property="picture" />
        <result column="supplier_price" property="supplierPrice" />
        <result column="profit_rate" property="profitRate" />
        <result column="operation_cost" property="operationCost" />
        <result column="sell_price" property="sellPrice" />
        <result column="line_price" property="linePrice" />
        <result column="stock" property="stock" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <insert id="addASalesVolume">
        update pm_goods_sku
        set sales_volume=sales_volume+#{salesVolume}
        where id=#{id}
    </insert>
    <insert id="addStockInGroup">
         update pm_goods_sku
            set stock=stock+#{number}
            where id=#{skuId}

    </insert>

    <update id="updateStock">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update pm_goods_sku
            <set>
                stock=stock-#{item.number},
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <update id="updateStock2">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update pm_goods_sku
            <set>
                stock=stock-#{item.number},
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <select id="findBrandGoodsVos" resultType="com.chauncy.data.vo.app.advice.goods.BrandGoodsVo">
        select a.id as goods_id,a.name as goods_name,b.sales_volume,b.id as sku_id,a.icon as picture,b.line_price,b.sell_price
        from pm_goods a,pm_goods_sku b,pm_goods_rel_attribute_good c
        where  a.publish_status = 1 and a.del_flag =0 and b.del_flag = 0 and c.del_flag =0 and c.goods_attribute_id = #{brandId}
        and c.goods_good_id = a.id and b.goods_id = a.id
        and b.id = (SELECT id from pm_goods_sku d2 where d2.`goods_id` = a.id  and d2.del_flag =0 and d2.sell_price =
        (SELECT Min(d1.sell_price) FROM pm_goods_sku d1 WHERE d1.`goods_id` = a.id  and d1.del_flag =0 LIMIT 1) limit 1)
        ORDER BY b.sales_volume DESC limit 6

    </select>

</mapper>
