<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.product.PmGoodsCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.product.PmGoodsCategoryPo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="sort" property="sort"/>
        <result column="enabled" property="enabled"/>
        <result column="tax_rate" property="taxRate"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>

    </resultMap>
    <select id="loadById" resultType="java.util.Map">
      SELECT
	id,
	name,
	enabled,
	icon,
	sort,
	taxRate,
	IFNULL(CONCAT( '[', GROUP_CONCAT( temp ), ']' ),"") attributionList
FROM
	(
	SELECT
		c.id,
		c.NAME,
		c.enabled,
		c.icon,
		c.sort,
		c.tax_rate taxRate,
		CONCAT(
			'{"type":',
			a.type,
			',"attributes":[',
			GROUP_CONCAT( CONCAT( '{"id":', a.id, ',"name":"', a.NAME, '"}' ) ),
			"]}"
		) temp
	FROM
		`pm_goods_category` c
		LEFT JOIN pm_goods_rel_attribute_category ac ON c.id = ac.goods_category_id
		LEFT JOIN pm_goods_attribute a ON a.id = ac.goods_attribute_id
	WHERE
	  if(ac.del_flag is null ,1=1,ac.del_flag = 0)
		AND c.id = #{id}
	GROUP BY
	a.type
	) a
	group by a.id
    </select>
    <select id="getAttributeIdsByNamesAndCategoryId" resultType="java.lang.Long">
	SELECT
		a.id
	FROM
		`pm_goods_attribute` a,
		pm_goods_category c,
		pm_goods_rel_attribute_category ac
	WHERE
		a.del_flag = 0
		AND c.del_flag = 0
		AND ac.del_flag = 0
		AND a.NAME in
		<foreach collection="names" open="(" close=")" separator="," item="name">
		    #{name}
		</foreach>
		AND a.id = ac.goods_attribute_id
		AND c.id = ac.goods_category_id
		AND c.id = #{cId}
		and a.type=#{type}
	</select>
	<select id="loadAttributeVo" resultType="com.chauncy.data.vo.manage.product.SearchAttributeVo">
		SELECT  a.id id,a.name name,IF(ac.id is null,false,true) is_select
		FROM pm_goods_attribute a
		left join pm_goods_rel_attribute_category ac on
		a.id = ac.goods_attribute_id
		<if test="t.categoryId!=null and t.categoryId!=0">
			and ac.goods_category_id=#{t.categoryId}
		</if>
		where `type`=#{t.type}
		<if test="t.name!=null and t.name!=''">
			and a.name like concat('%',#{t.name},'%')
		</if>
		and if(ac.del_flag is null ,1=1,ac.del_flag = 0)
		and a.del_flag=0
	</select>
	<select id="loadList" resultType="com.chauncy.data.vo.manage.product.SearchCategoryVo">
		 WITH RECURSIVE childrenIds (id,name,sort,icon,enabled,level,parent_id) AS
        (
        (SELECT id,name,sort,icon,enabled,level,parent_id
        FROM pm_goods_category
        WHERE
            del_flag=0 and level=1
            <if test="t.name!=null and t.name!=''">
		         and name like concat('%',#{t.name},'%')
			</if>
			<if test="t.id!=null and t.id!=0">
				and id=#{t.id}
			</if>
			<if test="t.enabled!=null">
				and enabled=#{t.enabled}
			</if>
		order by sort desc
		limit #{offset},#{pageSize}
		)
        UNION ALL
        SELECT c.id,c.name,c.sort,c.icon,c.enabled,c.level,c.parent_id
        FROM childrenIds AS p JOIN pm_goods_category AS c
        ON p.id = c.parent_id
        where c.del_flag=0
        )
        SELECT id,name,sort,icon,enabled,level,parent_id FROM childrenIds
	</select>
	<select id="loadCount" resultType="java.lang.Integer">
		SELECT count(*)
		FROM pm_goods_category
		WHERE
		del_flag=0 and level=1
		<if test="t.name!=null and t.name!=''">
			and name like concat('%',#{t.name},'%')
		</if>
		<if test="t.id!=null and t.id!=0">
			and id=#{t.id}
		</if>
		<if test="t.enabled!=null">
			and enabled=#{t.enabled}
		</if>
	</select>


</mapper>
