<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.product.PmGoodsAttributeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.product.PmGoodsAttributePo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="update_time" property="updateTime"/>
        <result column="content" property="content"/>
        <result column="remark" property="remark"/>
        <result column="enabled" property="enabled"/>
        <result column="type" property="type"/>
        <result column="subtitle" property="subtitle"/>
        <result column="logo_image" property="logoImage"/>
        <result column="logo_icon" property="logoIcon"/>
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <sql id="find">

    </sql>

    <select id="findByTypeAndName" resultType="com.chauncy.data.domain.po.product.PmGoodsAttributePo">
        select * from pm_goods_attribute
        <where>
            <if test="type != null and type !=''">
                and type = #{type}
            </if>
            <if test="name != null and name !=''">
                and name = #{name}
            </if>
            and del_flag = 0
        </where>

    </select>
    
    <select id="search" resultType="com.chauncy.data.domain.po.product.PmGoodsAttributePo">
        select * from pm_goods_attribute
        <where>
            <if test="type !=null and type !=''">
               type = #{type}
            </if>
            <if test="name != null and name !=''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="enabled != null">
                and enabled = #{enabled}
            </if>
            and del_flag = 0
        </where>
    </select>

    <select id="findByType" resultType="com.chauncy.data.domain.po.product.PmGoodsAttributePo">
      select * from pm_goods_attribute
      where type = #{type} and del_flag = 0
    </select>


</mapper>
