<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.product.PmGoodsAttributeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.product.PmGoodsAttributePo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="update_time" property="updateTime"/>
        <result column="content" property="content"/>
        <result column="remark" property="remark"/>
        <result column="enabled" property="enabled"/>
        <result column="type" property="type"/>
        <result column="subtitle" property="subtitle"/>
        <result column="logo_image" property="logoImage"/>
        <result column="logo_icon" property="logoIcon"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="store_id" property="storeId"/>
        <result column="collection_num" property="collectionNum"/>
    </resultMap>

    <sql id="find">

    </sql>

    <select id="findByTypeAndName" resultType="com.chauncy.data.domain.po.product.PmGoodsAttributePo">
        select * from pm_goods_attribute
        <where>
            <if test="type != null and type !=''">
                and type = #{type}
            </if>
            <if test="name != null and name !=''">
                and name = #{name}
            </if>
            and del_flag = 0
        </where>

    </select>

    <select id="findByCondition" resultType="com.chauncy.data.vo.manage.product.PmGoodsAttributeVo">
        select * from pm_goods_attribute
        <where>
            <if test="type !=null and type !=''">
                type = #{type}
            </if>
            <if test="name != null and name !=''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="enabled != null">
                and enabled = #{enabled}
            </if>
            and del_flag = 0
        </where>
        order by id desc
    </select>


    <select id="loadByCategoryId" resultType="com.chauncy.data.domain.po.product.PmGoodsAttributePo">
       SELECT a.* FROM `pm_goods` g,pm_goods_rel_attribute_good ag,pm_goods_attribute a
       where g.goods_category_id=#{categoryId} and g.id=ag.goods_good_id
       and g.del_flag=0 and ag.del_flag=0 and a.del_flag=0 and a.id=ag.goods_attribute_id
       and a.type in(1,3,6,7)
       union all
       SELECT
         a.*
        FROM
         `pm_goods` g,
            pm_goods_rel_attribute_value_good ag,
            pm_goods_attribute a,
            pm_goods_attribute_value av
        WHERE
             g.id = ag.goods_id
            AND g.del_flag = 0
            AND ag.del_flag = 0
            AND a.del_flag = 0
            AND av.del_flag = 0
            AND av.id = ag.goods_attribute_value_id
            AND a.id = av.product_attribute_id
            AND g.goods_category_id = #{categoryId}

    </select>

    <select id="findAttByTypeAndCat" resultType="com.chauncy.data.vo.BaseVo">
        SELECT b.id,b.name
        FROM pm_goods_rel_attribute_category a, pm_goods_attribute b
        where a.del_flag = 0 and b.type=#{type} and a.goods_category_id= #{categoryId} and a.goods_attribute_id = b.id and b.enabled = 1
    </select>

    <!--<resultMap id="GoodsStandardVo" type="com.chauncy.data.vo.supplier.GoodsStandardVo   <result column="value_name" property="valueName"/>
        <result column="value" property="value" javaType="java.util.List" jdbcType="VARCHAR" typeHandler="com.chauncy.web.config.mybatisplus.StringToListTypeHandler"/>
    </resultMap>-->

    <select id="findStandardName" resultType="com.chauncy.data.bo.base.BaseBo">
        select b.id,b.name
        from pm_goods_rel_attribute_category a ,pm_goods_attribute b
        where a.goods_category_id = #{categoryId} and a.goods_attribute_id = b.id and b.type =7 and b.enabled = 1 and a.del_flag = 0
        GROUP BY b.id,b.name
        order by  b.id
    </select>
    <select id="loadAttributeIdNameTypeVos"
            resultType="com.chauncy.data.vo.manage.product.AttributeIdNameTypeVo">
        select id,name,type
        from pm_goods_attribute
        where del_flag=0 AND enabled=1
        and type in
        <foreach collection="types" item="type" separator="," open="(" close=")">
            #{type}
        </foreach>

    </select>
    <select id="findAttByType" resultType="com.chauncy.data.vo.BaseVo">
        select *
        from pm_goods_attribute
        where del_flag = 0 and enabled = 1 and type = #{type}
    </select>

    <select id="getBrandList" resultType="com.chauncy.data.vo.app.brand.BrandInfoVo">
        select DISTINCT d.name as category_name,b.id as brand_id,b.logo_image as brand_picture,b.name as brand_name
        from pm_goods a,pm_goods_attribute b,pm_goods_rel_attribute_good c,pm_goods_category d
        where a.goods_category_id = #{categoryId}
        and b.id = c.goods_attribute_id and c.goods_good_id = a.id and b.type = 8 and a.del_flag=0 and b.del_flag=0
        and c.del_flag=0 and d.del_flag=0 and d.id = a.goods_category_id
    </select>

    <select id="getThirdCategory" resultType="com.chauncy.data.vo.app.brand.BrandListVo">
        select a.id as categoryId,a.name as categoryName
        from pm_goods_category a
        where a.del_flag=0 and a.parent_id in(SELECT id from pm_goods_category where parent_id =#{categoryId})
    </select>

    <select id="getBrandGoodsList" resultType="com.chauncy.data.vo.app.brand.GoodsVo">
        <!-- list a.id as goodsId,a.name as goodsName,a.sales_volume as salesVolume
        from pm_goods a, pm_goods_rel_attribute_good as b
        where b.goods_attribute_id = #{brandId} and a.goods_category_id = #{categoryId}
        and b.goods_good_id = a.id and a.del_flag = 0 and b.del_flag = 0-->
        select a.id as goods_id,a.name as goods_name,c.sales_volume,c.line_price,c.sell_price as sale_price
        from pm_goods a, pm_goods_rel_attribute_good as b,pm_goods_sku as c
        where b.goods_attribute_id = #{brandId} and a.goods_category_id = #{categoryId}
        and b.goods_good_id = a.id and c.goods_id = a.id and c.sell_price = (select min(sell_price) from pm_goods_sku as
        d where d.goods_id =a.id and del_flag=0)
        and a.del_flag = 0 and b.del_flag = 0 and c.del_flag = 0
        <if test="sortFile.equals('PRICE_SORT') ">
            order by sale_price
        </if>
        <if test="sortFile.equals('COMPREHENSIVE_SORT')">
            order by c.sales_volume
        </if>
        <if test="sortFile.equals('SALES_SORT')">
            order by c.sales_volume
        </if>
        <if test="sortWay !=null and sortWay !='' ">
            ${sortWay}
        </if>
    </select>

    <select id="searchBrands" resultType="com.chauncy.data.vo.BaseVo">
        select id,name
        from pm_goods_attribute
        where enabled = 1 and del_flag = 0 and type = 8
        <if test="idList != null">
            and id not in
            <foreach item="item" collection="idList" separator="," open="(" close=")" index="">#{item}
            </foreach>
        </if>
        <if test="name!=null and name!=''">
            and name like concat('%', #{name}, '%')
        </if>
    </select>
    <select id="findAttByTypeAndStore" resultType="com.chauncy.data.vo.BaseVo">
        select DISTINCT pga.id,pga.name
        from pm_goods_attribute pga,sm_store_rel_attribute ssra
        where ssra.del_flag = 0 and ssra.attribute_id = pga.id and pga.del_flag = 0 and pga.enabled = 1
        and pga.type = #{type}
        <if test="storeId != null">
            and storeId = #{storeId}
        </if>
    </select>


</mapper>
