<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.product.PmMoneyShippingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.product.PmMoneyShippingPo">
        <id column="id" property="id" />
        <!-- <result column="default_freight" property="defaultFreight" />
        <result column="default_full_money" property="defaultFullMoney" />
         <result column="default_post_money" property="defaultPostMoney" />-->
        <result column="destination_id" property="destinationId" />
        <result column="destination_basis_freight" property="destinationBasisFreight" />
        <result column="destination_full_money" property="destinationFullMoney" />
        <result column="destination_post_money" property="destinationPostMoney" />
        <result column="shipping_id" property="shippingId" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>
    <select id="loadByTemplateId" resultType="com.chauncy.data.bo.app.car.MoneyShipBo">
        select t.id,m.destination_id,m.destination_basis_freight,destination_full_money,
        default_full_money,default_post_money,default_freight,destination_post_money
        from pm_shipping_template t,pm_money_shipping m
        where t.id=m.shipping_id and t.del_flag=0 and m.del_flag=0
        and t.id=#{id}
    </select>

</mapper>
