<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.product.PmShippingTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.product.PmShippingTemplatePo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="is_free_postage" property="isFreePostage" />
        <result column="product_address_id" property="productAddressId" />
        <result column="calculate_way" property="calculateWay" />
        <result column="type" property="type" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="default_freight" property="defaultFreight" />
        <result column="default_full_money" property="defaultFullMoney" />
        <result column="default_post_money" property="defaultPostMoney" />
        <result column="default_max_number" property="defaultMaxNumber" />
        <result column="default_max_number_money" property="defaultMaxNumberMoney" />
        <result column="default_addtional_number" property="defaultAddtionalNumber" />
        <result column="default_addtional_freight" property="defaultAddtionalFreight" />
        <result column="verify_status" property="verifyStatus" />
        <result column="submit_time" property="submitTime" />
        <result column="verify_time" property="verifyTime" />
        <result column="auditor" property="auditor" />
        <result column="store_id" property="storeId" />
    </resultMap>

    <resultMap id="ShipResult" type="com.chauncy.data.vo.manage.ship.PlatTemplateVo">
        <id column="template_id" property="templateId" />
        <result column="template_name" property="templateName" />
        <result column="product_address_id" property="productAddressId" />
        <result column="dispatch" property="dispatch" />
        <result column="calculate_way" property="calculateWay" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="default_freight" property="defaultFreight" />
        <result column="default_full_money" property="defaultFullMoney" />
        <result column="default_post_money" property="defaultPostMoney" />
        <result column="store_id" property="storeId" />
        <result column="store_name" property="storeName" />
        <result column="submit_time" property="submitTime" />
        <result column="verify_time" property="verifyTime" />
        <result column="verify_status" property="verifyStatus" />
        <result column="auditor" property="auditor" />
        <!-- collection定义关联集合类型的属性封装规则
        offType:指定集合中的元素类型
        -->
        <collection property="amountCalculateList" column="template_id" select="com.chauncy.data.mapper.product.PmShippingTemplateMapper.getAmountCalculateList">
        </collection>
        <collection property="numberCalculateList" column="template_id" select="com.chauncy.data.mapper.product.PmShippingTemplateMapper.getNumberCalculateList">
        </collection>


    <!--<collection property="amountCalculateList" ofType="com.chauncy.data.vo.manage.ship.AmountVo">
        <result column="destination_id" property="destinationId" />
        <result column="destination_basis_freight" property="destinationBasisFreight" />
        <result column="destination_full_money" property="destinationFullMoney" />
        <result column="destination_post_money" property="destinationPostMoney" />
        <result column="destinationName" property="destinationName" />
        <result column="amountId" property="amountId" />
    </collection>

    <collection property="numberCalculateList" ofType="com.chauncy.data.vo.manage.ship.NumberVo">
        <result column="destinationIdd" property="destinationIdd" />
        <result column="destination_max_number" property="destinationMaxNumber" />
        <result column="destination_max_number_money" property="destinationMaxNumberMoney" />
        <result column="destination_addtional_number" property="destinationAddtionalNumber" />
        <result column="destination_addtional_freight" property="destinationAddtionalFreight" />
        <result column="destinationNamee" property="destinationNamee" />
        <result column="numberId" property="numberId" />
    </collection>-->
</resultMap>

    <!--<select id="getAmountCalculateList" resultType="com.chauncy.data.vo.manage.ship.AmountVo">
        SELECT a.id as amount_id,destination_id,merger_name as destination_name,destination_basis_freight,destination_full_money,destination_post_money
        FROM pm_money_shipping a,area_region b
        WHERE shipping_id = #{template_id} and a.destination_id = b.id
    </select>

    <select id="getNumberCalculateList" resultType="com.chauncy.data.vo.manage.ship.NumberVo">
        SELECT a.id as number_id,destination_id as destination_idd,merger_name as destination_namee,destination_max_number,destination_max_number_money,destination_addtional_number,destination_addtional_freight
        FROM pm_number_shipping a,area_region b
        WHERE shipping_id = #{template_id} and a.destination_id = b.id
    </select>-->

<!--<resultMap id="Amount" type="com.chauncy.data.vo.manage.ship.PlatTemplateVo" extends="ShipResult">

    <collection property="amountCalculateList" ofType="com.chauncy.data.vo.manage.ship.AmountVo">
        <result column="destination_id" property="destinationId" />
        <result column="destination_basis_freight" property="destinationBasisFreight" />
        <result column="destination_full_money" property="destinationFullMoney" />
        <result column="destination_post_money" property="destinationPostMoney" />
        <result column="destinationName" property="destinationName" />
        <result column="amountId" property="amountId" />
    </collection>
</resultMap>

<resultMap id="Number" type="com.chauncy.data.vo.manage.ship.PlatTemplateVo" extends="ShipResult">

    <collection property="numberCalculateList" ofType="com.chauncy.data.vo.manage.ship.NumberVo">
        <result column="destination_id" property="destinationId" />
        <result column="destination_max_number" property="destinationMaxNumber" />
        <result column="destination_max_number_money" property="destinationMaxNumberMoney" />
        <result column="destination_addtional_number" property="destinationAddtionalNumber" />
        <result column="destination_addtional_freight" property="destinationAddtionalFreight" />
        <result column="destinationName" property="destinationName" />
        <result column="numberId" property="numberId" />
    </collection>
</resultMap>-->

    <!--<select id="searchPlatTempByConditions" resultMap="ShipResult">
        select a.id as template_id,a.name as template_name,a.product_address_id,c1.merger_name as dispatch,a.calculate_way,
        a.create_by,a.create_time,a.default_freight,a.default_full_money,a.default_post_money,a.default_max_number,a.default_max_number_money,a.default_addtional_number,a.default_addtional_freight,
        b.id as amount_id,b.destination_id,d.destination_id as destination_idd,b.destination_basis_freight,b.destination_full_money,b.destination_post_money,
        c.merger_name as destination_name,c2.merger_name as destination_namee,
        d.destination_addtional_freight,d.destination_addtional_number,d.destination_max_number,d.destination_max_number_money,d.id as number_id,
        e.id as store_id,e.name as store_name,a.submit_time,a.verify_time,a.verify_status,a.auditor
        from pm_shipping_template a
        left join pm_money_shipping b on a.id=b.shipping_id
        left join pm_number_shipping d on a.id = d.shipping_id
        left join area_region c on b.destination_id=c.id
        left join area_region c1 on c1.id = a.product_address_id
        left join area_region c2 on c2.id = d.destination_id
        left join sm_store e on (e.id = a.store_id and e.del_flag=0)
        <where>
            a.del_flag=0 and IF(b.del_flag is null,b.del_flag is null,b.del_flag = 0)
            and IF(d.del_flag is null,d.del_flag is null,d.del_flag = 0)
            <if test="type !=null">
                and a.type=#{type}
            </if>
            <if test="name !=null and name!=''">
                and a.name like concat('%', #{name}, '%')
            </if>
            <if test="createTime !=null">
                and DATE_FORMAT(a.create_time,'%Y-%m-%d')=#{createTime}
            </if>
            <if test="submitTime !=null">
                and DATE_FORMAT(a.submit_time,'%Y-%m-%d')=#{submitTime}
            </if>
            <if test="verifyTime !=null">
                and DATE_FORMAT(a.verify_time,'%Y-%m-%d')=#{verifyTime}
            </if>
            <if test="verifyStatus !=null">
                and a.verify_status=#{verifyStatus}
            </if>
            <if test="storeId !=null">
                and a.store_id=#{storeId}
            </if>
            <if test="storeName !=null and storeName!=''">
                and e.name like concat('%', #{storeName}, '%')
            </if>
        </where>
    </select>-->
    <select id="findByType" resultType="com.chauncy.data.vo.BaseVo">

        select id,name
        from pm_shipping_template
        where type = #{type}
        and enable = 1
        and del_flag = 0
        <if test="type == 2 and storeId != null">
            and store_id = #{storeId}
        </if>
    </select>
    <select id="searchPlatTempByConditions" resultType="com.chauncy.data.vo.manage.ship.PlatTemplateVo">

        select a.id as template_id,a.name as template_name,a.product_address_id,c1.merger_name as dispatch,a.calculate_way,
        a.create_by,a.create_time,a.default_freight,a.default_full_money,a.default_post_money,a.default_max_number,a.default_max_number_money,a.default_addtional_number,a.default_addtional_freight,
        e.id as store_id,e.name as store_name,a.submit_time,a.verify_time,a.verify_status,a.auditor,a.content,a.enable
        from pm_shipping_template a
        left join area_region c1 on c1.id = a.product_address_id
        left join sm_store e on (e.id = a.store_id and e.del_flag=0)
        <where>
            a.del_flag=0
            <if test="type !=null">
                and a.type=#{type}
            </if>
            <if test="name !=null and name!=''">
                and a.name like concat('%', #{name}, '%')
            </if>
            <if test="createTime !=null">
                and DATE_FORMAT(a.create_time,'%Y-%m-%d') &gt;= #{createTime}
            </if>
            <if test="createEndTime !=null">
                and DATE_FORMAT(a.create_time,'%Y-%m-%d') &lt;= #{createEndTime}
            </if>
            <if test="submitTime !=null">
                and DATE_FORMAT(a.submit_time,'%Y-%m-%d') &gt;= #{submitTime}
            </if>
            <if test="submitEndTime !=null">
                and DATE_FORMAT(a.submit_time,'%Y-%m-%d') &lt;= #{submitEndTime}
            </if>
            <if test="verifyTime !=null">
                and DATE_FORMAT(a.verify_time,'%Y-%m-%d') &gt;= #{verifyTime}
            </if>
            <if test="verifyEndTime !=null">
                and DATE_FORMAT(a.verify_time,'%Y-%m-%d') &lt;= #{verifyEndTime}
            </if>
            <if test="verifyStatus !=null">
                and a.verify_status=#{verifyStatus}
            </if>
            <if test="storeId !=null">
                and a.store_id=#{storeId}
            </if>
            <if test="storeName !=null and storeName!=''">
                and e.name like concat('%', #{storeName}, '%')
            </if>
        </where>

    </select>
    <select id="getAmountCalculateList" resultType="com.chauncy.data.vo.manage.ship.AmountVo">
        SELECT a.id as amount_id,destination_id,merger_name as destination_name,destination_basis_freight,destination_full_money,destination_post_money
        FROM pm_money_shipping a,area_region b
        WHERE shipping_id = #{template_id} and a.destination_id = b.id and a.del_flag = 0
    </select>

    <select id="getNumberCalculateList" resultType="com.chauncy.data.vo.manage.ship.NumberVo">
        SELECT a.id as number_id,destination_id as destination_idd,merger_name as destination_namee,destination_max_number,destination_max_number_money,destination_addtional_number,destination_addtional_freight
        FROM pm_number_shipping a,area_region b
        WHERE shipping_id = #{template_id} and a.destination_id = b.id and a.del_flag = 0
    </select>

    <select id="findByGoodsId" resultType="com.chauncy.data.vo.app.goods.ShipFreightInfoVo">
        select a.id as template_id,calculate_way,default_freight,default_full_money,default_post_money,default_max_number,
        default_max_number_money,default_addtional_number,default_addtional_freight
        from pm_shipping_template a,pm_goods b
        where b.shipping_template_id = a.id and b.id = #{goodsId}
    </select>

</mapper>
