<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.store.rel.SmStoreRelStoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.store.rel.SmStoreRelStorePo">
        <id column="id" property="id" />
        <result column="store_id" property="storeId" />
        <result column="parent_id" property="parentId" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, store_id, parent_id, type, create_time, create_by, update_time, update_by, del_flag
    </sql>
    <select id="selectStoreRelCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sm_store_rel_store ssrs
        WHERE
            (ssrs.`store_id` = #{storeId} AND ssrs.`parent_id` = #{parentId} AND ssrs.`type` = #{type}  AND ssrs.del_flag = 0)
    </select>

    <select id="getTeamWorkParentStoreId" resultType="java.lang.Long">
        SELECT parent_id
        FROM sm_store_rel_store
        WHERE DATE(create_time) <![CDATA[< ]]> #{startDate}
        AND (DATE(update_time) <![CDATA[>= ]]> #{endDate}  OR update_time IS NULL)
        AND store_id = #{storeId}
        AND `type` = 2
    </select>


</mapper>
