<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.message.information.sensitive.MmInformationSensitiveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.message.information.sensitive.MmInformationSensitivePo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, create_time, create_by, update_time, update_by, del_flag
    </sql>

    <select id="searchPaging" resultType="com.chauncy.data.vo.manage.message.information.sensitive.InformationSensitiveVo">
        select <include refid="Base_Column_List"/> from mm_information_sensitive
        <where>
            del_flag = 0
            <if test="id !=null and id !=''">
                and id = #{id}
            </if>
            <if test="name != null and name !=''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="enabled != null">
                and enabled =  #{enabled}
            </if>
        </where>
    </select>

</mapper>
