<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.sys.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.sys.SysRolePo">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="name" property="name" />
        <result column="del_flag" property="delFlag" />
        <result column="default_role" property="defaultRole" />
        <result column="description" property="description" />
        <result column="data_type" property="dataType" />
        <result column="level" property="level" />
        <result column="system_type" property="systemType" />
        <result column="store_id" property="storeId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        select id, create_by, create_time, update_by, update_time, name, del_flag, default_role, description, data_type, level ,system_type,store_id
        from sys_role
    </sql>

    <select id="findByDefaultRole" resultType="com.chauncy.data.domain.po.sys.SysRolePo">
        <include refid="Base_Column_List"/>
        where default_role = #{defaultRole}
    </select>
    <select id="getRoleByPage" resultType="com.chauncy.data.domain.po.sys.SysRolePo">
        select *
        from sys_role
        where del_flag = 0
        <if test="m.name !=null and m.name != ''">
            and name like concat('%', #{m.name}, '%')
        </if>
        <if test="storeId !=null">
            and store_id = #{storeId}
        </if>
        <if test="systemType !=null">
            and system_type = #{systemType}
        </if>
    </select>

</mapper>
