<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.message.interact.MmFeedBackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.message.interact.MmFeedBackPo">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="del_flag" property="delFlag" />
        <result column="user_id" property="userId" />
        <result column="content" property="content" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by, create_time, del_flag, user_id, content
    </sql>
    <select id="searchFeedBack"
            resultType="com.chauncy.data.vo.manage.message.interact.feedBack.SearchFeedBackVo">
        select user_id,create_by as nick_name,content,create_time as feed_time
        from mm_feed_back
        where del_flag = 0
            <if test="feedTime !=null">
               and DATE_FORMAT(create_time,'%Y-%m-%d') &gt;= #{feedTime}
            </if>
        <if test="endTime !=null">
            and DATE_FORMAT(create_time,'%Y-%m-%d') &lt;= #{endTime}
        </if>

    </select>

</mapper>
