<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.message.interact.MmUserNoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.message.interact.MmUserNoticePo">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="notice_type" property="noticeType" />
        <result column="is_read" property="isRead" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="picture" property="picture" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, notice_type, is_read, title, content, picture, create_time, create_by, del_flag
    </sql>
    <select id="getUnreadNoticeNum"
            resultType="com.chauncy.data.vo.app.message.information.interact.UnreadNoticeNumVo">
         SELECT
            SUM(mun.notice_type = 1) AS expressNum,
            SUM(mun.notice_type = 3) AS taskRewardNum ,
            (
                SELECT COUNT(1)
                FROM mm_interact_rel_message_object mirmo
                LEFT JOIN mm_interact_push mip
                ON mirmo.push_id  = mip.id
                WHERE mirmo.object_id = #{userId}
                AND mip.push_type = 'APP内消息中心推送'
                AND mirmo.is_read = 0
            ) AS systemNoticeNum1,
            (
                SELECT COUNT(1)
                FROM mm_interact_push mip, um_user uu
                WHERE uu.id = #{userId}
                AND mip.object_type = '全部用户'
                AND push_type = 'APP内消息中心推送'
                AND uu.create_time > mip.create_time
            ) AS systemNoticeNum2
         FROM mm_user_notice mun
         WHERE mun.user_id = #{userId}
         AND mun.is_read = 0
    </select>
    <select id="searchUserNoticeList"
            resultType="com.chauncy.data.vo.app.message.information.interact.UserNoticeListVo">
        SELECT mun.id
            mun.notice_type,
            mun.is_read,
            mun.title,
            mun.content,
            mun.picture,
            mun.create_time
        FROM mm_user_notice mun
        WHERE mun.`user_id` = #{userId}
        AND mun.`notice_type` = #{noticeType}
        ORDER BY mun.create_time DESC
    </select>

    <select id="searchUserSystemNoticeList"
            resultType="com.chauncy.data.vo.app.message.information.interact.UserNoticeListVo">

    </select>

</mapper>
