<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.message.interact.MmUserNoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.message.interact.MmUserNoticePo">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="notice_type" property="noticeType" />
        <result column="is_read" property="isRead" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="picture" property="picture" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, notice_type, is_read, title, content, picture, create_time, create_by, del_flag
    </sql>

    <select id="getWithdrawalLog" resultType="com.chauncy.data.bo.app.message.WithdrawalLogBo">
        SELECT ouw.id AS withdrawalId, oal.id AS logId, uu.id AS userId, uu.name AS userName
        FROM om_user_withdrawal ouw
        INNER JOIN om_account_log oal ON ouw.id = oal.om_rel_id AND oal.log_matter = #{logMatter}
        INNER JOIN um_user uu ON uu.id = oal.user_id
        WHERE ouw.id IN
        <foreach collection="withdrawalIdList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getUnreadNoticeNum"
            resultType="com.chauncy.data.vo.app.message.information.interact.UnreadNoticeNumVo">
         SELECT
            IFNULL(SUM(mun.notice_type = 1),0) AS expressNum,
            IFNULL(SUM(mun.notice_type = 3),0) AS taskRewardNum ,
            (
                SELECT
                    COUNT(1)
                FROM mm_interact_push mip
                LEFT JOIN mm_user_notice_rel_user munru
                ON mip.id = munru.push_id
                WHERE
                    mip.create_time  <![CDATA[> ]]>  #{readTime}
                    AND  (
                        munru.send_type = 1
                        OR
                        munru.send_type = 3 AND #{userLevel} <![CDATA[<= ]]>  munru.level
                        OR
                        munru.send_type = 2 AND munru.user_id =  #{userId}
                        )
            ) AS systemNoticeNum
         FROM mm_user_notice mun
         WHERE mun.user_id = #{userId}
         AND mun.is_read = 0
    </select>
    <select id="searchUserNoticeList"
            resultType="com.chauncy.data.vo.app.message.information.interact.UserNoticeListVo">
        SELECT mun.id,
            mun.notice_type,
            mun.is_read,
            mun.title,
            mun.content,
            mun.picture,
            mun.create_time as realCreateTime
        FROM mm_user_notice mun
        WHERE mun.`user_id` = #{userId}
        AND mun.`notice_type` = #{noticeType}
        ORDER BY mun.create_time DESC
    </select>

    <select id="searchUserSystemNoticeList"
            resultType="com.chauncy.data.vo.app.message.information.interact.UserNoticeListVo">
        SELECT
            mip.id,
            '2' AS noticeType,
            mip.title,
            mip.detail_html,
            '' AS picture,
            mip.create_time as realCreateTime
        FROM mm_interact_push mip
        INNER JOIN mm_user_notice_rel_user munru
        ON mip.id = munru.push_id
        WHERE (
            munru.send_type = 1
            OR
            munru.send_type = 3 AND  #{userLevel} <![CDATA[<= ]]>  munru.level
            OR
            munru.send_type = 2 AND munru.user_id =  #{userId}
        )
        ORDER BY mip.create_time DESC
    </select>

</mapper>
