<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.test.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.test.UserPO">
        <id column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="AGE" property="age"/>
        <result column="SALARY" property="salary"/>
    </resultMap>

    <sql id="findUsers">
        select id as 'id', ifnull(name,' ')as '名字', ifnull(age,' ')as '年龄', ifnull(salary,' ')as '薪水' from tb_user
    </sql>

    <select id="findByUserName" resultType="map" parameterType="string">
      select id as 'id', name as '名字', age as '年龄', salary as '薪水' from tb_user where name = #{username}
    </select>

     <select id="findByUserNamee" resultType="map" parameterType="string">
      select id as 'id', name as '名字', age as '年龄', salary as '薪水' from tb_user where name = #{username}
    </select>

    <select id="find" resultType="map" parameterType="string">
      <include refid="findUsers"></include>
    </select>

    <select id="findAll" resultType="list" parameterType="usersPO">
      select id as 'id', name as '名字', age as '年龄', salary as '薪水' from tb_user
    </select>

    <select id="findByAlls" resultType="map"  parameterType="string"><!--resultMap="BaseResultMap">-->
      select id as 'id', name as '名字', age as '年龄', salary as '薪水' from tb_user
--         select id , name , age, salary  from tb_user
    </select>

    <insert id="insert" parameterType="usersPO" useGeneratedKeys="true" keyProperty="id">
        insert into tb_user(
        <if test="name != null and name != ''">name,</if>
        <if test="age != null and age != 0">age,</if>
        <if test="salary != null and salary != ''">salary</if>
        )values(
        <if test="name != null and name != ''">#{name},</if>
        <if test="age != null and age != 0 ">#{age},</if>
        <if test="salary != null and salary != ''">#{salary}</if>
        )
    </insert>

</mapper>
