<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.activity.seckill.AmSeckillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.activity.seckill.AmSeckillPo">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="picture" property="picture" />
        <result column="member_level_id" property="memberLevelId" />
        <result column="registration_start_time" property="registrationStartTime" />
        <result column="registration_end_time" property="registrationEndTime" />
        <result column="activity_start_time" property="activityStartTime" />
        <result column="activity_end_time" property="activityEndTime" />
        <result column="activity_description" property="activityDescription" />
        <result column="activity_introduction" property="activityIntroduction" />
        <result column="activity_title" property="activityTitle" />
        <result column="discount_price_ratio" property="discountPriceRatio" />
        <result column="enable" property="enable" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, del_flag, name, sort, picture, member_level_id, registration_start_time, registration_end_time, activity_start_time, activity_end_time, activity_description, activity_introduction, activity_title, discount_price_ratio, enable
    </sql>

</mapper>
