<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.activity.seckill.AmSeckillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.activity.seckill.AmSeckillPo">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="picture" property="picture" />
        <result column="member_level_id" property="memberLevelId" />
        <result column="registration_start_time" property="registrationStartTime" />
        <result column="registration_end_time" property="registrationEndTime" />
        <result column="activity_start_time" property="activityStartTime" />
        <result column="activity_end_time" property="activityEndTime" />
        <result column="activity_description" property="activityDescription" />
        <result column="activity_introduction" property="activityIntroduction" />
        <result column="activity_title" property="activityTitle" />
        <result column="discount_price_ratio" property="discountPriceRatio" />
        <result column="enable" property="enable" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, del_flag, name, sort, picture, member_level_id, registration_start_time, registration_end_time, activity_start_time, activity_end_time, activity_description, activity_introduction, activity_title, discount_price_ratio, enable
    </sql>

    <select id="findGoodsCategory" resultType="com.chauncy.data.vo.BaseVo">
        WITH RECURSIVE parentIds (id,parent_id, `name`, `level`) AS
        (
            SELECT DISTINCT pgc.`id`, pgc.parent_id, pgc.name, pgc.`level`
            FROM am_seckill `as`
            INNER JOIN am_activity_rel_activity_goods aarag
            ON `as`.id = aarag.`activity_id` AND `as`.`del_flag` = 0
            AND `as`.`enable` = 1 AND `as`.activity_start_time = #{activityStartTime}
            AND aarag.`verify_status` = 3 AND aarag.`del_flag` = 0
            INNER JOIN pm_goods pg
            ON pg.id = aarag.`goods_id` AND pg.`publish_status` = 1
            INNER JOIN pm_goods_category pgc ON pg.goods_category_id = pgc.id
            UNION ALL
            SELECT pgc.id,pgc.parent_id,pgc.name, pgc.level
            FROM parentIds AS temp
            LEFT JOIN  pm_goods_category  AS pgc
            ON temp.parent_id = pgc.id
            WHERE pgc.del_flag=0
        )
        SELECT DISTINCT id,`name` FROM parentIds WHERE `level` = 1
    </select>

    <select id="searchActivityGoodsList" resultType="com.chauncy.data.vo.app.goods.SeckillGoodsVo">
        SELECT pg.id AS goodsId,
            pg.`name` AS goodsName,
            pg.`subtitle`,
            pg.icon,
            SUM(aargs.activity_stock) AS activityStock,
            SUM(aargs.sales_volume) AS salesVolume,
            MIN(aargs.activity_price) AS sellPrice,
            MIN(pgs.`sell_price`) AS linePrice,
            `as`.`activity_end_time`
        FROM am_seckill `as`
        INNER JOIN am_activity_rel_activity_goods aarag
        ON `as`.id = aarag.`activity_id` AND `as`.`del_flag` = 0
        AND `as`.`enable` = 1 AND `as`.activity_start_time = #{activityStartTime}
        AND aarag.`verify_status` = 3 AND aarag.`del_flag` = 0
        INNER JOIN pm_goods pg
        ON pg.id = aarag.`goods_id` AND pg.`publish_status` = 1
        INNER JOIN am_activity_rel_goods_sku aargs
        ON aarag.`id` = aargs.`rel_id` AND aargs.`del_flag` = 0
        INNER JOIN pm_goods_sku pgs
        ON pgs.id = aargs.`sku_id` AND pgs.`del_flag` = 0
        <if test="null != categoryId and categoryId != 0">
            INNER JOIN pm_goods_category pgc ON pgc.id = pg.goods_category_id
            INNER JOIN pm_goods_category pgc1 ON pgc1.id = pgc.parent_id
        </if>
        <where>
            <if test="null != categoryId and categoryId != 0">
                AND pgc1.parent_id = #{categoryId}
            </if>
        </where>
        GROUP BY `as`.`activity_end_time`, pg.`id`
    </select>

    <select id="getSeckillTimeQuantum" resultType="com.chauncy.data.vo.app.activity.seckill.SeckillTimeQuantumVo">
        SELECT DISTINCT `as`.create_time AS activityTime
        FROM am_seckill `as`
        <where>
             `as`.del_flag = 0
            AND `as`.enable = 1
            AND `as`.activity_start_time <![CDATA[>= ]]>  #{startDateTime}
            AND `as`.activity_start_time <![CDATA[<= ]]> #{endDateTime}
            AND EXISTS(
                SELECT aarag.id
                FROM am_activity_rel_activity_goods aarag
                WHERE aarag.`activity_id` = `as`.id
                AND aarag.del_flag = 0
                AND aarag.verify_status = 3
            )
        </where>
        ORDER BY `as`.create_time DESC
    </select>

    <select id="searchSeckillList" resultType="com.chauncy.data.vo.manage.activity.SearchActivityListVo">
        select a.*,c.level_name as member_name
        from am_seckill a,pm_member_level c
        where a.del_flag = 0 and a.member_level_id = c.id
        <if test="id != null">
            and a.id = #{id}
        </if>
        <if test="name != null and name != ''">
            and a.name like concat('%', #{name} ,'%')
        </if>
        <if test="activityStatus != null">
            <if test="activityStatus == 1">
                and a.activity_start_time &gt; now()
            </if>
            <if test="activityStatus == 2">
                and a.activity_start_time &lt;= now() and now() &gt;= a.activity_end_time
            </if>
            <if test="activityStatus == 4">
                and now() &lt; a.activity_end_time
            </if>
        </if>
        <if test="registrationStatus != null">
            <if test="registrationStatus == 1">
                and a.registration_start_time &gt; now()
            </if>
            <if test="registrationStatus == 3">
                and a.registration_start_time &lt;= now() and now() &gt;= a.registration_end_time
            </if>
            <if test="registrationStatus == 4">
                and a.registration_start_time &gt; now()
            </if>
        </if>
        <if test="activityStartTime != null">
            and activity_start_time &gt;= #{activityStartTime}
        </if>
        <if test="activityEndTime != null">
            and activity_end_time &lt;= #{activityEndTime}
        </if>
        <if test="registrationStartTime != null">
            and registration_start_time &gt;= #{registrationStartTime}
        </if>
        <if test="registrationEndTime != null">
            and registration_end_time &lt;= #{registrationEndTime}
        </if>
        <if test="groupId != null">
            and group_id = #{groupId}
        </if>
        <if test="title != null and title != ''">
            and title like concat('%', #{title} ,'%')
        </if>
        <if test="subtitle != null and subtitle != ''">
            and subtitle like concat('%', #{subtitle} ,'%')
        </if>

    </select>
    <select id="findSeckillById" resultType="com.chauncy.data.vo.manage.activity.SearchActivityListVo">
        select <include refid="Base_Column_List"></include>
        ,( CASE WHEN ( now( ) &lt; registration_start_time ) THEN '待开始' WHEN ( now( ) &gt; registration_end_time ) THEN '已结束' ELSE '报名中' END ) AS registration_status,
        ( CASE WHEN ( now( ) &lt; activity_start_time ) THEN '待开始' WHEN ( now( ) &gt; activity_end_time ) THEN '已结束' ELSE '活动中' END ) AS activity_status
        from am_seckill
        where id = #{id}
    </select>

</mapper>
