<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.activity.coupon.AmCouponRelCouponGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.activity.coupon.AmCouponRelCouponGoodsPo">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="association_id" property="associationId" />
        <result column="coupon_id" property="couponId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, goods_id, coupon_id
    </sql>
    <select id="findUserCouponList" resultType="com.chauncy.data.vo.app.advice.coupon.FindCouponListVo">
        SELECT ac.id AS coupon_id,ac.NAME,ac.type,ac.discount,ac.discount_full_money,ac.reduction_full_money,
            ac.reduction_post_money,ac.total_num,stock, ac.every_limit_num, TRUE AS isReceive
        FROM am_coupon ac
        INNER JOIN am_coupon_rel_coupon_user acrcu ON ac.id = acrcu.coupon_id
        WHERE ac.id = #{couponId}
        AND acrcu.user_id = #{userId}
        AND acrcu.use_status = 2
    </select>
    <select id="findCouponList" resultType="com.chauncy.data.vo.app.advice.coupon.FindCouponListVo">
        <!-- 优惠券指定商品 -->
        SELECT ac.id AS coupon_id,ac.NAME,ac.type,ac.discount,ac.discount_full_money,ac.reduction_full_money,ac.reduction_post_money,ac.total_num,stock, ac.every_limit_num
        FROM am_coupon ac
        INNER JOIN am_coupon_rel_coupon_goods acrcg ON acrcg.coupon_id = ac.id AND acrcg.association_id = #{goodsId}
        LEFT JOIN pm_member_level pml ON ac.level_id = pml.id
        WHERE ac.del_flag = 0 AND pml.del_flag = 0 AND pml.`level`<![CDATA[<= ]]>  #{level}
        <!-- 优惠券指定所有用户 -->
        UNION
        SELECT ac.id AS coupon_id,ac.NAME,ac.type,ac.discount,ac.discount_full_money,ac.reduction_full_money,ac.reduction_post_money,ac.total_num,stock, ac.every_limit_num
        FROM am_coupon ac
        INNER JOIN am_coupon_rel_coupon_goods acrcg ON acrcg.coupon_id = ac.id
        WHERE acrcg.association_id = #{goodsId} AND ac.level_id = 0 AND  ac.del_flag = 0
        <!-- 包邮券指定所有商品 -->
        <!-- UNION
        SELECT ac.id AS coupon_id,ac.NAME,ac.type,ac.discount,ac.discount_full_money,ac.reduction_full_money,ac.reduction_post_money,ac.total_num,stock, ac.every_limit_num
        FROM am_coupon ac
        LEFT JOIN pm_member_level pml ON ac.level_id = pml.id
        WHERE ac.del_flag = 0 AND pml.del_flag = 0 AND pml.`level`<![CDATA[<= ]]>  #{level} and ac.scope = 1
        -->
        <!-- 包邮券指定分类商品 -->
        <!-- UNION
        SELECT ac.id AS coupon_id,ac.NAME,ac.type,ac.discount,ac.discount_full_money,ac.reduction_full_money,ac.reduction_post_money,ac.total_num,stock, ac.every_limit_num
        FROM am_coupon ac
        INNER JOIN am_coupon_rel_coupon_goods acrcg ON acrcg.coupon_id = ac.id AND acrcg.association_id = #{categoryId}
        LEFT JOIN pm_member_level pml ON ac.level_id = pml.id
        WHERE ac.del_flag = 0 AND pml.del_flag = 0 AND pml.`level`<![CDATA[<= ]]>  #{level}  and ac.scope = 2 -->
        <!-- select a.association_id as goods_id,a.coupon_id,b.name,b.type,b.discount,b.discount_full_money,b.reduction_full_money,b.reduction_post_money,
        c.receive_time,c.dead_line
        from am_coupon_rel_coupon_goods a,am_coupon b
        inner join am_coupon_rel_coupon_user c on b.id = c.coupon_id
        where b.del_flag = 0 and a.coupon_id  = b.id and a.association_id = #{goodsId} -->

    </select>
    <select id="findCouponList1" resultType="com.chauncy.data.vo.app.advice.coupon.FindCouponListVo">

        select a.association_id as goods_id,a.coupon_id,b.name,b.type,b.discount,b.discount_full_money,b.reduction_full_money,b.reduction_post_money,
        c.receive_time,c.dead_line
        from am_coupon_rel_coupon_goods a,am_coupon b
        inner join am_coupon_rel_coupon_user c on b.id = c.coupon_id
        where b.del_flag = 0 and b.scope = 1

    </select>
    <select id="findCouponList2" resultType="com.chauncy.data.vo.app.advice.coupon.FindCouponListVo">
        select a.association_id as goods_id,a.coupon_id,b.name,b.type,b.discount,b.discount_full_money,b.reduction_full_money,b.reduction_post_money,
        d.receive_time,d.dead_line
        from am_coupon_rel_coupon_goods a,pm_goods c,am_coupon b
        inner join am_coupon_rel_coupon_user d on b.id = d.coupon_id
        where b.del_flag = 0 and c.del_flag = 0 and b.scope = 2 and a.coupon_id = b.id
        and c.goods_category_id = a.association_id and c.id = #{goodsCategoryId}
    </select>
    <select id="isParticipateCoupon" resultType="com.chauncy.data.bo.supplier.activity.CouponActivityBo">

        select DISTINCT a.id as goodsId,a.name as goodsName,b.coupon_id,c.name as couponName
        from pm_goods a
        left join am_coupon_rel_coupon_goods b on b.association_id = a.id
        left join am_coupon c on c.id = b.coupon_id and c.del_flag = 0
        where a.del_flag = 0 and a.publish_status = 1 and b.id is not null and c.id is not null and a.id = #{goodsId}

    </select>

</mapper>
