<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.activity.coupon.AmCouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.activity.coupon.AmCouponPo">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="name" property="name" />
        <result column="total_num" property="totalNum" />
        <result column="every_limit_num" property="everyLimitNum" />
        <result column="level_id" property="levelId" />
        <result column="effective_day" property="effectiveDay" />
        <result column="type" property="type" />
        <result column="scope" property="scope" />
        <result column="stock" property="stock" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, del_flag, name, total_num, every_limit_num, level_id, effective_day, type, scope, stock
    </sql>
    <select id="searchCouponList" resultType="com.chauncy.data.vo.manage.activity.coupon.SearchCouponListVo">
        select a.id as coupon_id,a.name,a.enable,a.total_num,count(b.id) as receive_num,(a.total_num-count(b.id))as enable_num
        from am_coupon as a
        LEFT JOIN am_coupon_rel_coupon_user as b on a.id = b.coupon_id
        where a.del_flag = 0
        <if test="enable !=null">
            and a.enable = #{enable}
        </if>
        <if test="name !=null and name != ''">
            and a.name like concat('%', #{name}, '%')
        </if>
        <if test="type !=null">
            and a.type = #{type}
        </if>
        group by a.id
        having 1=1
        <if test="lowestUseNum !=null">
            and use_num &gt;= #{lowestUseNum}
        </if>
        <if test="highestUseNum !=null">
            and use_num &lt;= #{highestUseNum}
        </if>
        <if test="lowestNotUseNum !=null">
            and not_use_num &gt;= #{lowestUseNum}
        </if>
        <if test="highestNotUseNum !=null">
            and not_use_num &lt;= #{highestUseNum}
        </if>
    </select>
    <select id="searchReceiveRecord"
            resultType="com.chauncy.data.vo.manage.activity.coupon.SearchReceiveRecordVo">
        select c.id as user_id,a.name as coupon_name,c.name as user_name,c.phone,b.id as order_id,d.use_status,d.receive_time,b.create_time as use_time
        from am_coupon a,om_order b,um_user	c,am_coupon_rel_coupon_user d
        where a.id = b.coupon_id and a.del_flag	=0 and a.id =#{id} and c.id = b.um_user_id and d.user_id = c.id and d.coupon_id = a.id
            <if test="userId != null">
                and c.id = #{userId}
            </if>
            <if test="phone != null and phone != ''">
                and c.phone = #{phone}
            </if>
            <if test="useStatus != null">
                and d.use_status = #{useStatus}
            </if>

    </select>
    <select id="findCouponDetailById"
            resultType="com.chauncy.data.vo.manage.activity.coupon.FindCouponDetailByIdVo">
        SELECT a.name,a.total_num,a.every_limit_num,a.level_id,b.level_name,a.effective_day,a.type,a.scope
        from am_coupon a,pm_member_level b
        where a.level_id = b.id and a.id = #{id};
    </select>
    <select id="searchDetailCategory"
            resultType="com.chauncy.data.vo.manage.activity.coupon.SearchDetailAssociationsVo">
        select a.id as rel_id,b.id,b.name,b.level
        from am_coupon_rel_coupon_goods a,pm_goods_category b
        where a.coupon_id = #{id} and a.association_id = b.id
        <if test="searchId != null">
            and b.id = #{searchId}
        </if>
        <if test="name != null and name != ''">
            and b.name like concat('%', #{name} ,'%')
        </if>
    </select>
    <select id="searchDetailGoods"
            resultType="com.chauncy.data.vo.manage.activity.coupon.SearchDetailAssociationsVo">
        select a.id as rel_id,b.id,b.name,b.goods_category_id
        from am_coupon_rel_coupon_goods a,pm_goods b
        where a.coupon_id = #{id} and a.association_id = b.id
        <if test="searchId != null">
            and b.id = #{searchId}
        </if>
        <if test="name != null and name != ''">
            and b.name like concat('%', #{name} ,'%')
        </if>
    </select>

    <select id="findGoodsBaseByCondition" resultType="com.chauncy.data.vo.manage.common.goods.GoodsBaseVo">
        select a.id as goods_id,a.name as goods_name,b.id as category_id
        from pm_goods as a,pm_goods_category b
        <where>
            a.del_flag = 0 and b.del_flag=0 and a.goods_category_id = b.id and b.`level`=3
            <if test="ids !=null">
            and a.id not in
            <foreach collection="ids" close=")" open="(" separator="," item="id">
                #{id}
            </foreach>
            </if>
            <if test="t.goodsId != null">
                and a.id = #{goodsId}
            </if>
            <if test="t.goodsName != null and t.goodsName != '' ">
                and a.name like concat('%', #{goodsName}, '%')
            </if>
            <if test="t.categoryId != null">
                and b.id = #{categoryId}
            </if>
            <if test="t.categoryName != null and t.categoryName != '' ">
                and b.name like concat('%', #{categoryName}, '%')
            </if>
        </where>

    </select>
    <select id="findAllCoupon" resultType="com.chauncy.data.vo.BaseVo">
        select id,name
        from am_coupon
        where del_flag = 0
        <if test="name != null and name != ''">
            and name like concat('%',#{name},'%')
        </if>
    </select>

</mapper>