<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.activity.coupon.AmCouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.activity.coupon.AmCouponPo">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="name" property="name" />
        <result column="total_num" property="totalNum" />
        <result column="every_limit_num" property="everyLimitNum" />
        <result column="level_id" property="levelId" />
        <result column="effective_day" property="effectiveDay" />
        <result column="type" property="type" />
        <result column="scope" property="scope" />
        <result column="stock" property="stock" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, del_flag, name, total_num, every_limit_num, level_id, effective_day, type, scope, stock
    </sql>
    <select id="searchCouponList" resultType="com.chauncy.data.vo.manage.activity.coupon.SearchCouponListVo">
        select SUM(b.use_status = 1) AS use_num,SUM(b.use_status = 2) AS not_use_num, a.id as coupon_id,a.name,a.enable,a.total_num,count(b.id) as receive_num,(a.total_num-count(b.id))as enable_num
        from am_coupon as a
        LEFT JOIN am_coupon_rel_coupon_user as b on a.id = b.coupon_id
        where a.del_flag = 0
        <if test="id !=null">
            and a.id = #{id}
        </if>
        <if test="enable !=null">
            and a.enable = #{enable}
        </if>
        <if test="name !=null and name != ''">
            and a.name like concat('%', #{name}, '%')
        </if>
        <if test="type !=null">
            and a.type = #{type}
        </if>
        group by a.id
        having 1=1
        <if test="lowestUseNum !=null">
            and use_num &gt;= #{lowestUseNum}
        </if>
        <if test="highestUseNum !=null">
            and use_num &lt;= #{highestUseNum}
        </if>
        <if test="lowestNotUseNum !=null">
            and not_use_num &gt;= #{lowestNotUseNum}
        </if>
        <if test="highestNotUseNum !=null">
            and not_use_num &lt;= #{highestNotUseNum}
        </if>
    </select>
    <select id="searchReceiveRecord"
            resultType="com.chauncy.data.vo.manage.activity.coupon.SearchReceiveRecordVo">
        select c.id as user_id,a.name as coupon_name,c.name as user_name,c.phone,b.id as order_id,d.use_status,d.receive_time,b.create_time as use_time
        from am_coupon a
        inner join um_user c
        inner join am_coupon_rel_coupon_user d
        left join om_order b on a.id = b.coupon_id and c.id = b.um_user_id
        where  a.del_flag =0 and a.id =#{id} and d.user_id = c.id and d.coupon_id = a.id
            <if test="userId != null">
                and c.id = #{userId}
            </if>
            <if test="phone != null and phone != ''">
                and c.phone = #{phone}
            </if>
            <if test="useStatus != null">
                and d.use_status = #{useStatus}
            </if>

    </select>
    <select id="findCouponDetailById"
            resultType="com.chauncy.data.vo.manage.activity.coupon.FindCouponDetailByIdVo">
        SELECT a.id,a.name,a.total_num,a.every_limit_num,a.level_id,b.level_name,a.effective_day,a.type,a.scope,
        a.discount,a.discount_full_money,a.reduction_full_money,a.reduction_post_money
        from am_coupon a
        left join pm_member_level b on a.level_id = b.id
        where a.id = #{id};
    </select>
    <select id="searchDetailCategory"
            resultType="com.chauncy.data.vo.manage.activity.coupon.SearchDetailAssociationsVo">
        select a.id as rel_id,b.id,b.name,b.level
        from am_coupon_rel_coupon_goods a,pm_goods_category b
        where a.coupon_id = #{id} and a.association_id = b.id
        <if test="searchId != null">
            and b.id = #{searchId}
        </if>
        <if test="name != null and name != ''">
            and b.name like concat('%', #{name} ,'%')
        </if>
    </select>
    <select id="searchDetailGoods"
            resultType="com.chauncy.data.vo.manage.activity.coupon.SearchDetailAssociationsVo">
        select a.id as rel_id,b.id,b.name,b.goods_category_id
        from am_coupon_rel_coupon_goods a,pm_goods b
        where a.coupon_id = #{id} and a.association_id = b.id
        <if test="searchId != null">
            and b.id = #{searchId}
        </if>
        <if test="name != null and name != ''">
            and b.name like concat('%', #{name} ,'%')
        </if>
    </select>

    <select id="findGoodsBaseByCondition" resultType="com.chauncy.data.vo.manage.common.goods.GoodsBaseVo">

        select DISTINCT a.id as goods_id,a.name as goods_name,b.id as category_id,b.name as category_name
        FROM pm_goods a
        INNER JOIN pm_goods_category b ON a.goods_category_id = b.id
        WHERE a.del_flag = 0 AND b.del_flag = 0 AND a.publish_status = 1
        AND NOT EXISTS (
        SELECT 1 FROM am_coupon_rel_coupon_goods g ,am_coupon h where  h.id=g.coupon_id and  g.association_id = a.id  and h.enable = 1
        );
        <if test="t.goodsId != null">
            and a.id = #{t.goodsId}
        </if>
        <if test="t.goodsName != null and t.goodsName != '' ">
            and a.name like concat('%', #{t.goodsName}, '%')
        </if>
        <if test="t.categoryId != null">
            and b.id = #{t.categoryId}
        </if>
        <if test="t.categoryName != null and t.categoryName != '' ">
            and b.name like concat('%', #{t.categoryName}, '%')
        </if>

<!--        select a.id as goods_id,a.name as goods_name,b.id as category_id-->
<!--        from pm_goods as a,pm_goods_category b-->
<!--        <where>-->
<!--            a.del_flag = 0 and b.del_flag=0 and a.publish_status = 1 and a.goods_category_id = b.id and b.`level`=3-->
<!--            <if test="ids !=null and ids.size() != 0 ">-->
<!--            and a.id not in-->
<!--            <foreach collection="ids" close=")" open="(" separator="," item="id">-->
<!--                #{id}-->
<!--            </foreach>-->
<!--            </if>-->
<!--            <if test="t.goodsId != null">-->
<!--                and a.id = #{t.goodsId}-->
<!--            </if>-->
<!--            <if test="t.goodsName != null and t.goodsName != '' ">-->
<!--                and a.name like concat('%', #{t.goodsName}, '%')-->
<!--            </if>-->
<!--            <if test="t.categoryId != null">-->
<!--                and b.id = #{t.categoryId}-->
<!--            </if>-->
<!--            <if test="t.categoryName != null and t.categoryName != '' ">-->
<!--                and b.name like concat('%', #{t.categoryName}, '%')-->
<!--            </if>-->
<!--        </where>-->

    </select>
    <select id="findAllCoupon" resultType="com.chauncy.data.vo.BaseVo">
        select id,name
        from am_coupon
        where del_flag = 0
        <if test="name != null and name != ''">
            and name like concat('%',#{name},'%')
        </if>
    </select>
    <select id="getSelectCouPonVo" resultType="com.chauncy.data.vo.app.activity.coupon.SelectCouponVo">
        select u.id couponRelUserId,c.level_id,s.id skuId,s.sell_price sellPrice,c.id couponId,c.name,u.receive_time,dead_line,c.type,
        c.discount,c.discount_full_money,c.reduction_full_money,c.reduction_post_money
        FROM am_coupon c,am_coupon_rel_coupon_goods cg,am_coupon_rel_coupon_user u,pm_goods_sku s
        where c.del_flag=0 and s.del_flag=0 and c.id=cg.coupon_id and c.id=u.coupon_id and cg.association_id=s.goods_id and u.dead_line&gt;=NOW() and c.`enable`=1 and u.use_status=2
        and u.user_id=#{userId}  and s.id in
        <foreach collection="skuIds" close=")" open="(" separator="," item="skuId">
            #{skuId}
        </foreach>
        <if test="couponRelUserId!=null">
            and u.id=#{couponRelUserId}
        </if>
    </select>

</mapper>