<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.data.mapper.product.stock.PmGoodsVirtualStockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.data.domain.po.product.stock.PmGoodsVirtualStockPo">
        <id column="id" property="id" />
        <result column="store_id" property="storeId" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_sku_id" property="goodsSkuId" />
        <result column="stock_num" property="stockNum" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, store_id, goods_id, goods_sku_id, stock_num, create_by, create_time, update_by, update_time, del_flag
    </sql>

    <!-- 分配库存 修改库存信息 -->
    <update id="updateGoodsVirtualStock">
        update pm_goods_virtual_stock
        set stock_num = stock_num + #{distributeStockNum}
        where goods_sku_id = #{goodSkuId} and store_id = #{toStoreId};
        update pm_goods_virtual_stock
        set stock_num = stock_num - #{distributeStockNum}
        where goods_sku_id = #{goodSkuId} and store_id = #{fromStoreId} and stock_num >=  #{distributeStockNum};
    </update>

    <update id="deductionVirtualStock">
        update pm_goods_virtual_stock
        set stock_num = stock_num - #{num}
        where goods_sku_id = #{goodSkuId} and store_id = #{storeId} and stock_num >=  #{num};
    </update>

</mapper>
